@using Microsoft.AspNet.Identity
@using WebApplication4.Models


@model PromocionModel
    
@using (Html.BeginForm("RegisterPromocion", "Promocion", FormMethod.Post, new { }))
    {
        @Html.AntiForgeryToken()

       

        <div class="form-horizontal">
            @Html.ValidationSummary(true)
            <br>
            <div class="row form-group">
                @Html.LabelFor(model => model.fechaIni, new { @class = "col-md-3" })
               
                @Html.EditorFor(model => model.fechaIni, new { @class = "col-md-8" })
                @Html.ValidationMessageFor(model => model.fechaIni)
                
            </div>

            <div class="row form-group">
                @Html.LabelFor(model => model.fechaFin, new { @class = "col-md-3" })
                
                @Html.EditorFor(model => model.fechaFin, new { @class = "col-md-8" })
                @Html.ValidationMessageFor(model => model.fechaFin)
                
            </div>

            <br>
            <div class="row form-inline">
                <div class="col-md-3">
                    <label>Personalizado: </label>
                </div>                
                @Html.EditorFor(model => model.cantAdq, new { @class = "col-md-3" })
                @Html.ValidationMessageFor(model => model.cantAdq)
                
                
                <label>X</label>
                
                @Html.EditorFor(model => model.cantComp, new { @class = "col-md-3" })
                @Html.ValidationMessageFor(model => model.cantComp)

            </div><br> 

            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" value="Aceptar" class="btn btn-default btn-primary"/>
                    <button tyle="button" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Salir <span class="glyphicon glyphicon-log-out"></span> </button> 
                </div>
                               
            </div>
        </div>
    }
