@using Microsoft.AspNet.Identity
@using WebApplication4.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPersonal.cshtml";
    int idEvento=0;
    string nombre = null;
    if (ViewBag.idEvento != null) { 
        idEvento = int.Parse(ViewBag.idEvento);
    }
    if (Session["idEvento"] != null)
    {
        idEvento = (int)Session["idEvento"];
        nombre = (string)Session["nombreEvento"];
    }
}

<div class="container-fluid">
    <div class="col-md-5">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Evento")">Mantener evento</a></li>
            <li class="active">Registrar Promociones</li>
        </ol>
    </div>
</div>


<div class="container">

    <div class="row form-group">
        <label for="idEvento" class="control-label col-md-4">ID Evento:</label>
        <div class="col-md-8">
            <input id="eventoP" type="text" class="form-control" value=@idEvento disabled>
        </div>
    </div>

    <div class="row form-group">
        <label for="nombreEvento" class="control-label col-md-4">Nombre Evento:</label>
        <div class="col-md-8">
            <input type="text" class="form-control" placeholder="@nombre" disabled>
        </div>
    </div><br><br>

    <div class="row">
        <div class="col-md-10 col-sm-6 col-xs-6">
            <a class="btn btn-primary" href="#nuevaPromocion" data-toggle="modal">Agregar Cantidad<span class="glyphicon glyphicon-plus"></span></a>    
            <a class="btn btn-primary" href="#nuevaPromocion2" data-toggle="modal">Agregar Tarjeta<span class="glyphicon glyphicon-plus"></span></a> 
            <a class="btn btn-primary" data-toggle="modal" onclick="borrar()">Borrar<span class="glyphicon glyphicon-plus"></span></a>
        </div>

        <div class="col-md-2 col-sm-6 colxs-6">
            <a class="btn btn-danger pull-right" href="@Url.Action("Index", "Evento")"> salir <span class="glyphicon glyphicon-log-out"></span></a>
        </div>

    </div>
    <br>

    @{
        var db = new WebApplication4.Models.inf245netsoft();
        ViewBag.idEvento = idEvento;
        List<WebApplication4.Models.Promociones> listaPromo = db.Promociones.AsNoTracking().Where(c => c.codEvento == idEvento && c.estado == true).ToList();
    }

    <div class="row">
        <table id="mytable" class="table table-bordered table-hover">
            <thead>
                <tr class="thead">
                    <th>Codigo</th>
                    <th>Descripcion</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Fin</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="tbody">
                @foreach (var row in listaPromo)
                {
                    <tr id=@row.codPromo onclick="myFunction(this)">
                        <td>@row.codPromo</td>
                        <td>@row.descripcion</td>
                        <td>@row.fechaIni</td>
                        <td>@row.fechaFin</td>
                        <td><a href="@Url.Action("Delete2", "Promocion", new { id = row.codPromo, ide = row.codEvento })" class="btn btn-primary">Dar de Baja <span class="glyphicon glyphicon-remove"></span></a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<input type="hidden" id="idPromocionT" value="" />
<script>
    function myFunction(x) {
        if (document.getElementsByClassName("trselected").length > 0) {
            var element = document.getElementsByClassName("trselected");
            //element.item[0].cells[0].innerText;
            element[0].className = "";            
        }
        //var tabla = document.getElementById("mytable");
        //alert(x);
        //var y = x.getCells();
        var elem = document.getElementById("idPromocionT");
        elem.value = x.cells[0].innerHTML;
        //alert(x.cells[0].innerHTML);
        //ViewBag.P = x.cells[0].innerHTML;
        x.className = "trselected";

        //<a class="btn btn-primary" href="javascript:document.getElementsByClassName('trselected').submit()">Borrar<span class="glyphicon glyphicon-pencil"></span></a>
        //idProm = x.codp;
    }
    function borrar() {
        var evento = $('#eventoP').val();
        var promocion = $('#idPromocionT').val();
        //alert(evento);
        //alert(promocion);
        $.ajax({
            url: "@Url.Action("Delete","Promocion")",
            data: { evento: evento, promocion:promocion },
        success: function (data) {
            alert("Eliminado");
        },
        error: function () {
            alert("Error :(");
        }
    });
    }
</script>

<style>
    .trselected {
        background: gray;
    }
</style>


<div class="modal fade" id="nuevaPromocion">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button tyle="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-tittle">Promocion por Cantidad</h4>
            </div>

            <div class="modal-body">
                @{
                    Html.RenderPartial("_RegisterPartial");
                }
            </div> 

        </div>
    </div>
</div>

<div class="modal fade" id="nuevaPromocion2">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button tyle="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-tittle">Promocion por Tarjeta</h4>
            </div>

            <div class="modal-body">
                @{
                    Html.RenderPartial("_RegisterPartial2");
                }

            </div> 
            


        </div>
    </div>
</div>