@using Microsoft.AspNet.Identity
@using WebApplication4.Models

@model CategoriaEditModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutPersonal.cshtml";

    Categoria c = (Categoria)Session["categoria"];
    CategoriaEditModel cem = new CategoriaEditModel();
    cem.nombre = c.nombre;
    cem.descripcion = c.descripcion;
    cem.idCatPadre = (int)c.idCatPadre;
    cem.activo = (int)c.activo;
}

<h2>Editar Registro</h2>

<div class="modal-body">
    @using (Html.BeginForm("EditRegister", "Categoria", FormMethod.Post, new { }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true)
            <br>
            <div class="row form-group">
                @Html.LabelFor(model => model.nombre, new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.nombre, new { @placeholder = @c.nombre })
                    @Html.ValidationMessageFor(model => model.nombre)
                </div>
            </div>
            <div class="row form-group">
                @Html.LabelFor(model => model.descripcion, new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.descripcion, new { @placeholder = @c.descripcion })
                    @Html.ValidationMessageFor(model => model.descripcion)
                </div>
            </div>
            <br>
            <!--<div class="row form-group">
                @Html.LabelFor(model => model.idCatPadre, new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.idCatPadre, new { @placeholder = @c.idCatPadre })
                    @Html.ValidationMessageFor(model => model.idCatPadre)
                </div>
            </div>-->
            <div class="form-group">
                @Html.LabelFor(model => model.idCatPadre, new { @class = "control-label col-md-3" })
                <div class="col-md-5">
                    @Html.DropDownListFor(model => model.idCatPadre, @ViewBag.CatID as SelectList, "Categoria", new { @class = "form-control" })
                </div>
            </div><br><br>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-5">
                    <input type="submit" value="Aceptar" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
</div>
<script type="text/javascript" src="@Url.Content("/Scripts/CategoriaEvento/EditCategoriaEvento.js")"></script>