@using Microsoft@using Microsoft.AspNet.Identity
@using WebApplication4.Models

@model CategoriaModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPersonal.cshtml";
}

<div class="container-fluid">
    <div class="col-md-5">
        <ol class="breadcrumb">
            <li class="active">Mantenimiento de Categorías</li>
        </ol>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <a class="btn btn-primary" href="#formNuevo" data-toggle="modal">Nuevo <span class="glyphicon glyphicon-plus"></span></a>                
                @*@if (Session["Ina"] != null){-->*@
                        <a class="btn btn-primary" data-toggle="modal" onclick="redirigeCategoria()">Modificar<span class="glyphicon glyphicon-pencil"></span></a>
                        <a class="btn btn-primary" href="#eliminar" data-toggle="modal">Borrar<span class="glyphicon glyphicon-remove"></span></a>
                <!--}-->
                
                                
                @*@if (Session["Bus"] == null)
    {*@
                    <a class="btn btn-primary" href="#activar" data-toggle="modal" id="Activate">Activar<span class="glyphicon glyphicon-ok"></span></a>
                <!--}-->
            </div>
        </div>

        <div class="col-md-4">
            <form action="" class="" role="search">
                <div class="form-group">
                    <div class="input-group">
                        <input id="idBusq2" type="text" class="form-control" placeholder="BUSCAR UNA CATEGORÍA DE EVENTO">
                        <span class="input-group-btn"><button onclick="busca()" class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button></span>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-2">
            <a class="btn btn-danger pull-right" href="@Url.Action("Index2", "Home")">Salir <span class="glyphicon glyphicon-log-out"></span></a>
        </div>
    </div>
    @{
        Html.RenderPartial("_ViewIna");
    }
    @{
        var db = new WebApplication4.Models.inf245netsoft();
        List<WebApplication4.Models.Categoria> listaCategoria;
        if (Session["Ina"] == null) {
            if (Session["Bus"] == null)
            {
                if (Session["ListaC"] == null)
                {
                    listaCategoria = db.Categoria.AsNoTracking().Where(c => c.activo == 1 && c.nivel!=0).ToList();
                }
                else
                {
                    listaCategoria = (List<WebApplication4.Models.Categoria>)Session["ListaC"];
                    Session["ListaC"] = null;}
                }
            else
            {
                listaCategoria = (List<WebApplication4.Models.Categoria>)Session["Bus"];
                Session["ListaC"] = Session["Bus"];
                Session["Bus"] = null;
            }
        }
        else
        {
            listaCategoria = (List<WebApplication4.Models.Categoria>)Session["Ina"];
            Session["Ina"] = null;
        }/*
        if (Session["ListaC"] == null)
        {
            listaCategoria = db.Categoria.AsNoTracking().Where(c => c.activo == 1).ToList();
        }
        else
        {
            listaCategoria = (List<WebApplication4.Models.Categoria>)Session["ListaC"];
            Session["ListaC"] = null;
        }*/
    }

    <div class="row">
        <table id="mytable" class="table table-bordered table-hover">
            <thead>
                <tr class="thead">
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Id Padre</th>
                    <th>Nivel</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody id="tbody">
                @foreach (var row in listaCategoria)
                {
                    <tr id=@row.idCategoria onclick="myFunction(this)">
                        <td>@row.idCategoria</td>
                        <td>@row.nombre</td>
                        <td>@row.descripcion</td>
                        <td>@row.idCatPadre</td>
                        <td>@row.nivel</td>
                        <td>@row.activo</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<input type="hidden" id="idCategoria" value="" />
<script>
    function myFunction(x) {
        if (document.getElementsByClassName("trselected").length > 0) {
            var element = document.getElementsByClassName("trselected");
            //element.item[0].cells[0].innerText;
            element[0].className = "";
        }
        //var tabla = document.getElementById("mytable");
        //alert(x);
        //var y = x.getCells();
        var elem = document.getElementById("idCategoria");
        elem.value = x.cells[0].innerHTML;
        //alert(x.cells[0].innerHTML);
        //ViewBag.P = x.cells[0].innerHTML;
        x.className = "trselected";       
        //<a class="btn btn-primary" href="javascript:document.getElementsByClassName('trselected').submit()">Borrar<span class="glyphicon glyphicon-pencil"></span></a>
        //idProm = x.codp;
    }
    function borrar() {
        var categoria = $('#idCategoria').val();
        var el = document.getElementById(categoria);
        var row = $(el).closest('tr');
        //alert(evento);
        //alert(promocion);
        if (categoria != "" && categoria != null) {
            $.ajax({
                url: '/Categoria/Delete/',
                data: { categoria: categoria },
                success: function (data) {
                    //alert("Eliminado");
                    $('#eliminar').modal('hide');
                    row.remove();
                    //angular.element(document.getElementById('Activate'))[0].disabled = true;
                    window.location.href = '/Categoria/Index';
                },
                error: function () {
                    alert("Error :(");
                }
            });
        } else {
            alert("Seleccione una Categoria ");
            evento = "";
        }
    }
    function redirigeCategoria() {
        var categoria = $('#idCategoria').val();
        if (categoria != "") {
            window.location.href = '/Categoria/Edit?categoria=' + categoria;
        } else {
            alert("Seleccione una Categoria");
            evento = "";
        }
        //$.post('/Regalo/Edit/' + regalo);
    }
    function modificar() {
        var categoria = $('#idCategoria').val();
        //var el = document.getElementById(regalo);
        //var row = $(el).closest('tr');
        //alert(evento);
        //alert(promocion);
        $.ajax({
            url: '/Categoria/Edit/',
            data: { categoria: categoria },
            success: function (data) {
                //alert("Eliminado");
                //row.remove();
            },
            error: function () {
                alert("Error :(");
            }
        });
    }
    function closewindowEli() {
        $('#eliminar').modal('hide');
    }
    function closewindowAct() {
        $('#activar').modal('hide');
    }

    function activarArbol() {
        var categoria = $('#idCategoria').val();
        var el = document.getElementById(categoria);
        var row = $(el).closest('tr');
        //alert(evento);
        //alert(promocion);            
        if (categoria != "" && categoria != null) {
            $.ajax({
                url: '/Categoria/ActivateTree/',
                data: { categoria: categoria },
                success: function (data) {
                    //alert("Eliminado");
                    $('#opcionActivar').modal('hide');
                    $('#activar').modal('hide');
                    row.add();
                    //angular.element(document.getElementById('Activate'))[0].disabled = true;
                    window.location.href = '/Categoria/Index';
                },
                error: function () {
                    alert("Error :(");
                }
            });
        } else {
            alert("Seleccione una Categoria ");
            evento = "";
        }
    }
    function activarRegistro() {
        var categoria = $('#idCategoria').val();
        var el = document.getElementById(categoria);
        var row = $(el).closest('tr');
        //alert(evento);
        //alert(promocion);            
        if (categoria != "" && categoria != null) {
            $.ajax({
                url: '/Categoria/Activate/',
                data: { categoria: categoria },
                success: function (data) {
                    //alert("Eliminado");
                    $('#opcionActivar').modal('hide');
                    $('#activar').modal('hide');
                    row.add();
                    //angular.element(document.getElementById('Activate'))[0].disabled = true;
                    window.location.href = '/Categoria/Index';
                },
                error: function () {
                    alert("Error :(");
                }
            });
        } else {
            alert("Seleccione una Categoria ");
            evento = "";
        }
    }

    function busca() {
        var categoria = $('#idBusq2').val();
        //alert(categoria);
        $.ajax({
            url: '/Categoria/Search2/',
            data: { categoria: categoria },
            success: function (data) {
                window.location.href = '/Categoria/Index';

            },
            error: function () {
                alert("Error :(");
            }
        });


    }
</script>
<!--<script type="text/javascript" src="@Url.Content("/Scripts/CategoriaEvento/BorrarCategoriaEvento.js")"></script>-->
<style>
    .trselected {
        background: gray;
    }
</style>




<!--Tab para siguiente categoria-->
<div class="modal fade" id="formNuevo">
    <!--esta div pondra la pantalla oscura al presionar el boton-->
    <div class="modal-dialog">
        <div class="modal-content">
            <!--ACA VA EL CONTENIDO DEL MODAL-->
            <!--header de la ventana-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times; </button>
                <h4 class="modal-title">Nueva Categoria</h4>
            </div>

            <div class="modal-body">
                @using (Html.BeginForm("RegisterCategoria", "Categoria", FormMethod.Post, new { }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true)
                        <br>
                        <div class="row form-group">
                            @Html.LabelFor(model => model.nombre, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.nombre)
                                @Html.ValidationMessageFor(model => model.nombre)
                            </div>
                        </div>

                        <div class="row form-group">
                            @Html.LabelFor(model => model.descripcion, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.descripcion)
                                @Html.ValidationMessageFor(model => model.descripcion)
                            </div>
                        </div>

                        <div class="row form-group">
                            @Html.LabelFor(model => model.idCatPadre, new { @class = "control-label col-md-3" })
                            <div class="col-md-5">
                                @{
                    List<WebApplication4.Models.Categoria> listaCat = db.Categoria.AsNoTracking().Where(c => c.activo == 1).ToList();
                    IEnumerable<SelectListItem> listItems = (from a in listaCat
                                                             select new SelectListItem
                                                           {
                                                               Value = a.idCategoria.ToString(),
                                                               Text = a.nombre,
                                                               Selected = false
                                                           });
                    listItems.First().Selected = true;
                                }
                                @Html.DropDownListFor(model => model.idCatPadre, listItems, "Seleccione Categoria", new { @class = "form-control" })
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-5">
                                <input type="submit" value="Agregar" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                }

            </div>
            <!--<div class="modal-body">
                 <form action="" class="form-horizontal">
                     <div class="form-group">
                         <label for="nombre" class="control-label col-md-2">Nombre:</label>
                         <div class="col-md-10">
                             <input type="text" class="form-control" id="nombre" placeholder="Nombre del tipo">
                         </div>
                     </div>

                     <div class="form-group">
                         <label for="direccion" class="control-label col-md-2">Descripción:</label>
                         <div class="col-md-10">
                             <input type="textarea" class="form-control" id="direccion" placeholder="Descripción">

                         </div>
                     </div>

                     <div class="form-group">
                         <label for="direccion" class="control-label col-md-2">Id Padre:</label>
                         <div class="col-md-10">
                             <input type="textarea" class="form-control" id="idPadre" placeholder="Id Padre">

                         </div>
                     </div>


                 </form>
             </div>
             <!--footer de la ventana-->
        </div>
    </div>
</div>

<div class="modal fade" id="eliminar">
    <!--esta div pondra la pantalla oscura al presionar el boton-->
    <div class="modal-dialog">
        <div class="modal-content">
            <!--ACA VA EL CONTENIDO DEL MODAL-->
            <!--header de la ventana-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times; </button>
                <h4 class="modal-title">Aviso</h4>
            </div>
            <!--contenido de la ventana-->
            <div class="modal-body">
                ¿Está seguro que quiere dar de baja el registro?
                <p>*Se eliminaran las categorías que dependan de este registro</p>                
            </div>
            <!--footer de la ventana-->
            <div class="modal-footer">
                <button type="button" onclick="borrar()" class="btn btn-primary">Aceptar <span class="glyphicon glyphicon-ok"></span></button>
                <button type="button" onclick="return closewindowEli();" class="btn btn-danger">Cancelar <span class="glyphicon glyphicon-remove"></span></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="activar">
    <!--esta div pondra la pantalla oscura al presionar el boton-->
    <div class="modal-dialog">
        <div class="modal-content">
            <!--ACA VA EL CONTENIDO DEL MODAL-->
            <!--header de la ventana-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times; </button>
                <h4 class="modal-title">Aviso</h4>
            </div>
            <!--contenido de la ventana-->
            <div class="modal-body">
                ¿Está seguro que quiere activar el registro?
            </div>
            <!--footer de la ventana-->
            <div class="modal-footer"> 
                <a class="btn btn-primary" href="#opcionActivar" data-toggle="modal">Aceptar <span class="glyphicon glyphicon-ok"></span></a>                               
                <!--<button type="button" href="#opcionActivar" class="btn btn-primary">Aceptar <span class="glyphicon glyphicon-ok"></span></button>-->
                <a class="btn btn-primary" data-toggle="modal" onclick="return closewindowAct()">Cancelar<span class="glyphicon glyphicon-pencil"></span></a>               
                <!--<button type="button" onclick="return closewindow();" class="btn btn-danger">Cancelar <span class="glyphicon glyphicon-remove"></span></button>-->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="opcionActivar">
    <!--esta div pondra la pantalla oscura al presionar el boton-->
    <div class="modal-dialog">
        <div class="modal-content">
            <!--ACA VA EL CONTENIDO DEL MODAL-->
            <!--header de la ventana-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times; </button>
                <h4 class="modal-title">Aviso</h4>
            </div>
            <!--contenido de la ventana-->
            <div class="modal-body">
                ¿Desea restaurar todos los registros anteriormente asociados?
            </div>
            <!--footer de la ventana-->
            <div class="modal-footer">
                <button type="button" onclick="activarArbol()" class="btn btn-primary">Si <span class="glyphicon glyphicon-ok"></span></button>
                <button type="button" onclick="activarRegistro()" class="btn btn-danger">No <span class="glyphicon glyphicon-remove"></span></button>
            </div>
        </div>
    </div>
</div>