@using Microsoft.AspNet.Identity
@using WebApplication4.Models
@{
    ViewBag.ReturnUrl = "Index2";
}

@{
    var esIntranet = 0;
    var nombre ="";
    if (Request.IsAuthenticated)
    {
        var act = User.Identity.GetUserName();
        inf245netsoft db = new inf245netsoft();
        CuentaUsuario cuenta = db.CuentaUsuario.Find(act);
        if ( cuenta.codPerfil != 1){
            esIntranet = 1;
        }

        nombre = cuenta.nombre;

    }
    
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
    <header>
        <nav style="margin-bottom:0" class="navbar navbar-static-top navbar-inverse " role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navegacion">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="@Url.Action("Index2", "Home")" class="navbar-brand">TICKNET </a><!--nos redirige a la pag principal-->
                </div>
                <!--inicia el MENU-->
                <div class="collapse navbar-collapse" id="navegacion">
                    <!--menu desplegable -->
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button">
                                Módulo de venta <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Busqueda", "Evento")">Buscar eventos</a></li>
                                <li><a href="@Url.Action("Entrega", "Ventas")">Entregar boletos</a></li>
                                <li><a href="@Url.Action("BuscaReserva","CuentaUsuario")">Buscar reserva</a></li>
                                <li><a href="@Url.Action("Devolucion", "Ventas")">Devolución</a></li>
                                <li class="divider"></li>
                                <li><a href="@Url.Action("BuscaCliente", "CuentaUsuario")">Buscar cliente</a></li>
                                <li><a href="@Url.Action("RegistrarUsuarioVendedor", "CuentaUsuario")">Registrar Cliente</a></li>
                                <li class="divider"></li>
                                <li><a href="@Url.Action("ReporteDia", "Ventas")">Reporte de ventas</a></li>
                                <li><a href="@Url.Action("Apertura", "Ventas")">Apertura de caja</a></li>
                                <li><a href="@Url.Action("Cierre", "Ventas")">Cierre de caja</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button">
                                Procesos <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!--Administrador-->
                                <li><a href="@Url.Action("Asignacion", "CuentaUsuario")">Asignar turnos y puntos de venta</a></li>
                                <li><a href="@Url.Action("Politicas", "CuentaUsuario")">Políticas de la empresa</a></li>
                                <li><a href="@Url.Action("Index", "TipoDeCambio")">Tipo de cambio</a></li>
                                <li><a href="@Url.Action("Pago", "Ventas")">Registrar pagos</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button">
                                Mantenimientos <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!--Administrador del negocio-->
                                <li><a href="@Url.Action("Index", "Categoria")">Categorías de eventos</a></li>
                                <li><a href="@Url.Action("Index", "Empleado")">Empleados</a></li>
                                <li><a href="@Url.Action("Index", "PuntoVenta")">Puntos de venta</a></li>
                                <li><a href="@Url.Action("Index", "Regalo")">Regalos</a></li>

                                <!--Promotor-->
                                <li class="divider"></li>
                                <li><a href="@Url.Action("Index", "Organizador")">Organizadores</a></li>
                                <li><a href="@Url.Action("Index", "Local")">Locales</a></li>
                                <li><a href="@Url.Action("Index", "Evento")">Eventos</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button">
                                Reportes <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="repVentas.html">Ventas</a></li>
                                <li><a href="reporte_eventos.html">Eventos</a></li>
                                <li class="divider"></li>
                                <li><a href="Reporte_Asignacion_de_Vendedores.html">Asignación de vendedores</a></li>
                                <li><a href="reporte_asistencia_vendedores.html">Asistencia</a></li>
                                <li><a href="@Url.Action("ReporteCliente", "CuentaUsuario")">Clientes</a></li>
                            </ul>
                        </li>

                    </ul>
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "form" }))
                    {
                    @Html.AntiForgeryToken()

                    <div class="nav navbar-nav navbar-right">
                        <font color="white"> Hello @nombre!</font>
                        <a type="button" class="btn btn-default" href="javascript:document.getElementById('logoutForm').submit()">Cerrar Sesion <span class="glyphicon glyphicon-log-out"></span></a>
                    </div>
                    }
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="@TempData["tipo"]">
            @(TempData["message"])
        </div>
    </div>

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>
