@using Microsoft.AspNet.Identity
@using WebApplication4.Models
@{
    var esIntranet = 0;
    var nombre = "";
    var nomb = "";
    int codigoUsuario = 0;
    if (Request.IsAuthenticated)
    {
        var act = User.Identity.GetUserName();
        var cuenta = new CuentaUsuario();
        inf245netsoft db = new inf245netsoft();
        if (db != null)
        {
            cuenta = db.CuentaUsuario.Find(act);
            codigoUsuario = cuenta.codPerfil;
            if (cuenta != null && cuenta.codPerfil != 1)
            {
                Session["UsuarioLogueado"] = cuenta;
                esIntranet = 1;
                nombre = cuenta.nombre;
            }
            else
            {
                nombre = cuenta.nombre;
            }
        }
    }
}

@{
    ViewBag.ReturnUrl = "Index";
}


@if (esIntranet == 1)
//index 2 para el personal
{
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenido a Ticknet :: El mejor lugar para vender sus entradas</title>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="content-type" content="application/vnd.ms-excel; charset=UTF-8">
        @Styles.Render("~/Content/css")<!--boostrap-->
        @Styles.Render("~/Content/themes/base/css")<!--jquery UI -->
        <link rel="stylesheet" href="~/Content/estilos-index2.css">
    </head>
    <body>
        <header>
            <nav style="margin-bottom:0" class="navbar navbar-static-top navbar-inverse " role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navegacion">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="@Url.Action("Index2", "Home")" class="navbar-brand">TICKNET </a><!--nos redirige a la pag principal-->
                    </div>
                    <div class="collapse navbar-collapse" id="navegacion">
                        <!--menu desplegable -->
                        <ul class="nav navbar-nav">
                            @if (@codigoUsuario == 2)
                            {
                                <li class="dropdown">

                                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button">
                                        Módulo de venta <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("Busqueda", "Evento")"><span class="fa fa-fw fa-search-plus"></span> Buscar eventos</a></li>
                                        <li><a href="@Url.Action("Entrega", "Ventas")"><span class="fa fa-fw fa-ticket"></span> Entregar boletos</a></li>
                                        <li><a href="@Url.Action("BuscaReserva","Ventas")"><span class="fa fa-fw fa-sticky-note-o"></span> Buscar reserva</a></li>
                                        <li><a href="@Url.Action("Devolucion", "Ventas")"><span class="fa fa-fw fa-undo"></span> Devolución</a></li>
                                        <li class="divider"></li>
                                        <li><a href="@Url.Action("BuscaCliente", "CuentaUsuario")"><span class="fa fa-fw fa-user"></span> Buscar cliente</a></li>
                                        <li><a href="@Url.Action("RegistrarUsuarioVendedor", "CuentaUsuario")"><span class="fa fa-fw fa-pencil"></span> Registrar Cliente</a></li>
                                        <li class="divider"></li>
                                        <li><a href="@Url.Action("ReporteDia", "Ventas")"><span class="fa fa-fw fa-money"></span> Mis ventas</a></li>
                                        <li><a href="@Url.Action("Apertura", "Ventas")"><span class="fa fa-fw fa-inbox"></span> Apertura de caja</a></li>
                                        <li><a href="@Url.Action("Cierre", "Ventas")"><span class="fa fa-fw fa-archive"></span> Cierre de caja</a></li>
                                    </ul>
                                </li>
                            }
                            @if (@codigoUsuario == 4)
                            {
                                <li class="dropdown">
                                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button">
                                        Procesos <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <!--Administrador-->
                                        <li><a href="@Url.Action("Asignacion", "CuentaUsuario")"><span class="fa fa-fw fa-clock-o"></span> Asignar turnos y puntos de venta</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="@Url.Action("Politicas", "Politicas")"><span class="fa fa-fw fa-ellipsis-v"></span> Políticas de la empresa</a></li>
                                        <li><a href="@Url.Action("Index", "TipoDeCambio")"><span class="fa fa-fw fa-dollar"></span> Tipo de cambio</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="@Url.Action("Pago", "Ventas")"><span class="fa fa-fw fa-arrow-circle-right"></span> Pagos a organizador</a></li>
                                        <li><a href="@Url.Action("PagoOrganizador", "Ventas")"><span class="fa fa-fw fa-arrow-circle-left"></span> Pagos de penalidad</a></li>
                                    </ul>
                                </li>
                            }
                            <li class="dropdown">
                                @if (codigoUsuario == 4 || codigoUsuario == 3)
                                {

                                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button">
                                        Mantenimientos <span class="caret"></span>
                                    </a>
                                }
                                <ul class="dropdown-menu">
                                    @if (@codigoUsuario == 4)
                                    {
                                        <!--Administrador del negocio-->
                                        <li><a href="@Url.Action("Index", "Categoria")"><span class="fa fa-fw fa-pie-chart"></span> Categorías de eventos</a></li>
                                        <li><a href="@Url.Action("Index", "Empleado")"><span class="fa fa-fw fa-user"></span> Empleados</a></li>
                                        <li><a href="@Url.Action("Index", "PuntoVenta")"><span class="fa fa-fw fa-map-marker"></span> Puntos de venta</a></li>
                                        <li><a href="@Url.Action("Index", "Regalo")"><span class="fa fa-fw fa-gift"></span> Regalos</a></li>
                                    }

                                    @if (@codigoUsuario == 3)
                                    {
                                        <!--Promotor-->
                                        <!--li class="divider"></!--li-->
                                        <li><a href="@Url.Action("Index", "Organizador")"><span class="fa fa-fw fa-male"></span> Organizadores</a></li>
                                        <li><a href="@Url.Action("Index", "Local")"><span class="fa fa-fw fa-building"></span> Locales</a></li>
                                        <li><a href="@Url.Action("Index", "Evento")"><span class="fa fa-fw fa-calendar-o"></span> Eventos</a></li>
                                    }
                                </ul>
                            </li>
                            @if (@codigoUsuario == 4)
                            {
                                <li class="dropdown">
                                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button">
                                        Reportes <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("Index", "ReporteVentas")"><span class="fa fa-fw fa-line-chart"></span> Ventas</a></li>
                                        <li><a href="@Url.Action("ReporteEvento", "Evento")"><span class="fa fa-fw fa-calendar-o"></span> Eventos</a></li>
                                        <li class="divider"></li>
                                        <li><a href="@Url.Action("ReporteAsignacion","CuentaUsuario")"><span class="fa fa-fw fa-male"></span> Asignación de vendedores</a></li>
                                        <li><a href="@Url.Action("ReporteAsistencia","CuentaUsuario")"><span class="fa fa-fw fa-clock-o"></span> Asistencia</a></li>
                                        <li><a href="@Url.Action("ReporteCliente", "CuentaUsuario")"><span class="fa fa-fw fa-users"></span> Clientes</a></li>
                                    </ul>
                                </li>
                            }
                        </ul>

                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "form" }))
                        {
                            @Html.AntiForgeryToken()                            
                            <div class="navbar-form navbar-right">
                                <div class="nav navbar-nav ">
                                    <div class="dropdown">
                                        <a type="button" aria-expanded="true" data-toggle="dropdown" aria-haspopup="true" class="btn btn-default dropdown-toggle">Bienvenido @nombre<span class="caret"></span></a>
                                        <ul class="dropdown-menu" aria-labelledby="sesion">
                                            <li><a href="javascript:document.getElementById('logoutForm').submit()"><span class="fa fa-sign-out fa-lg"></span> Cerrar sesión</a></li>                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                        }                        
                    </div>
                </div>
            </nav>
        </header>

        <div class="container">
            <div class="@TempData["tipo"]">
                @(TempData["message"])
            </div>
        </div>
        @if (codigoUsuario == 2)
        {
            <ul title="Carrito de compras" id="barraLateral">
                <li><a name="boton" href="@Url.Action("CarritoVentas", "Ventas")"><span class="fa fa-cart-plus fa-4x"></span></a></li>                
            </ul>            
        }
        
        <div style="min-height:800px">
            @RenderBody()
        </div>
        <div class="container-fluid" id="footer">
            <h5><span class="fa fa-flag"></span> Creado por .NETSOFT</h5>
            <h5>Gracias al apoyo de <em>Jorge Girao La Rosa</em></h5>
            <h6>© TICKNET. Marca registrada de .NetSoft S.A. Derechos Reservados 2015</h6>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        <script src="~/Scripts/script_fecha.js"></script>
    </body>
</html>
}
else
{
    //index 1 para el cliente

    inf245netsoft db = new inf245netsoft();

    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>Ticknet :: El mejor lugar para comprar tus entradas</title>
        <meta http-equiv="content-type" content="application/vnd.ms-excel; charset=UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        @Styles.Render("~/Content/css")<!--boostrap-->
        @Styles.Render("~/Content/themes/base/css")<!--jquery UI -->
        <link rel="stylesheet" href="~/Content/estilos-index1.css">
    </head>

    <body>
        <style>
            .fecha {
                text-align: center;
            }
        </style>

        <header class="container-fluid ">
            <nav style="margin-bottom:0" class="navbar navbar-static-top navbar-inverse " role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navegacion">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="@Url.Action("Index", "Home")" class="navbar-brand">TICKNET </a><!--nos redirige a la pag principal-->
                    </div>
                    <!--inicia el MENU-->
                    <div class="collapse navbar-collapse" id="navegacion">
                        <!--menu desplegable -->
                        @using (Html.BeginForm("Index", "Home", FormMethod.Get, new { id = "search", @class = "navbar-form navbar-left", role = "search" }))
                        {
                            <div class="form-group">
                                <div class="input-group ">
                                    <input id="comm-txt" name="nombre" type="text" class="form-control" aria-describedby="lupa" placeholder="NOMBRE DEL EVENTO...">
                                    <span id="lupa" class="input-group-btn"><button class="btn btn-primary" type="button" onclick="busqueda()"><span class="glyphicon glyphicon-search"></span></button></span>
                                </div>
                            </div>
                        }
                        <div class="navbar-form navbar-left">
                            <a class="btn btn-info" href="#busqAvanzada" data-toggle="collapse"><span class="fa fa-binoculars"></span> Búsqueda avanzada</a>
                        </div>
                        <div class="navbar-form navbar-right">

                            @if (!Request.IsAuthenticated)
                            {
                                <a id="logIn" href="#logInCliente" class="btn btn-primary" data-toggle="modal"><span class="fa fa-user"></span> Iniciar sesión</a>
                            }
                            else
                            {
                                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "form" }))
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="nav navbar-nav ">
                                        <div class="dropdown">
                                            <a type="button" aria-expanded="true" data-toggle="dropdown" aria-haspopup="true" class="btn btn-primary dropdown-toggle">@nombre <span class="caret"></span></a>
                                            <ul class="dropdown-menu" aria-labelledby="sesion">
                                                <li><a href="@Url.Action("MiCuenta","CuentaUsuario")"><span class="fa fa-user"></span> Mi cuenta</a></li>
                                                <li><a href="javascript:document.getElementById('logoutForm').submit()"><span class="fa fa-sign-out"></span> Cerrar sesión</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </nav>

            <div id="busqAvanzada" class="collapse container">
                <!--formulario EN LINEA-->
                <div id="alerta" name="alerta" class="alert alert-warning" hidden></div>
                @using (Html.BeginForm("Index", "Home", FormMethod.Get, new { id = "adv-search", @class = "form-inline" }))
                {
                    if (this.Request.QueryString.Count != 0)
                    {

                        if (this.Request.QueryString.AllKeys.Contains("nombre"))
                        {
                            nomb = this.Request.QueryString["nombre"];
                        }
                    }

                    @Html.Hidden("nombre", nomb, new { id = "adv-nomb" })
                    <div class="form-group ">
                        <div class="form-group ">
                            <div class="input-group">
                                <span class="input-group-addon">Desde:</span>
                                @if (ViewBag.fech_ini != null)
                                {
                                    string valor = ViewBag.fech_ini.ToString("dd/MM/yyyy");
                                    string valor2 = ViewBag.fech_ini.ToString("yyyy/MM/dd");
                                    <input id="fech_ini" type="text" class="fecha form-control" value=@valor>
                                    <input style="display:none" id="altfech_ini" name="fech_ini" type="text" class="fecha form-control" value=@valor2>
                                }
                                else
                                {
                                    <input id="fech_ini" type="text" class="fecha form-control" value="@String.Format("{0:dd/MM/yyyy}",DateTime.Today)">
                                    <input style="display:none" id="altfech_ini" name="fech_ini" type="text" class="fecha form-control" value="@String.Format("{0:yyyy/MM/dd}",DateTime.Today)">
                                }
                            </div>
                        </div>

                        <div class="form-group ">
                            <div class="input-group">
                                <span class="input-group-addon">Hasta:</span>
                                @if (ViewBag.fech_fin != null)
                                {
                                    string valor = ViewBag.fech_fin.ToString("dd/MM/yyyy");
                                    string valor2 = ViewBag.fech_fin.ToString("yyyy/MM/dd");
                                    <input id="fech_fin" type="text" value=@valor class="fecha form-control">
                                    <input id="altfech_fin" name="fech_fin" type="text" value=@valor2 class="fecha form-control" style="display:none">
                                }
                                else
                                {
                                    <input id="fech_fin" type="text" class="fecha form-control">
                                    <input id="altfech_fin" name="fech_fin" type="text" class="fecha form-control" style="display:none">
                                }
                            </div>
                        </div>

                        <div class="form-group ">

                            <select name="idCategoria" id="idCategoria" data-val="true" onchange="cambioCat()" class="form-control col-lg-2">

                                <option value="">Categorias</option>

                                @{
                                var queryCat = db.Categoria.AsNoTracking().Where(c => c.nivel == 1);
                                var categorias = new SelectList(queryCat, "idCategoria", "nombre");
                                }

                                @foreach (var categoria in categorias)
                                {
                                    <option value=@categoria.Value> @categoria.Text</option>
                                }

                            </select>

                        </div>

                        <div class="form-group ">
                            <select name="idSubCat" id="idSubCat" data-val="true" class="form-control col-lg-2">

                                <option value="">Subcategorias</option>
                                @if (ViewBag.idCategoria != null)
                                {

                                    int idPadre = ViewBag.idCategoria;

                                    var subcat = from obj in db.Categoria
                                                 where obj.idCatPadre == idPadre
                                                 select obj;

                                    foreach (var dato in subcat)
                                    {
                                        <option value=@dato.idCategoria>@dato.nombre</option>
                                    }
                                }

                            </select>
                        </div>

                        <div class="form-group">
                            <select name="idRegion" id="idRegion" data-val="true" class="form-control col-lg-2">
                                <option value="">Departamentos</option>
                                @{
                                var queryDepart = db.Region.AsNoTracking().Where(c => c.idRegPadre == null);
                                var listaDepart = new SelectList(queryDepart, "idRegion", "nombre");
                                }

                                @foreach (var departamento in listaDepart)
                                {
                                    <option value=@departamento.Value> @departamento.Text</option>
                                }

                            </select>
                        </div>
                        <div class="form-group">
                            <a class="btn btn-primary " onclick="busquedaAdv()">Buscar <span class="glyphicon glyphicon-search"></span></a>
                        </div>
                    </div>
                }
            </div>

            @{
    try
    {
        Html.RenderPartial("_LoginPartial", new LoginViewModel());
    }
    catch (Exception ex)
    {
        Console.WriteLine(ex);
    }
            }

        </header>

        <div class="container">
            <div class="@TempData["tipo"]">
                @(TempData["message"])
            </div>
        </div>
        <ul title="Carrito de compras" id="barraLateral">
            <li><a href="@Url.Action("MiCarrito", "CuentaUsuario")"><span class="fa fa-cart-plus fa-4x"></span></a></li>
            
        </ul>

        <div class="bod" style="min-height:800px">
            @RenderBody()
        </div>

        <div class="container-fluid" id="footer">
            <h4 style="font-family:sans-serif"><span class="fa fa-map-marker"></span> Ubica nuestros locales <a href="@Url.Action("PuntoVentas", "Home")">aquí</a></h4>
            <h5><span class="fa fa-flag"></span> Creado por .NETSOFT</h5>
            <h5>Gracias al apoyo de <em>Jorge Girao La Rosa</em></h5>
            <h6>© TICKNET. Marca registrada de .NetSoft S.A. Derechos Reservados 2015</h6>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)

        <script src="~/Scripts/script_fecha.js"></script>
        <script src="~/Scripts/busqueda.js"></script>
    </body>
</html>
}
