@using Microsoft.AspNet.Identity
@using WebApplication4.Models


@model RegaloModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutPersonal.cshtml";
    Regalo re = (Regalo)Session["regalo"];
    RegaloModel r1 = new RegaloModel();
    r1.nombre = re.Nombre;
    r1.descripcion = re.descripcion;
    r1.puntos = (int)re.puntos;
}

<h2>Editar Registro</h2>



<div class="modal-body">
    @using (Html.BeginForm("EditRegister", "Regalo", FormMethod.Post, new { model = r1 }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true)
            <br>
            <div class="row form-group">
                @Html.LabelFor(model => model.nombre, new { @class = "control-label col-md-3" })
                <div class="col-md-4">
                    @*@Html.EditorFor(model => model.nombre)*@
                    @Html.TextBoxFor(model => model.nombre, new { @class = "form-control", @placeholder = @re.Nombre, @Value = @re.Nombre })
                    @Html.ValidationMessageFor(model => model.nombre)
                </div>
            </div>

            <div class="row form-group">
                @Html.LabelFor(model => model.descripcion, new { @class = "control-label col-md-3" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.descripcion, new { @class = "form-control", @placeholder = @re.descripcion, @Value = @re.descripcion })
                    @Html.ValidationMessageFor(model => model.descripcion)
                </div>
            </div>
            <br>
            <div class="row form-group">
                @Html.LabelFor(model => model.puntos, new { @class = "control-label col-md-3" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.puntos, new { @class = "form-control", @placeholder = @re.puntos, @Value = @re.puntos })
                    @Html.ValidationMessageFor(model => model.puntos)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Editar" class="btn  btn-primary" />
                </div>
            </div>
        </div>
    }

</div>