@using Microsoft.AspNet.Identity
@using WebApplication4.Models


@model RegaloModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPersonal.cshtml";
}

<div class="container-fluid">
    <div class="col-md-5">
        <ol class="breadcrumb">
            <li class="active">Mantenimiento de regalos</li>
        </ol>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <a class="btn btn-primary" href="#formNuevo" data-toggle="modal">Nuevo <span class="glyphicon glyphicon-plus"></span></a>
               @* <button type="button" class="btn btn-primary" href="#formEditar" onclick="modificar()">Modificar <span class="glyphicon glyphicon-pencil"></span></button>*@
                @*<a class="btn btn-primary" href="#eliminar" data-toggle="modal">Dar de Baja <span class="glyphicon glyphicon-remove"></span></a>*@
                <button id=botonOculto style="visibility:hidden" type="button" class="btn btn-primary" onclick="msjConfirmacion2()">Guardar cambios <span class="glyphicon glyphicon-save"></span></button>
            </div>
        </div>

        <div class="col-md-3">
            <a class="btn btn-danger pull-right" href="@Url.Action("Index2", "Home")">Salir <span class="glyphicon glyphicon-log-out"></span></a>
        </div>

    </div>
    @{
        Html.RenderPartial("_Search");
    }
    @{
        var db = new WebApplication4.Models.inf245netsoft();
        List<WebApplication4.Models.Regalo> listaRegalo;
        if (TempData["ListaR"] == null) { 
        listaRegalo = db.Regalo.AsNoTracking().Where(c => c.estado == true).ToList();
        }
        else
        {
            listaRegalo = (List<WebApplication4.Models.Regalo>) TempData["ListaR"];
        }
    }

    <div class="row">
        <table id="mytable" class="table table-bordered table-hover">
            <thead>
                <tr class="thead">
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Puntos</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="tbody">
                @foreach (var row in listaRegalo)
                {
                    <tr id=@row.idRegalo onclick="myFunction(this)">
                        <td>@row.idRegalo</td>
                        <td>@row.Nombre</td>
                        <td>@row.descripcion</td>
                        <td>@row.puntos</td>
                        <td>@Html.ActionLink("Delete", "Delete", new { id = row.idRegalo})</td>
                        <td>@Html.ActionLink("Edit", "Edit", new { id = row.idRegalo })</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="formNuevo">
    <!--esta div pondra la pantalla oscura al presionar el boton-->
    <div class="modal-dialog">
        <div class="modal-content">
            <!--ACA VA EL CONTENIDO DEL MODAL-->
            <!--header de la ventana-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times; </button>
                <h4 class="modal-title">Nuevo Regalo</h4>
            </div>
            <!--contenido de la ventana-->
            <div class="modal-body">
                @using (Html.BeginForm("RegisterRegalo", "Regalo", FormMethod.Post, new { }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true)
                        <br>
                        <div class="row form-group">
                            @Html.LabelFor(model => model.nombre, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.nombre)
                                @Html.ValidationMessageFor(model => model.nombre)
                            </div>
                        </div>

                        <div class="row form-group">
                            @Html.LabelFor(model => model.descripcion, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.descripcion)
                                @Html.ValidationMessageFor(model => model.descripcion)
                            </div>
                        </div>
                        <br>
                        <div class="row form-group">
                            @Html.LabelFor(model => model.puntos, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.puntos)
                                @Html.ValidationMessageFor(model => model.puntos)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Agregar" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                }
            
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="eliminar">
    <!--esta div pondra la pantalla oscura al presionar el boton-->
    <div class="modal-dialog">
        <div class="modal-content">
            <!--ACA VA EL CONTENIDO DEL MODAL-->
            <!--header de la ventana-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times; </button>
                <h4 class="modal-title">Aviso</h4>
            </div>
            <!--contenido de la ventana-->
            <div class="modal-body">
                ¿Está seguro que quiere dar de baja el registro?
            </div>
            <!--footer de la ventana-->
            <div class="modal-footer">
                <button type="button" onclick="eliminar()" class="btn btn-primary">Aceptar <span class="glyphicon glyphicon-ok"></span></button>
                <button type="button" onclick="eliminar()" class="btn btn-danger">Cancelar <span class="glyphicon glyphicon-remove"></span></button>
            </div>
        </div>
    </div>
</div>

