@using Microsoft.AspNet.Identity
@using WebApplication4.Models


@model RegaloModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPersonal.cshtml";
}

<div class="container-fluid">
    <div class="col-md-5">
        <ol class="breadcrumb">
            <li class="active">Mantenimiento de regalos</li>
        </ol>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <a class="btn btn-primary" href="#formNuevo" data-toggle="modal">Nuevo <span class="glyphicon glyphicon-plus"></span></a>
                @*<a class="btn btn-primary" data-toggle="modal" onclick="borrar()">Dar de Baja <span class="glyphicon glyphicon-remove"></span></a>*@
                <a class="btn btn-primary" data-toggle="modal" onclick="redirigeRegalo()">Modificar<span class="glyphicon glyphicon-pencil"></span></a>
                <a class="btn btn-primary" href="#eliminar" data-toggle="modal">Borrar<span class="glyphicon glyphicon-remove"></span></a>
                @* <button type="button" class="btn btn-primary" href="#formEditar" onclick="modificar()">Modificar <span class="glyphicon glyphicon-pencil"></span></button>*@
                @*<a class="btn btn-primary" href="#eliminar" data-toggle="modal">Dar de Baja <span class="glyphicon glyphicon-remove"></span></a>*@
                <button id=botonOculto style="visibility:hidden" type="button" class="btn btn-primary" onclick="msjConfirmacion2()">Guardar cambios <span class="glyphicon glyphicon-save"></span></button>
            </div>
        </div>
        <div class="col-md-3">
            <form action="" class="" role="search">
                <div class="form-group">
                    <div class="input-group">
                        <input id="idBusq" type="text" class="form-control" placeholder="BUSCAR UN REGALO">
                        <span class="input-group-btn"><button onclick="busca()" class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button></span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3">
            <a class="btn btn-danger pull-right" href="@Url.Action("Index2", "Home")">Salir <span class="glyphicon glyphicon-log-out"></span></a>
        </div>

    </div>
    @*@{
            Html.RenderPartial("_Search");
        }*@
    @{
        var db = new WebApplication4.Models.inf245netsoft();
        List<WebApplication4.Models.Regalo> listaRegalo;
        if (Session["ListaR"] == null)
        {
            listaRegalo = db.Regalo.AsNoTracking().Where(c => c.estado == true).ToList();
        }
        else
        {
            listaRegalo = (List<WebApplication4.Models.Regalo>)Session["ListaR"];
        }
    }

    <div class="row">
        <table id="mytable" class="table table-bordered table-hover">
            <thead>
                <tr class="thead">
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Puntos</th>
                    @*<th></th>*@
                </tr>
            </thead>
            <tbody id="tbody">
                @foreach (var row in listaRegalo)
                {
                    <tr id=@row.idRegalo onclick="myFunction(this)">
                        <td>@row.idRegalo</td>
                        <td>@row.Nombre</td>
                        <td>@row.descripcion</td>
                        <td>@row.puntos</td>
                        @*<td>@Html.ActionLink("Delete", "Delete2", new { id = row.idRegalo})</td>
                            <td>@Html.ActionLink("Edit", "Edit2", new { id = row.idRegalo })</td>*@
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<input type="hidden" id="idRegaloT" value="" />
<script>
    function myFunction(x) {
        if (document.getElementsByClassName("trselected").length > 0) {
            var element = document.getElementsByClassName("trselected");
            //element.item[0].cells[0].innerText;
            element[0].className = "";
        }
        //var tabla = document.getElementById("mytable");
        //alert(x);
        //var y = x.getCells();
        var elem = document.getElementById("idRegaloT");
        elem.value = x.cells[0].innerHTML;
        //alert(x.cells[0].innerHTML);
        //ViewBag.P = x.cells[0].innerHTML;
        x.className = "trselected";

        //<a class="btn btn-primary" href="javascript:document.getElementsByClassName('trselected').submit()">Borrar<span class="glyphicon glyphicon-pencil"></span></a>
        //idProm = x.codp;
    }
    function borrar() {
        var regalo = $('#idRegaloT').val();
        var el = document.getElementById(regalo);
        var row = $(el).closest('tr');
        //alert(evento);
        //alert(promocion);
        if (regalo != "" && regalo != null) {
            $.ajax({
                url: "@Url.Action("Delete","Regalo")",
                data: { regalo: regalo },
                success: function (data) {
                    //alert("Eliminado");
                    $('#eliminar').modal('hide');
                    row.remove();
                    window.location.href = '/Regalo/Index';
                },
                error: function () {
                    alert("Error :(");
                }
            });
        } else {
            alert("Seleccione un Regalo");
            evento = "";
        }
    }
    function redirigeRegalo() {
        var regalo = $('#idRegaloT').val();
        if (regalo != "") {
            window.location.href = '/Regalo/Edit?regalo=' + regalo;
        } else {
            alert("Seleccione un Regalo");
            evento = "";
        }
        //$.post('/Regalo/Edit/' + regalo);
    }
    function busca() {
        var regalo = $('#idBusq').val();
        //var el = document.getElementById(regalo);
        //var row = $(el).closest('tr');
        //alert(evento);
        //alert(promocion);
        $.ajax({
            url: "@Url.Action("Search2", "Regalo")",
            data: { regalo: regalo },
            success: function (data) {
                window.location.href = '/Regalo/Index';
                //alert("Eliminado");
                //row.remove();
            },
            error: function () {
                alert("Error :(");
            }
        });
    }
    function modificar() {
        var regalo = $('#idRegaloT').val();
        //var el = document.getElementById(regalo);
        //var row = $(el).closest('tr');
        //alert(evento);
        //alert(promocion);
        $.ajax({
            url: "@Url.Action("Edit","Regalo")",
            data: { regalo: regalo },
            success: function (data) {
                //alert("Eliminado");
                //row.remove();
            },
            error: function () {
                alert("Error :(");
            }
        });
    }
    function closewindow() {
        $('#eliminar').modal('hide');
    }
</script>

<style>
    .trselected {
        background: gray;
    }
</style>


<div class="modal fade" id="formNuevo">
    <!--esta div pondra la pantalla oscura al presionar el boton-->
    <div class="modal-dialog">
        <div class="modal-content">
            <!--ACA VA EL CONTENIDO DEL MODAL-->
            <!--header de la ventana-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times; </button>
                <h4 class="modal-title">Nuevo Regalo</h4>
            </div>
            <!--contenido de la ventana-->
            <div class="modal-body">
                @using (Html.BeginForm("RegisterRegalo", "Regalo", FormMethod.Post, new { }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true)
                        <br>
                        <div class="row form-group">
                            @Html.LabelFor(model => model.nombre, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.nombre)
                            </div>
                        </div>

                        <div class="row form-group">
                            @Html.LabelFor(model => model.descripcion, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.descripcion)
                            </div>
                        </div>
                        <br>
                        <div class="row form-group">
                            @Html.LabelFor(model => model.puntos, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.puntos, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.puntos)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Agregar" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="eliminar">
    <!--esta div pondra la pantalla oscura al presionar el boton-->
    <div class="modal-dialog">
        <div class="modal-content">
            <!--ACA VA EL CONTENIDO DEL MODAL-->
            <!--header de la ventana-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times; </button>
                <h4 class="modal-title">Aviso</h4>
            </div>
            <!--contenido de la ventana-->
            <div class="modal-body">
                ¿Está seguro que quiere dar de baja el registro?
            </div>
            <!--footer de la ventana-->
            <div class="modal-footer">
                <button type="button" onclick="borrar()" class="btn btn-primary">Aceptar <span class="glyphicon glyphicon-ok"></span></button>
                <button type="button" onclick="return closewindow();" class="btn btn-danger">Cancelar <span class="glyphicon glyphicon-remove"></span></button>
            </div>
        </div>
    </div>
</div>

