@using Microsoft.AspNet.Identity
@using WebApplication4.Models


@model RegaloModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    tbody {
        cursor: pointer;
    }

    .trselected {
        background: #F1F1F1;
        font-weight: bold;
    }

    thead {
        background-color: #337AB7;
        color: white;
        font-weight: bold;
    }
</style>

<div class="container-fluid">
    <div class="col-md-3">
        <ol class="breadcrumb">
            <li class="active">Mantenimiento de regalos</li>
        </ol>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="form-group">
                <a class="btn btn-success" href="#formNuevo" data-toggle="modal"><span class="glyphicon glyphicon-plus"></span> Agregar</a>
                <a class="btn btn-primary" data-toggle="modal" onclick="redirigeRegalo()"><span class="glyphicon glyphicon-pencil"></span> Modificar</a>
                <a class="btn btn-danger" onclick="validaS()" data-toggle="modal"><span class="glyphicon glyphicon-trash"></span> Eliminar</a>
                <a class="btn btn-default" id="idBusq2" onclick="buscaI()"><span class="glyphicon glyphicon-eye-open"></span> Inactivos</a>
                <a class="btn btn-default" id="Activate" onclick="activa()"><span class="glyphicon glyphicon-ok"></span> Activar</a>

            </div>
        </div>
        <div class="col-md-5">
            <form action="" class="" role="search">
                <div class="form-group">
                    <div class="input-group">
                        <input id="idBusq" type="text" class="form-control" placeholder="BUSCAR UN REGALO">
                        <span class="input-group-btn"><button onclick="busca()" class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button></span>
                    </div>
                </div>
            </form>
        </div>
    </div>

    @{
        var db = new WebApplication4.Models.inf245netsoft();
        List<WebApplication4.Models.Regalo> listaRegalo;
        if (Session["ListaR"] == null)
        {
            listaRegalo = db.Regalo.AsNoTracking().Where(c => c.estado == true).ToList();
        }
        else
        {
            listaRegalo = (List<WebApplication4.Models.Regalo>)Session["ListaR"];
        }
    }

    <div class="row">
        <div class="table-responsive">
            <table id="mytable" class="table table-bordered  table-hover">
                <thead>
                    <tr>
                        <th class="col-md-1">Código</th>
                        <th class="col-md-4">Nombre</th>
                        <th class="col-md-5">Descripción</th>
                        <th class="col-md-1">Puntos</th>
                        <th class="col-md-1">Estado</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                    @foreach (var row in listaRegalo)
                    {
                        <tr id=@row.idRegalo onclick="myFunction(this)">
                            <td>@row.idRegalo</td>
                            <td>@row.Nombre</td>
                            <td>@row.descripcion</td>
                            <td>@row.puntos</td>
                            @{
                        string state = "";
                        if (row.estado.HasValue)
                        {
                            if ((bool)row.estado)
                            { state = "Activo"; }
                            else { state = "Inactivo"; }
                        }
                            }
                            <td>@state</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>

<input type="hidden" id="idRegaloT" value="" />
<input type="hidden" id="EstadoRT" value="" />





<div class="modal fade" id="formNuevo">
    <!--esta div pondra la pantalla oscura al presionar el boton-->
    <div class="modal-dialog">
        <div class="modal-content">
            <!--ACA VA EL CONTENIDO DEL MODAL-->
            <!--header de la ventana-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times; </button>
                <h4 class="modal-title">Nuevo Regalo</h4>
            </div>
            <!--contenido de la ventana-->
            <div class="modal-body">
                @using (Html.BeginForm("RegisterRegalo", "Regalo", FormMethod.Post, new { }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true)
                        <div class="row form-group">
                            @Html.LabelFor(model => model.nombre, new { @class = "control-label col-md-3" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.nombre)
                            </div>
                        </div>

                        <div class="row form-group">
                            @Html.LabelFor(model => model.descripcion, new { @class = "control-label col-md-3" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.descripcion)
                            </div>
                        </div>

                        <div class="row form-group">
                            @Html.LabelFor(model => model.puntos, new { @class = "control-label col-md-3" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.puntos, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.puntos)
                            </div>
                        </div>

                        <div class="form-group">
                            <center>
                                <button type="submit" class="btn btn-success">Agregar <span class="glyphicon glyphicon-plus"></span></button>
                            </center>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="eliminar">
    <!--esta div pondra la pantalla oscura al presionar el boton-->
    <div class="modal-dialog">
        <div class="modal-content">
            <!--ACA VA EL CONTENIDO DEL MODAL-->
            <!--header de la ventana-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times; </button>
                <h4 class="modal-title">Aviso</h4>
            </div>
            <!--contenido de la ventana-->
            <div class="modal-body">
                Está a punto de dar de baja este regalo.
            </div>
            <!--footer de la ventana-->
            <div class="modal-footer">
                <button type="button" onclick="borrar()" class="btn btn-danger">Eliminar <span class="glyphicon glyphicon-trash"></span></button>
                <!--button type="button" onclick="return closewindow();" class="btn btn-danger">Cancelar <span class="glyphicon glyphicon-remove"></span></!button-->
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        function myFunction(x) {
            if (document.getElementsByClassName("trselected").length > 0) {
                var element = document.getElementsByClassName("trselected");
                //element.item[0].cells[0].innerText;
                element[0].className = "";
            }
            //var tabla = document.getElementById("mytable");
            //alert(x);
            //var y = x.getCells();
            var elem = document.getElementById("idRegaloT");
            var elem2 = document.getElementById("EstadoRT");
            elem.value = x.cells[0].innerHTML;
            elem2.value = x.cells[4].innerHTML;
            //alert(x.cells[0].innerHTML);
            //ViewBag.P = x.cells[0].innerHTML;
            x.className = "trselected";

            //<a class="btn btn-primary" href="javascript:document.getElementsByClassName('trselected').submit()">Borrar<span class="glyphicon glyphicon-pencil"></span></a>
            //idProm = x.codp;
        }
        function validaS() {
            var regalo = $('#idRegaloT').val();
            if (regalo != null && regalo != "") {
                $('#eliminar').modal('show');
            } else {
                alert("Seleccione un Regalo");
            }
        }
        function borrar() {
            var regalo = $('#idRegaloT').val();
            var estado = $('#EstadoRT').val();
            var el = document.getElementById(regalo);
            var row = $(el).closest('tr');
            //alert(evento);
            //alert(promocion);
            if (regalo != "" && regalo != null) {
                if (estado != "Inactivo") {
                    $.ajax({
                        url: "@Url.Action("Delete","Regalo")",
                        data: { regalo: regalo },
                        success: function (data) {
                            alert(data);
                            $('#eliminar').modal('hide');
                            row.remove();
                            window.location.href = '/Regalo/Index';
                        },
                        error: function (data) {
                            alert(data);
                        }
                    });
                } else {
                    alert("No se puede desactivar un Regalo que ya esta desactivado");
                }
            } else {
                alert("Seleccione un Regalo");
                evento = "";
            }
        }
        function activa() {
            var regalo = $('#idRegaloT').val();
            var estado = $('#EstadoRT').val();
            var el = document.getElementById(regalo);
            var row = $(el).closest('tr');
            //alert(evento);
            //alert(promocion);
            if (regalo != "" && regalo != null) {
                if (estado != "Activo") {
                    $.ajax({
                        url: "@Url.Action("Active","Regalo")",
                        data: { regalo: regalo },
                        success: function (data) {
                            alert(data);
                            window.location.href = '/Regalo/Index';
                        },
                        error: function (data) {
                            alert(data);
                        }
                    });
                } else {
                    alert("No se puede activar un Regalo que ya esta activado");
                }
            } else {
                alert("Seleccione un Regalo");
            }
        }
        function redirigeRegalo() {
            var regalo = $('#idRegaloT').val();
            var estado = $('#EstadoRT').val();
            if (regalo != "") {
                if (estado != "Inactivo") {
                    var elem = document.getElementById("idRegaloT");
                    elem.value = "";
                    window.location.href = '/Regalo/Edit?regalo=' + regalo;
                } else {
                    alert("El Regalo esta desactivado no se puede editar");
                }
            } else {
                alert("Seleccione un Regalo");
                evento = "";
            }
            //$.post('/Regalo/Edit/' + regalo);
        }
        function busca() {
            var regalo = $('#idBusq').val();
            //var el = document.getElementById(regalo);
            //var row = $(el).closest('tr');
            //alert(evento);
            //alert(promocion);
            $.ajax({
                url: "@Url.Action("Search2", "Regalo")",
                data: { regalo: regalo },
                success: function (data) {
                    window.location.href = '/Regalo/Index';
                    //alert("Eliminado");
                    //row.remove();
                },
                error: function () {
                    alert("Error :(");
                }
            });
        }
        function buscaI() {
            $.ajax({
                url: "@Url.Action("SearchI", "Regalo")",
                data: {},
                success: function (data) {
                    window.location.href = '/Regalo/Index';
                    //alert("Eliminado");
                    //row.remove();
                },
                error: function () {
                    alert("Error :(");
                }
            });
        }
        function modificar() {
            var regalo = $('#idRegaloT').val();
            //var el = document.getElementById(regalo);
            //var row = $(el).closest('tr');
            //alert(evento);
            //alert(promocion);
            $.ajax({
                url: "@Url.Action("Edit","Regalo")",
                data: { regalo: regalo },
                success: function (data) {
                    //alert("Eliminado");
                    //row.remove();
                },
                error: function () {
                    alert("Error :(");
                }
            });
        }
        function closewindow() {
            $('#eliminar').modal('hide');
        }
    </script>
}