@using Microsoft.AspNet.Identity
@using WebApplication4.Models

@{
    ViewBag.Title = "Asignacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var db = new WebApplication4.Models.inf245netsoft();
    List<WebApplication4.Models.TurnoSistema> listaTurno = db.TurnoSistema.AsNoTracking().Where(c => c.activo == true).ToList();
    List<WebApplication4.Models.Region> listaDepart = db.Region.AsNoTracking().Where(c => c.idRegPadre == null).ToList();
    string idvend = "";
    string nombV = "";
    if (Session["vendAsig"] != null)
    {
        CuentaUsuario vend = (CuentaUsuario)Session["vendAsig"];
        idvend = vend.usuario;
        nombV = vend.nombre;
    }
    List<Turno> listaTurnoAsig = null;
    if (Session["ListaTurnoVendedor"] != null)
    {
        listaTurnoAsig = (List<Turno>)Session["ListaTurnoVendedor"];
    }

}
<style>
    td {
        text-align: center;
    }
</style>
<div class="container-fluid">
    <div class="col-md-5">
        <ol class="breadcrumb">
            <li class="active">Asignar turnos y puntos de venta al personal</li>
        </ol>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label col-md-2 col-sm-2 col-xs-2">Vendedor:</label>
                <div class="col-md-5 col-sm-5 col-xs-5">
                    <input type="text" id="idVend" class="form-control" value="@idvend" readonly="true">
                </div>
                <div class="col-md-5 col-sm-5 col-xs-5">
                    <div class="input-group">
                        <input type="text" class="form-control" id="vendedorNombre" value="@nombV" readonly="true">
                        <span class="input-group-btn"><a href="#modalBuscarVendedor" class="btn btn-primary" data-toggle="modal" type="button">Buscar <span class="glyphicon glyphicon-search"></span></a></span>
                    </div>
                </div>
            </div>
        </div>
    </div><br />
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="nombreEvento" class="control-label col-md-2 col-sm-2 col-xs-2">Fecha:</label>
                <div class="col-md-5 col-sm-5 col-xs-5">
                    <div class="input-group">
                        <span class="input-group-addon">Desde:</span>
                        <input id="fini" type="text" class="fechar form-control">
                    </div>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-5">
                    <div class="input-group">
                        <span class="input-group-addon">Hasta:</span>
                        <input id="ffin" type="text" class="fechar form-control">
                    </div>
                </div>
            </div>
        </div>
    </div><br />
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="nombreEvento" class="control-label col-md-2">Puntos de venta:</label>
                <div class="col-md-3">
                    <select name="" id="comboReg" class="form-control" onchange="cambio()">
                        <option value="0">Departamento</option>
                        @foreach (var item in listaDepart)
                        {
                            <option value="@item.idRegion">
                                @item.nombre
                            </option>
                        }
                    </select>
                </div>
                <div class="col-md-2">
                    <select name="" id="comboProv" onchange="cambio2()" class=" form-control"></select>
                </div>
                <div class="col-md-5">
                    <select name="" id="comboPunto" class="form-control"></select>
                </div>
            </div>
        </div>
    </div><br />
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="nombreEvento" class="control-label col-md-2 col-sm-2 col-xs-2">Turno:</label>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <select name="" id="comboBusq" class="form-control">
                        <option value="0">Seleccionar</option>
                        @foreach (var item in listaTurno)
                        {
                            <option value="@item.codTurnoSis">
                                @item.horIni - @item.horFin
                            </option>
                        }
                    </select>
                </div>
                <div class="col-md-7 col-sm-7 col-xs-7">
                    <center>
                        <a class="btn btn-primary" onclick="registrar()" href="" data-toggle="modal"><span class="glyphicon glyphicon-plus"></span> Agregar</a>
                        <a class="btn btn-danger" onclick="borrarT()" href=""><span class="glyphicon glyphicon-trash"></span> Eliminar</a>
                    </center>
                </div>
            </div>
        </div>
    </div><br />

    <h4>Asignación</h4>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table id="mytable" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-2">Código de Punto</th>
                            <th class="col-md-4">Punto de Venta</th>
                            <th class="col-md-2">Fecha</th>
                            <th class="col-md-2">Hora Inicio</th>
                            <th class="col-md-2">Hora Fin</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                        @if (listaTurnoAsig != null)
                        {
                            foreach (var row in listaTurnoAsig)
                            {
                                <tr id=@row.usuario onclick="myFunction(this)">
                                    <td>@db.PuntoVenta.Find(@row.codPuntoVenta).codPuntoVenta</td>
                                    <td>@db.PuntoVenta.Find(@row.codPuntoVenta).ubicacion</td>
                                    <td>@row.fecha.ToString("dd/MM/yyyy")</td>
                                    <td>@db.TurnoSistema.Find(@row.codTurnoSis).horIni</td>
                                    <td>@db.TurnoSistema.Find(@row.codTurnoSis).horFin</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div><!--Fin del container-->


<div class="modal fade" id="modalBuscarVendedor">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--ACA VA EL CONTENIDO DEL MODAL-->
            <!--contenido de la ventana-->
            <div class="modal-body">
                <div class="form-group">
                    @{
                        List<WebApplication4.Models.CuentaUsuario> vendList = db.CuentaUsuario.Where(c => c.estado == true && c.codPerfil == 2).ToList();
                    }
                    <table class="table table-bordered table-hover" id="tablita">
                        <thead>
                            <tr class="thead">
                                <th>Correo</th>
                                <th>Nombre</th>
                                <th>Seleccionar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var vend in vendList)
                            {
                                <tr id=@vend.usuario.Replace("@", "°") onclick="myFunction(this)">
                                    <td>@vend.usuario</td>
                                    <td>@vend.nombre</td>
                                    <td><input type="radio" name="groupO" value="@vend.usuario.Replace("@", "°")"></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!--footer de la ventana-->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="llenaVend()">Seleccionar</button>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="idTurnoT" value="" />
<input type="hidden" id="idVendT" value="" />
<input type="hidden" id="fechaT" value="" />
<input type="hidden" id="horaiT" value="" />

<script>
    function llenaVend() {
        var id = $('input[name="groupO"]:checked').val();
        var elem = document.getElementById("idVendT");
        elem.value = id;
        if (id != "" && id != null) {
            $.ajax({
                url: "@Url.Action("LlenaVend","Ventas")",
                data: { id: id },
                success: function (data) {
                    //alert("Eliminado");
                    $('#modalBuscarVendedor').modal('hide');
                    window.location.href = '/CuentaUsuario/Asignacion';
                },
                error: function () {
                    //alert("Error :(");
                    window.location.href = '/CuentaUsuario/Asignacion';
                }
            });
        } else {
            alert("Seleccione un Vendedor");
            evento = "";
        }
    }
    function borrarT() {
        var turno = $('#idTurnoT').val();
        var fecha = $('#fechaT').val();
        var horai = $('#horaiT').val();
        var el = document.getElementById(turno);
        var row = $(el).closest('tr');
        if (turno != "" && turno != null && fecha != "" && fecha != null && horai != null && horai != "") {
            $.ajax({
                url: "@Url.Action("DeleteTurno","CuentaUsuario")",
                data: { turno: turno, fecha: fecha, horai: horai },
                success: function (data) {
                    alert(data);
                    //window.location.href = '/CuentaUsuario/Asignacion';
                    window.location.href = '/CuentaUsuario/Asignacion';
                    row.remove();
                },
                error: function (data) {
                    alert(data);
                    window.location.href = '/CuentaUsuario/Asignacion';
                    row.remove();
                }
            });
        } else {
            alert("Seleccione un turno");
            turno = "";
        }
    }
    function myFunction(x) {
        if (document.getElementsByClassName("trselected").length > 0) {
            var element = document.getElementsByClassName("trselected");
            element[0].className = "";
        }
        var elem = document.getElementById("idTurnoT");
        var elem1 = document.getElementById("fechaT");
        var elem2 = document.getElementById("horaiT");
        elem.value = x.cells[0].innerHTML;
        elem1.value = x.cells[2].innerHTML;
        elem2.value = x.cells[3].innerHTML;
        x.className = "trselected";
    }

    function registrar() {
        var turno = parseInt($("#comboBusq").val());
        var punto = parseInt($("#comboPunto").val());
        var idV = $('#idVend').val();
        var ini = $('#fini').val();
        var fin = $('#ffin').val();
        if (turno != "0" && isNaN(punto) == false && idV != null && ini != "" && fin != "") {
            $.ajax({
                url: "@Url.Action("RegistrarAsignacion","CuentaUsuario")",
                data: { turno: turno, punto: punto, idV: idV, ini: ini, fin: fin },
                success: function (data) {
                    alert(data);
                    if (data == "Registro Correcto") {
                        window.location.href = '/CuentaUsuario/Asignacion';
                    }
                },
                error: function () {
                    alert(data);
                    window.location.href = '/CuentaUsuario/Asignacion';
                }
            });
        } else {
            alert("Seleccione un vendedor e ingrese los datos del turno a asignar");
        }
    }

    function cambio() {
        var depId = parseInt($("#comboReg").val());
        if (isNaN(depId)) return;
        $("#comboProv").empty();
        $("#comboProv").append("<option value=''>Provincia</option>")
        $.ajax({
            url: "Distritos",
            data: { depId: depId },
            datatype: "json",
            success: function (data) {
                var obj = $.parseJSON(data);
                $.each(obj, function (k, v) {
                    $("#comboProv").append("<option value='" + v.IdRegion + "'>" + v.Nombre + "</option>");
                });
            },
            error: function () {
                alert("Error :(");
            }
        });
    }
    function cambio2() {
        var depId = parseInt($("#comboProv").val());
        if (isNaN(depId)) return;
        $("#comboPunto").empty();
        $("#comboPunto").append("<option value=''>Punto Venta</option>")
        $.ajax({
            url: "Punto",
            data: { depId: depId },
            datatype: "json",
            success: function (data) {
                var obj = $.parseJSON(data);
                $.each(obj, function (k, v) {
                    $("#comboPunto").append("<option value='" + v.IdPunto + "'>" + v.Nombre + "</option>");
                });
            },
            error: function () {
                alert("Error :(");
            }
        });
    }
</script>

