@using Microsoft.AspNet.Identity
@using WebApplication4.Models


@model ClienteSearchModel

@{
    ViewBag.Title = "BuscaCliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var db = new WebApplication4.Models.inf245netsoft();
    List<WebApplication4.Models.Regalo> listaSearch = db.Regalo.AsNoTracking().Where(c => c.estado == true).ToList();
}

<div class="container-fluid">
    <div class="col-md-5">
        <ol class="breadcrumb">
            <li class="active">Buscar cliente</li>
        </ol>
    </div>
</div>

<div class="container">
    <div class="row ">
            <div class="col-md-1">
                <label for="dni" class="control-label">Tipo Doc:</label>
            </div>
            <div class="col-md-2">
                <select class="form-control" name="" id="comboBusq">
                    <option value="0">Ambos</option>
                    <option value="1">DNI</option>
                    <option value="2">Pasaporte</option>
                </select>
            </div>
            <div class="col-md-2">
                <label for="dni" class="control-label">N° Documento:</label>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <input id="idBusq" type="text" class="form-control">
                    <span class="input-group-btn"><button onclick="busca()" class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button></span>
                </div>
            </div>
        <div class="col-md-2">
            <div class="input-group">
                <a class="btn btn-primary"onclick="validaS()" data-toggle="modal"><span class="glyphicon glyphicon-gift"></span> Entregar Regalo</a>
            </div>
        </div>
        <div class="col-md-3">
            @*<a href="@Url.Action("Index2", "Home")" class="btn btn-danger pull-right">Salir <span class="glyphicon glyphicon-log-out"></span></a>*@
        </div>

    </div>
    <br>

    @{
        List<WebApplication4.Models.CuentaUsuario> listaCliente = null;
        if (Session["ListaCL"] != null)
        {
            listaCliente = (List<WebApplication4.Models.CuentaUsuario>)Session["ListaCL"];
        }
        else
        {
            listaCliente = db.CuentaUsuario.AsNoTracking().Where(c => c.estado == true && c.codPerfil == 1 && c.puntos > 0).ToList();
        }
    }

    <div class="row">
        <div class="table-responsive">
            <table id="mytable" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="col-md-2">Usuario</th>
                        <th class="col-md-3">Nombres</th>
                        <th class="col-md-3">Apellidos</th>
                        <th class="col-md-2">No Documento</th>
                        <th class="col-md-2">Puntos</th>
                        @*<th></th>*@
                    </tr>
                </thead>
                <tbody id="tbody">
                    @foreach (var row in listaCliente)
                    {
                        <tr id=@row.codDoc onclick="myFunction(this)">
                            <td>@row.usuario.Replace("@", "°")</td>
                            <td>@row.nombre</td>
                            <td>@row.apellido</td>
                            <td>@row.codDoc</td>
                            <td>@row.puntos</td>
                            @*<td>@Html.ActionLink("Selecciona", "Entrega", new { usuario = row.usuario.Replace("@", "°") })</td>*@
                        </tr>
                    }
                </tbody>
            </table>
        </div>        
    </div>
</div><!--Fin del container-->

<input type="hidden" id="idClienteT" value="" />

<script>
    function myFunction(x) {
        if (document.getElementsByClassName("trselected").length > 0) {
            var element = document.getElementsByClassName("trselected");
            element[0].className = "";
        }
        var elem = document.getElementById("idClienteT");
        elem.value = x.cells[0].innerHTML;
        x.className = "trselected";
        var cliente = $('#idClienteT').val();
        //se almacena el id del cliente y se obtiene la cuenta de este cliente seleccionado
        $.ajax({
            url: "@Url.Action("Entrega2", "CuentaUsuario")",
            data: { cliente: cliente },
            success: function (data) {
            },
            error: function () {
                alert("Error :(");
            }
        });
    }
    function validaS() {
        var cliente = $('#idClienteT').val();
        //se verifica que se selecciono un cliente y un regalo
        if (cliente != null && cliente != "") {
            $('#regalo').modal('show');
        } else {           
            alert("Seleccione un cliente y un regalo");
        }
    }
    function busca() {
        var usuario = $('#idBusq').val();
        var tipo = $('#comboBusq option:selected').val();
        //se envian los datos ingresados en los criterios de busqueda al controller 
            $.ajax({
                url: "@Url.Action("Search2", "CuentaUsuario")",
                data: { usuario:usuario, tipo:tipo },
                success: function (data) {
                    window.location.href = '/CuentaUsuario/BuscaCliente';
                },
                error: function () {
                    alert("Error :(");
                }
            });
    }
    function entregar() {
        var regalo = $('#comboBusq2 option:selected').val();
        var cliente = $('#idClienteT').val();
        //se obtienen los datos del los campos seleccionados y se los envia al controller si es que se selecionaron todos
        if (regalo != "" && regalo != null && cliente != null && cliente != "" && regalo!=0) {
            $.ajax({
                url: "@Url.Action("EntregaRegalo2", "CuentaUsuario")",
                data: { regalo: regalo, cliente: cliente },
                success: function (data) {
                    alert(data);
                    window.location.href = '/CuentaUsuario/BuscaCliente';
                },
                error: function (data) {
                    alert("Error :(");
                }
            });
        } else {
            alert("Seleccione un regalo");
        }
    }
    function closewindow() {
        $('#regalo').modal('hide');
    }
</script>

<div class="modal fade" id="regalo">
    <!--esta div pondra la pantalla oscura al presionar el boton-->
    <div class="modal-dialog">
        <div class="modal-content">
            <!--ACA VA EL CONTENIDO DEL MODAL-->
            <!--header de la ventana-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times; </button>
                <h4 class="modal-title">Entrega de Regalo</h4>
            </div>
            <!--contenido de la ventana-->
            <div class="modal-body">
                <div class="col-md-6">
                    <select class="form-control" name="" id="comboBusq2" onchange="">
                        <option value="0">Regalo - Puntos</option>
                        @foreach (var item in listaSearch)
                        {
                            //se muestra la lista de regalos activos y sus puntos
                            <option value="@item.idRegalo">
                                Nombre: @item.Nombre Puntos: @item.puntos
                            </option>
                        }
                    </select>
                </div>
            </div>
            <!--footer de la ventana-->
            <div class="modal-footer">
                <button type="button" onclick="entregar()" class="btn btn-primary">Entregar <span class="glyphicon glyphicon-ok"></span></button>
                <button type="button" onclick="closewindow()" class="btn btn-danger">Cancelar <span class="glyphicon glyphicon-remove"></span></button>
            </div>
        </div>
    </div>
</div>



