@using WebApplication4.Models;
@model CambiarCorreoModel
@{
    ViewBag.Title = "CambiarCorreo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="col-md-5">
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Mi Cuenta", "MiCuenta", "CuentaUsuario")</li>
            <li class="active">Cambiar Correo</li>
        </ol>
    </div>
</div>
@using (Html.BeginForm("CambiarCorreo", "CuentaUsuario", FormMethod.Post))
{
    <div class="col-md-8">
        <div class="row form-group">
            @Html.LabelFor(c => c.Email, new { @class = "control-label col-md-3" })
            <div class="col-md-7">
                @Html.TextBoxFor(c => c.Email, new { @class = "form-control", @placeholder = "usuario@correo.com" })
                @Html.ValidationMessageFor(c => c.Email)
            </div>
        </div>
        <div class="row" style="text-align: center">
            <button style="button" class="btn btn-primary">Cambiar </button>
            <a href="@Url.Action("MiCuenta","CuentaUsuario")" class="btn btn-danger">Salir <span class="glyphicon glyphicon-log-out"></span> </a>
        </div>
    </div>
}
