@using WebApplication4.Models
@model ComprarEntradaModel
@{
    ViewBag.Title = "ComprarEntrada";
    Layout = "~/Views/Shared/_Layout.cshtml";
    inf245netsoft db = new inf245netsoft();
    string nombre = "";
    string dni = "";
    if (Request.IsAuthenticated)
    {
        CuentaUsuario user = db.CuentaUsuario.Where(c => c.correo == User.Identity.Name).First();
        nombre = user.nombre + " " + user.apellido;
        dni = user.codDoc;
    }
    List<Promociones> promocionesLista = ViewBag.Promociones as List<Promociones>;
    List<CarritoItem> carrito = Session["CarritoItem"] as List<CarritoItem>;
}
<div class="container" id="promocionesLista">
    @{
        for (int i = 0; i < promocionesLista.Count; i++)
        {
            string razon = "";
            if (promocionesLista[i].codPromo == -1)
            {
                razon = (i + 1) + ". No cuenta con promocion";
            }
            else
            {
                razon = (i + 1) + ". Descuento de " + promocionesLista[i].descuento + "%.";
            }
            string id = "eventosydescuentos" + i;
            <div id="@id">
                @Html.Hidden("evento", "" + carrito[i].idEvento)
                @Html.Hidden("descuento", "" + promocionesLista[i].descuento)
            </div>
            <p>@razon</p>
        }
    }
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8" id="tarjeta">
            <h3>Información de la tarjeta</h3><br />
            <div class="row form-group">
                @Html.LabelFor(c => c.Nombre, new { @class = "control-label col-md-3" })
                <div class="col-md-4">
                    @{//si esque es un usuario registrado
                        if (Request.IsAuthenticated)
                        {
                            @Html.TextBoxFor(c => c.Nombre, new { @class = "form-control", @readonly = "readonly", @Value = nombre })
                        }
                        else
                        {
                            @Html.TextBoxFor(c => c.Nombre, new { @class = "form-control" })
                            @Html.ValidationMessageFor(c => c.Nombre)
                        }
                    }
                </div>

            </div>
            <div class="row form-group">
                @Html.LabelFor(c => c.Dni, new { @class = "control-label col-md-3" })
                <div class="col-md-4">
                    @{//si esque es un usuario regitrado
                        if (Request.IsAuthenticated)
                        {
                            @Html.TextBoxFor(c => c.Dni, new { @class = "form-control", @readonly = "readonly", @Value = dni })
                        }
                        else
                        {
                            @Html.TextBoxFor(c => c.Dni, new { @class = "form-control" })
                            @Html.ValidationMessageFor(c => c.Dni)
                        }
                    }
                </div>
            </div>
            <div class="row form-group">
                @Html.LabelFor(c => c.idBanco, new { @class = "control-label col-md-3" })
                <div class="col-md-4">
                    @Html.DropDownListFor(c => c.idBanco, ViewBag.Bancos as SelectList, new { @class = "form-control", @onchange = "calculaPromo()" })
                    @Html.ValidationMessageFor(c => c.idBanco)
                </div>
            </div>

            <div class="row form-group">
                @Html.LabelFor(c => c.idTipoTarjeta, new { @class = "control-label col-md-3" })
                <div class="col-md-4">
                    @Html.DropDownListFor(c => c.idTipoTarjeta, ViewBag.TipoTarjeta as SelectList, new { @class = "form-control" })
                    @Html.ValidationMessageFor(c => c.idTipoTarjeta)
                </div>
            </div>

            <div class="row form-group">
                @Html.LabelFor(c => c.NumeroTarjeta, new { @class = "control-label col-md-3" })
                <div class="col-md-4">
                    @Html.TextBoxFor(c => c.NumeroTarjeta, new { @class = "form-control" })
                    @Html.ValidationMessageFor(c => c.NumeroTarjeta)
                </div>

            </div>

            <div class="row form-group">
                @Html.LabelFor(c => c.CodCcv, new { @class = "control-label col-md-3" })
                <div class="col-md-4">
                    @Html.TextBoxFor(c => c.CodCcv, new { @class = "form-control" })
                    @Html.ValidationMessageFor(c => c.CodCcv)
                </div>
            </div>

            <div class="row form-group">
                @Html.LabelFor(c => c.Mes, new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.DropDownListFor(c => c.Mes, ViewBag.Mes as List<SelectListItem>, new { @class = "form-control" })
                </div>
                @Html.LabelFor(c => c.AnioVen, new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.DropDownListFor(c => c.AnioVen, ViewBag.AnVen as List<SelectListItem>, new { @class = "form-control" })
                </div>
            </div>

            <h3>Información de montos</h3><br>
            <div class="row form-group">
                <label for="" class="control-label col-md-3">Importe: </label>
                <div class="col-md-4">
                    <input type="text" class="form-control" value="@ViewBag.Total" disabled>
                </div>
            </div>

            <div class="row form-group">
                <label for="" class="control-label col-md-3">Descuento: </label>
                <div class="col-md-4">
                    <input id="descuentoCompra" type="text" class="form-control" value="@ViewBag.Descuento" disabled>
                </div>
            </div>

            <div class="row form-group">
                <label for="" class="control-label col-md-3">Monto a Pagar: </label>
                <div class="col-md-4">
                    <input id="pagarCompra" type="text" class="form-control" value="@ViewBag.Pagar" disabled>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <a class="btn btn-primary">Finalizar compra <span class="glyphicon glyphicon-check"></span></a>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>
<script>
    function calculaPromo() {
        //sacamos el id del banco y tipo tarjeta
        var idBanco = $("#idBanco").val();
        var tipoTarjeta = $("#idTipoTarjeta").val();
        var divPadre = document.getElementById("promocionesLista");
        var hijosDiv = divPadre.getElementsByTagName('div');
        for (var i = 0 ; i < hijosDiv.length; i++) {
            var e = hijosDiv[i];
            //obtengo el idEvento
            var codEvento = e.getElementsByTagName('input')[0].value;
            //alert(codEvento + " - " + idBanco + " - " + tipoTarjeta);
            $.ajax({
                url: "@Url.Action("Descuento", "CuentaUsuario")",
                data: { codEvento: codEvento, idBanco: idBanco, tipoTarjeta: tipoTarjeta },
                success: function (data) {
                    alert(data);
                },
                error: function (data) {
                    alert("Error");
                }
            })
        }

    }
</script>