@using WebApplication4.Models
@model ComprarEntradaReservadaAModel
@{
    ViewBag.Title = "ComprarEntradaReservadaA";
    Layout = "~/Views/Shared/_Layout.cshtml";
    inf245netsoft db = new inf245netsoft();
    string nombre = "";
    string dni = (string)Session["dniCli"];

    if (Request.IsAuthenticated)
    {
        CuentaUsuario user = db.CuentaUsuario.Where(c => c.codDoc == dni).First();
        nombre = user.nombre + " " + user.apellido;
        dni = user.codDoc;
    }
    List<Promociones> promocionesLista = ViewBag.Promociones as List<Promociones>;
    double? importe = ViewBag.Total as double?;
    double? descuento = ViewBag.Descuento as double?;
    double? montopagar = ViewBag.Pagar as double?;

}

<div class="container-fluid">
    <div class="col-md-5">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("BuscaReserva", "CuentaUsuario")">Buscar Reserva</a></li>
            <li class="active">Pagar reserva</li>
        </ol>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8" id="tarjeta">
            <h3>Información de la tarjeta</h3><br />
            @using (Html.BeginForm("ComprarEntradaReservadaA", "CuentaUsuario", FormMethod.Post))
            {
                <div class="row form-group">
                    @Html.LabelFor(c => c.Nombre, new { @class = "control-label col-md-3" })
                    <div class="col-md-4">
                        @{//si esque es un usuario registrado
                if (Request.IsAuthenticated)
                {
                    @Html.TextBoxFor(c => c.Nombre, new { @class = "form-control", @readonly = "readonly", @Value = nombre })
                }
                else
                {
                    @Html.TextBoxFor(c => c.Nombre, new { @class = "form-control" })
                            @Html.ValidationMessageFor(c => c.Nombre)
                }
                        }
                    </div>
                </div>
                <div class="row form-group">
                    @Html.LabelFor(c => c.Dni, new { @class = "control-label col-md-3" })
                    <div class="col-md-4">
                        @{//si esque es un usuario regitrado
                if (Request.IsAuthenticated)
                {
                    @Html.TextBoxFor(c => c.Dni, new { @class = "form-control", @readonly = "readonly", @Value = dni })
                }
                else
                {
                    @Html.TextBoxFor(c => c.Dni, new { @class = "form-control" })
                            @Html.ValidationMessageFor(c => c.Dni)
                }
                        }
                    </div>
                </div>
                <div class="row form-group">
                    @Html.LabelFor(c => c.idBanco, new { @class = "control-label col-md-3" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(c => c.idBanco, ViewBag.Bancos as SelectList, new { @disabled = "disabled", @class = "form-control" })
                        @Html.ValidationMessageFor(c => c.idBanco)
                    </div>
                </div>

                <div class="row form-group">
                    @Html.LabelFor(c => c.idTipoTarjeta, new { @class = "control-label col-md-3" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(c => c.idTipoTarjeta, ViewBag.TipoTarjeta as SelectList, new { @disabled = "disabled", @class = "form-control" })
                        @Html.ValidationMessageFor(c => c.idTipoTarjeta)
                    </div>
                </div>

                <div class="row form-group">
                    @Html.LabelFor(c => c.NumeroTarjeta, new { @class = "control-label col-md-3" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(c => c.NumeroTarjeta, new { @disabled = "disabled", @class = "form-control" })
                        @Html.ValidationMessageFor(c => c.NumeroTarjeta)
                    </div>

                </div>

                <div class="row form-group">
                    @Html.LabelFor(c => c.CodCcv, new { @class = "control-label col-md-3" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(c => c.CodCcv, new { @disabled = "disabled", @class = "form-control" })
                        @Html.ValidationMessageFor(c => c.CodCcv)
                    </div>
                </div>

                <div class="row form-group">
                    @Html.LabelFor(c => c.Mes, new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.DropDownListFor(c => c.Mes, ViewBag.Mes as List<SelectListItem>, new { @disabled = "disabled", @class = "form-control" })
                        @Html.ValidationMessageFor(c => c.Mes)
                    </div>
                    @Html.LabelFor(c => c.AnioVen, new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.DropDownListFor(c => c.AnioVen, ViewBag.AnVen as List<SelectListItem>, new { @disabled = "disabled", @class = "form-control" })
                        @Html.ValidationMessageFor(c => c.AnioVen)
                    </div>
                </div>

                <h3>Información de montos</h3><br>
                <div class="row form-group">
                    @Html.LabelFor(c => c.Importe, new { @class = "control-label col-md-3" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(c => c.Importe, new { @class = "form-control", @Value = importe, @readonly = "readonly" })
                    </div>
                </div>

                <div class="row form-group">
                    @Html.LabelFor(c => c.Descuento, new { @class = "control-label col-md-3" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(c => c.Descuento, new { @class = "form-control", @Value = descuento, @readonly = "readonly" })
                    </div>
                </div>

                <div class="row form-group">
                    @Html.LabelFor(c => c.MontoPagar, new { @class = "control-label col-md-3" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(c => c.MontoPagar, new { @class = "form-control", @Value = montopagar, @readonly = "readonly" })
                    </div>
                </div>

                <div class="row form-group">
                    @Html.LabelFor(c => c.MontoEfe, new { @class = "control-label col-md-3" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(c => c.MontoEfe, new { @class = "form-control", @onchange = "llenar()" })
                    </div>
                </div>

                <div class="row form-group">
                    @Html.LabelFor(c => c.MontoTar, new { @class = "control-label col-md-3" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(c => c.MontoTar, new { @class = "form-control", @onchange = "verifivar()", @readonly = "readonly" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <input type="submit" value="Finalzar Compra" class="btn btn-default btn-primary" />
                    </div>
                </div>
            }
        </div>
    </div>
    <br />
</div>
<script>

    function verificar() {


    }
    function llenar() {
        var montoefe = $("#MontoEfe").val();
        var montopagar = $("#MontoPagar").val();
        if (parseFloat(montoefe) < 0) {
            alert("El monto debe ser mayor o igual a cero");
            return false;
        }

        if (parseFloat(montoefe) > parseFloat(montopagar)) {
            alert("El monto en efectivo debe ser menor al monto a pagar");
            return false;
        }

        var hola;
        hola = String((parseFloat(montopagar) - parseFloat(montoefe)));
        document.getElementById("MontoTar").value = hola;

        var montoTar = $("#MontoTar").val();

        if (parseFloat(montoTar) == 0) {
            document.getElementById("AnioVen").disabled = true;
            document.getElementById("Mes").disabled = true;
            document.getElementById("CodCcv").disabled = true;
            document.getElementById("NumeroTarjeta").disabled = true;
            document.getElementById("idTipoTarjeta").disabled = true;
            document.getElementById("idBanco").disabled = true;
        }
        else {
            document.getElementById("AnioVen").disabled = false;
            document.getElementById("Mes").disabled = false;
            document.getElementById("CodCcv").disabled = false;
            document.getElementById("NumeroTarjeta").disabled = false;
            document.getElementById("idTipoTarjeta").disabled = false;
            document.getElementById("idBanco").disabled = false;
        }

    }

    function calculaPromo() {
        //sacamos el id del banco y tipo tarjeta
        var idBanco = $("#idBanco").val();
        var tipoTarjeta = $("#idTipoTarjeta").val();
        var divPadre = document.getElementById("promocionesLista");
        var hijosDiv = divPadre.getElementsByTagName('div');
        for (var i = 0 ; i < hijosDiv.length; i++) {
            //obtengo el hijo del div
            var e = hijosDiv[i];
            //obtengo el idEvento
            var codEvento = e.getElementsByTagName('input')[0].value;
            var cntDescuento = e.getElementsByTagName('input')[1].value;
            var razon = $('#razon' + (i + 1));
            var indice = (i + 1);
            alert("indice afuera: " + indice);
            $.ajax({
                url: "/Services/Descuento/",
                data: { codEvento: codEvento, idBanco: idBanco, tipoTarjeta: tipoTarjeta },
                success: function (data) {
                    var obj = $.parseJSON(data);
                    var descuento = parseInt(obj.Descuento);
                    alert("indice adentro: " + indice);
                    if (descuento == -1) {
                        razon.append(indice + ". No cuenta con promocion");
                        alert("resultado " + razon.innerHTML);
                    } else {
                        razon.append(indice + ". Descuento de " + descuento + "%.");
                        alert("resultado " + razon.innerHTML);
                    }
                },
                error: function (data) {
                    alert("Error");
                }
            })
        }

    }
</script>
