@using Microsoft.AspNet.Identity
@using WebApplication4.Models

@{
    ViewBag.Title = "MisCompras";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var db = new WebApplication4.Models.inf245netsoft();
    CuentaUsuario cu = null;
    //se obtiene la cuenta del usuario logueado
    cu = (CuentaUsuario)Session["UsuarioLogueado"];
    DateTime hoy = DateTime.Now;
    List<Ventas> listaventas = null;
    List<VentasXFuncion> listvxf = new List<VentasXFuncion>();
    //se obitienen las ventas del usuario logueado si se ha logueado la cuenta
    if (cu != null)
    {
        listaventas = db.Ventas.Where(r => r.Estado == "Pagado" && r.cliente == cu.usuario).ToList();
    }

}
<style>
    td,th{text-align:center}
</style>
<div class="container-fluid">
    <div class="col-md-5">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","Home")">Inicio</a></li>
            <li><a href="@Url.Action("MiCuenta", "CuentaUsuario")">Mi cuenta</a></li>
            <li class="active">Mis compras pasadas</li>
        </ol>
    </div>    
</div>

<div class="container">
    <div class="row">
        <!--LA PARTE IMPORTANTE-->
        <div class="col-md-8">            
            @*se muestra el contenido de la lista de ventasobtenida del usuario logueado*@
            <div class="row form-group">
                <div class="col-md-12 table-responsive">
                    <table id="mytable" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="col-md-2">Código</th>
                                <th class="col-md-2">Fecha</th>
                                <th class="col-md-2">Cantidad</th>
                                <th class="col-md-2">Monto (S/.)</th>
                                <th class="col-md-2">Estado</th>
                                <th class="col-md-2"><span class="fa fa-info-circle"></span></th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                            @if (listaventas != null)
                            {
                                foreach (var row in listaventas)
                                {
                                    <tr id=@row.codVen onclick="myFunction(this)">
                                        <td>@row.codVen</td>
                                        <td>@row.fecha.Value.ToString("dd/MM/yyyy")</td>
                                        <td>@row.cantAsientos</td>
                                        <td>@row.MontoTotalSoles</td>
                                        <td>@row.Estado</td>
                                        <td><a href="@Url.Action("Detalles", "Ventas", new { id = row.codVen })" class="btn btn-primary"><span class="fa fa-info-circle"></span> Detalle</a></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>                
            </div>
        </div>
        <!--LOS EVENTOS DESTACADOS-->
        <div class="col-md-4">
            destacados
        </div>
    </div>
</div><!--Fin del container-->

<script>
    function verEvento() {
        window.open("ver_evento.html", "_self");
    }
    function buscar() {
        window.open("index1.html", "_self");
    }
    function ingresar() {
        window.open("mi_cuenta.html", "_self");
    }
</script>

<script>
    function select() {
        document.getElementById("fila3").style.backgroundColor = "#ddd";
    }
</script>
