@using Microsoft.AspNet.Identity;
@using WebApplication4.Models;

@{
    ViewBag.Title = "MisReservas";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var db = new WebApplication4.Models.inf245netsoft();
    CuentaUsuario cu = null;
    cu = (CuentaUsuario)Session["UsuarioLogueado"];
    DateTime hoy = DateTime.Now;
    List<Ventas> listaventas = null;
    List<VentasXFuncion> listvxf = new List<VentasXFuncion>();
    if (cu != null)
    {
        listaventas = db.Ventas.Where(r => r.Estado == "Reservado" && r.cliente == cu.usuario).ToList();
        for (int i = 0; i < listaventas.Count; i++)
        {
            Ventas vent = listaventas[i];
            List<VentasXFuncion> lv = db.VentasXFuncion.Where(c => c.codVen == vent.codVen).ToList();
            for (int j = 0; j < lv.Count; j++)
            {
                listvxf.Add(lv[j]);
            }
        }
    }

}

<div class="container-fluid">
    <ol class="breadcrumb">
        <li class=""><a href="@Url.Action("MiCuenta", "CuentaUsuario")">Mi cuenta</a></li>
        <li class="active">Mis reservas</li>
    </ol>
</div>

<div class="container">
    <div class="row">
        <!--LA PARTE IMPORTANTE-->
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <h4>Mis reservas vigentes:</h4>
                </div>
                <div class="col-md-6">
                    <a onclick="redirigeReserva()" class="btn btn-primary pull-right">Pagar reserva <span class="glyphicon glyphicon-usd"></span></a>
                </div>

            </div>

            <div class="row">
                <table id="mytable" class="table table-bordered table-hover">
                    <thead>
                        <tr class="thead">
                            <th>Codigo</th>
                            <th>Evento</th>
                            <th>Fecha</th>
                            <th>Hora</th>
                            <th>Cantidad de Boletos</th>
                            <th>Zona</th>
                            <th>Asiento</th>
                            <th>Monto (S/.)</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                        @if (listaventas != null)
                        {
                            if (listvxf != null)
                            {
                                foreach (var row in listvxf)
                                {
                                    <tr id=@row.codVen onclick="myFunction(this)">
                                        <td>@row.codVen</td>
                                        @{Funcion fu = db.Funcion.Find(row.codFuncion);
                                        }
                                        <td>@db.Eventos.Find(fu.codEvento).nombre</td>
                                        <td>@fu.fecha.Value.ToString("dd/MM/yyyy")</td>
                                        <td>@String.Format("{0:t}", fu.horaIni)</td>
                                        <td>@row.cantEntradas</td>
                                        @{
                                        List<DetalleVenta> ld = db.DetalleVenta.Where(c => c.codFuncion == fu.codFuncion && c.codVen == row.codVen).ToList();
                                        DetalleVenta de = null;
                                        PrecioEvento pe = null;
                                        List<AsientosXFuncion> laf = null;
                                        AsientosXFuncion af = null;
                                        ZonaEvento zon = null;
                                        string asientos = "";
                                        if (ld != null && ld.Count != 0)
                                        {
                                            de = ld.First();
                                            pe = db.PrecioEvento.Find(de.codPrecE);
                                        }
                                        if (pe != null)
                                        {
                                            laf = db.AsientosXFuncion.Where(c => c.codFuncion == de.codFuncion && c.codDetalleVenta == de.codDetalleVenta).ToList();
                                        }
                                        if (laf != null && laf.Count != 0)
                                        {
                                            af = laf.First();
                                            for (int j = 0; j < laf.Count; j++)
                                            {
                                                if (j == 0)
                                                {
                                                    asientos = "" + db.Asientos.Find(laf[j].codAsiento).fila + "-" + db.Asientos.Find(laf[j].codAsiento).columna;
                                                }
                                                else
                                                {
                                                    asientos = asientos + ", " + db.Asientos.Find(laf[j].codAsiento).fila + "-" + db.Asientos.Find(laf[j].codAsiento).columna;
                                                }
                                            }
                                        }
                                        }
                                        @if (de != null)
                                        {
                                            zon = db.ZonaEvento.Find(pe.codZonaEvento);
                                            <td>@db.ZonaEvento.Find(pe.codZonaEvento).nombre</td>
                                        }
                                        else
                                        {
                                            <td>-</td>
                                        }
                                        @if (af != null)
                                        {
                                            <td>@asientos</td>
                                        }
                                        else
                                        {
                                            <td>-</td>
                                        }
                                        <td>@row.total</td>
                                        <td><a href="@Url.Action("DeleteReserva", "CuentaUsuario", new { codE = row.codVen, codF = row.codFuncion,codEv=fu.codEvento,codZ=zon.codZona })" class="btn btn-primary">Borrar <span class="glyphicon glyphicon-remove"></span></a></td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>

            <br>
        </div>
    </div>
</div><!--Fin del container-->

<input type="hidden" id="codVenT" value="" />
<script>
    function myFunction(x) {
        if (document.getElementsByClassName("trselected").length > 0) {
            var element = document.getElementsByClassName("trselected");
            //element.item[0].cells[0].innerText;
            element[0].className = "";
        }
        //var tabla = document.getElementById("mytable");
        //alert(x);
        //var y = x.getCells();
        var elem = document.getElementById("codVenT");
        elem.value = x.cells[0].innerHTML;
        x.className = "trselected";

    }
    function busca() {
        var usuario = $('#idBusq').val();
        var tipo = $('#comboBusq option:selected').val();

        $.ajax({
            url: "@Url.Action("SearchReserva", "CuentaUsuario")",
            data: { usuario: usuario, tipo: tipo },
            success: function (data) {
                window.location.href = '/CuentaUsuario/BuscaReserva';
            },
            error: function () {
                alert("Error :(");
            }
        });

    }

    function redirigeReserva() {
        var reserva = $('#codVenT').val();
        if (reserva != "") {
            window.location.href = '/CuentaUsuario/PagarReserva?reserva=' + reserva;
        } else {
            alert("Seleccione una Reserva");
            evento = "";
        }

    }

</script>
<style>
    .trselected {
        background: gray;
    }
</style>