@using WebApplication4.Models;
@model EditClientModel
@{
    ViewBag.Title = "Modificar Datos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="col-md-5">
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Mi Cuenta", "MiCuenta", "CuentaUsuario")
            <li class="active">Modificar Datos</li>
        </ol>
    </div>
</div>
@using (Html.BeginForm("ModificarDatos", "CuentaUsuario", FormMethod.Post))
{
    <div class="container">
        <div class="contenedor col-md-8">
            <h3>Datos de Personales</h3><br>
            <div class="row form-group">
                @Html.LabelFor(model => model.nombre, new { @class = "control-label col-md-3" })
                <div class="col-md-7">
                    @Html.TextBoxFor(model => model.nombre, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.nombre)
                </div>

            </div>

            <div class="row form-group">
                @Html.LabelFor(model => model.apellido, new { @class = "control-label col-md-3" })
                <div class="col-md-7">
                    @Html.TextBoxFor(model => model.apellido, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.apellido)
                </div>
            </div>

            <div class="row form-group">
                @Html.LabelFor(model => model.tipoDoc, new { @class = "control-label col-md-3" })
                <div class="col-md-3">
                    @if (Model.tipoDoc == 1)
                    {
                        <input type="text" class="form-control" value="DNI" disabled>
                    }
                    @if (Model.tipoDoc == 2)
                    {
                        <input type="text" class="form-control" value="Pasaporte" disabled>
                    }


                    @Html.HiddenFor(model => model.tipoDoc, new { @class = "form-control", @readonly = "readonly" })
                </div>

                @Html.LabelFor(model => model.codDoc, new { @class = "control-label col-md-1" })
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.codDoc, new { @class = "form-control", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.codDoc)
                </div>
            </div>
            <div class="row form-group">
                @Html.LabelFor(model => model.fechaNac, new { @class = "control-label col-md-3" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.fechaNac, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.fechaNac)
                </div>
            </div>
            <div class="row form-group">
                @Html.LabelFor(model => model.direccion, new { @class = "control-label col-md-3" })
                <div class="col-md-7">
                    @Html.TextBoxFor(model => model.direccion, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.direccion)
                </div>
            </div>

            <div class="row form-group">
                @Html.LabelFor(model => model.telefono, new { @class = "control-label col-md-3" })
                <div class="col-md-7">
                    @Html.TextBoxFor(model => model.telefono, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.telefono)
                </div>
            </div>


            <div class="row form-group">
                @Html.LabelFor(model => model.telMovil, new { @class = "control-label col-md-3" })
                <div class="col-md-7">
                    @Html.TextBoxFor(model => model.telMovil, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.telMovil)
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-12">
                    <center>
                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span> Guardar</button>
                        <a href="@Url.Action("MiCuenta","CuentaUsuario")" class="btn btn-danger"><span class="glyphicon glyphicon-backward"></span> Regresar</a>
                    </center>
                </div>
            </div>
            <br />
        </div>
        <!--CARRUSEL-->
        <div class="col-md-4">

        </div>
    </div>
}

