@using WebApplication4.Models;
@model EditClientModel
@{
    ViewBag.Title = "Modificar Datos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="col-md-4">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","Home")">Inicio</a></li>
            <li>@Html.ActionLink("Mi Cuenta", "MiCuenta", "CuentaUsuario")
            <li class="active">Modificar Datos</li>
        </ol>
    </div>
</div>
@using (Html.BeginForm("ModificarDatos", "CuentaUsuario", FormMethod.Post))
{
    <div class="container">
        <div class="contenedor col-md-8"><br />            
            <div class="row form-horizontal">
                @Html.LabelFor(model => model.nombre, new { @class = "control-label col-md-3" })
                <div class="col-md-7">
                    @Html.TextBoxFor(model => model.nombre, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.nombre)
                </div>

            </div><br />

            <div class="row form-horizontal">
                @Html.LabelFor(model => model.apellido, new { @class = "control-label col-md-3" })
                <div class="col-md-7">
                    @Html.TextBoxFor(model => model.apellido, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.apellido)
                </div>
            </div><br />

            <div class="row form-horizontal">
                @Html.LabelFor(model => model.tipoDoc, new { @class = "control-label col-md-3" })
                <div class="col-md-3">
                    @if (Model.tipoDoc == 1)
                    {
                        <input type="text" class="form-control" value="DNI" readonly>
                    }
                    @if (Model.tipoDoc == 2)
                    {
                        <input type="text" class="form-control" value="Pasaporte" readonly>
                    }


                    @Html.HiddenFor(model => model.tipoDoc, new { @class = "form-control", @readonly = "readonly" })
                </div>

                @Html.LabelFor(model => model.codDoc, new { @class = "control-label col-md-1" })
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.codDoc, new { @class = "form-control", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.codDoc)
                </div>
            </div><br />
            <div class="row form-horizontal">
                @Html.LabelFor(model => model.fechaNac, new { @class = "control-label col-md-3" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.fechaNac, new { htmlAttributes = new { @class = "form-control fecha2", type = "text" } })
                    @Html.ValidationMessageFor(model => model.fechaNac)
                </div>
            </div><br />
            <div class="row form-horizontal">
                @Html.LabelFor(model => model.direccion, new { @class = "control-label col-md-3" })
                <div class="col-md-7">
                    @Html.TextBoxFor(model => model.direccion, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.direccion)
                </div>
            </div><br />

            <div class="row form-horizontal">
                @Html.LabelFor(model => model.telefono, new { @class = "control-label col-md-3" })
                <div class="col-md-7">
                    @Html.TextBoxFor(model => model.telefono, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.telefono)
                </div>
            </div><br />


            <div class="row form-horizontal">
                @Html.LabelFor(model => model.telMovil, new { @class = "control-label col-md-3" })
                <div class="col-md-7">
                    @Html.TextBoxFor(model => model.telMovil, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.telMovil)
                </div>
            </div><br />
            <div class="row form-horizontal">
                <div class="col-md-12">
                    <center>
                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span> Guardar</button>
                        <a href="@Url.Action("MiCuenta","CuentaUsuario")" class="btn btn-danger"><span class="glyphicon glyphicon-backward"></span> Regresar</a>
                    </center>
                </div>
            </div>
            <br />
        </div>
        <!--CARRUSEL-->
        <div class="col-md-4">
            @{Html.RenderPartial("Destacados");}
        </div>
    </div>
}

@section scripts{
    <script>
    if (!isNaN(@ViewBag.idCategoria)) {
        $("#idCategoria > option[value='" + @ViewBag.idCategoria + "'").attr('selected', 'selected');
        if (!isNaN(@ViewBag.idSubCat)) {
            $("#idSubCat > option[value='" + @ViewBag.idSubCat + "'").attr('selected', 'selected');
        }
    }
    if (!isNaN(@ViewBag.idRegion)) {
        $("#idRegion > option[value='" + @ViewBag.idRegion + "'").attr('selected', 'selected');
        if (!isNaN(@ViewBag.idProv)) {
            $("#idProv > option[value='" + @ViewBag.idProv + "'").attr('selected', 'selected');
        }
    }
    </script>
}