@using Microsoft.AspNet.Identity;
@using WebApplication4.Models;

@{
    ViewBag.Title = "Politicas";
    Layout = "~/Views/Shared/_LayoutPersonal.cshtml";
    var db = new WebApplication4.Models.inf245netsoft();
    int p1 = 0, p2 = 0, p3 = 0, p4 = 0, p5 = 0, p6 = 0, p7 = 0;
    DateTime hr;
    string pl6="--:-- ----";
    int a = 1, b = 2, c = 3, d = 4, e = 5, f = 6, g = 7;
    if (db.Politicas.Find(a).valor != null)
    { 
        p1 = (int)db.Politicas.Find(a).valor;
    }
    p2 = (int)db.Politicas.Find(b).valor;
    p3 = (int)db.Politicas.Find(c).valor;
    p4 = (int)db.Politicas.Find(d).valor;
    p5 = (int)db.Politicas.Find(e).valor;
    HoraReserva horap = db.HoraReserva.Find(f);
    if(horap.hora!=null){
        hr = (DateTime)db.HoraReserva.Find(f).hora;
        pl6 = hr.ToString(@"hh\:mm\:tt");
    }
    p7 = (int)db.Politicas.Find(g).valor;
}

<div class="container-fluid">
    <div class="col-md-5">
        <ol class="breadcrumb">
            <li class="active">Mantenimiento de políticas</li>
        </ol>
    </div>
</div>
<div class="container">
    <form action="" class="">
        <!--DECLARAMOS EL TABS Y LA CANTIDAD DE PESTAÑAS QUE TENDRA -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#dias" data-toggle="tab">Reservas/Compras</a></li>
            <li><a href="#tardanza" data-toggle="tab">Asistencia</a></li>
        </ul>

        <!--INTRODUCIMOS EL CONTIDO QUE TENDRA CADA PESTAÑA -->
        <div class="tab-content">
            <!--boton de salir arriba-->
            <div class="row">
                <div class="container">
                    <br>
                    <a href="@Url.Action("Index2", "Home")" class="btn btn-danger pull-right">Salir <span class="glyphicon glyphicon-log-out"></span></a>
                </div>
            </div>
            <!--PRIMAERA PESTAÑA-->
            <div class="tab-pane fade active in" id="dias">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-md-offset-1">
                            <input type="radio" name="tipoRes" value="1"><label for="">Duración de reserva: </label>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <input id="durR" type="number" class="form-control" aria-describedby="reserva">
                                <span class="input-group-addon" id="reserva">días</span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <input type="text" value="@p1" class="form-control" aria-describedby="dolares" readonly="true">
                        </div>
                    </div> <br>
                    <div class="row">
                        <div class="col-md-3 col-md-offset-1">
                            <input type="radio" name="tipoRes" value="2"><label for="">Hora Limite de Reserva: </label>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <input id="hora" type="time" class="form-control" aria-describedby="reserva">
                                <span class="input-group-addon" id="reserva">Hora</span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <input type="text" value="@pl6" class="form-control" aria-describedby="dolares" readonly="true">
                        </div>
                    </div> <br>
                    <div class="row">
                        <div class="col-md-3 col-md-offset-1">
                            <label for="">Máximo de reservas/compras por evento:</label>
                        </div>
                        <div class="col-md-3">
                            <input id="maxC" type="number" class="form-control">
                        </div>
                        <div class="col-md-3">
                            <input type="text" value="@p2" class="form-control" aria-describedby="dolares" readonly="true">
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-md-3 col-md-offset-1">
                            <label for="">Monto mín para pago con tarjeta:</label>

                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <span class="input-group-addon" id="min">S/.</span>
                                <input id="monT" type="number" class="form-control" aria-describedby="min">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <input type="text" value="@p3" class="form-control" aria-describedby="dolares" readonly="true">
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-md-3 col-md-offset-1">
                            <label for="">Cantida Maxima de Rango Asignacion de Turnos:</label>
                        </div>
                        <div class="col-md-3">
                            <input id="rAsg" type="number" class="form-control">
                        </div>
                        <div class="col-md-3">
                            <input type="text" value="@p5" class="form-control" aria-describedby="dolares" readonly="true">
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-md-3 col-md-offset-1">
                            <label for="">Numero Maximo de Empleados en Punto de Venta:</label>
                        </div>
                        <div class="col-md-3">
                            <input id="mxE" type="number" class="form-control">
                        </div>
                        <div class="col-md-3">
                            <input type="text" value="@p7" class="form-control" aria-describedby="dolares" readonly="true">
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-md-3 col-md-offset-5">
                            <button type="button" onclick="registrar()" class="btn btn-primary">Registrar <span class="glyphicon glyphicon-ok"></span></button>
                        </div>

                    </div>
                </div>
            </div>

            <!--SEGUNDA PESTAÑA-->
            <div class="tab-pane fade" id="tardanza">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-md-offset-1">
                            <label for="">Tolerancia tardanza:</label>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <input id="tol" type="number" class="form-control" aria-describedby="min">
                                <span class="input-group-addon" id="min">minutos</span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <input type="text" value="@p4" class="form-control" aria-describedby="dolares" readonly="true">
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-md-3 col-md-offset-5">
                            <button type="button" onclick="registrar2()" class="btn btn-primary">Registrar <span class="glyphicon glyphicon-ok"></span></button>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </form>
</div>

<script>
    function registrar() {
        var tp = $('input[name="tipoRes"]:checked').val();
        if (tp == undefined) {
            var dur = "";
            var hr = "";
        }
        if (tp == "1") {
            var dur = $('#durR').val();
        } else {
            if (tp != undefined) var dur = "e";
        }
        var mx = $('#maxC').val();
        var mt = $('#monT').val();
        var ra = $('#rAsg').val();
        var mE = $('#mxE').val();
        if (tp == "2") {
            var hr = $('#hora').val();
        } else {
            if (tp != undefined) var hr = "e";
        }
        //alert(dur);
        //alert(mx);
        //alert(mt);
        if (mx != null || dur != null || mt != null || mE != null || hr != null) {
            $.ajax({
                url: "@Url.Action("RegistraPoliticas", "CuentaUsuario")",
                data: { dur: dur, mx: mx, mt: mt, ra: ra, mE: mE, hr: hr },
                success: function (data) {
                    alert(data);
                    window.location.href = '/CuentaUsuario/Politicas';
                    //window.location.href = 'Promocion/Index?evento='+evento;
                    //row.remove();
                },
                error: function (data) {
                    alert(data);
                    //alert("Error :(");
                }
            });
        } else {
            alert("Ingrese un valor a Registrar");
        }
    }
    function registrar2() {
        var tolerancia = $('#tol').val();
        if (tolerancia != "" && tolerancia != null) {
            $.ajax({
                url: "@Url.Action("RegistraTolerancia","CuentaUsuario")",
                data: { tolerancia: tolerancia },
                success: function (data) {
                    alert(data);
                    window.location.href = '/CuentaUsuario/Politicas';
                    //window.location.href = 'Promocion/Index?evento='+evento;
                    //row.remove();
                },
                error: function () {
                    alert(data);
                }
            });
        } else {
            alert("Ingrese tiempo de tolerancia");
        }
    }
</script>


