@using Microsoft.AspNet.Identity
@using WebApplication4.Models

@model ReporteClienteModel

@{
    ViewBag.Title = "ReporteCliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var db = new WebApplication4.Models.inf245netsoft();
    //se define la lista de los clientes que se mostraran
    List<WebApplication4.Models.CuentaUsuario> listaCliente = null;
}
<div class="container-fluid">
    <div class="col-md-5">
        <ol class="breadcrumb">
            <li class="active">Generar Reporte de Clientes</li>
        </ol>
    </div>

</div>

<div class="container"><br />
    <center class="row form-inline">
        <div class="col-md-6">
            <label for="inPoints" class="control-label col-md-6">Puntaje mínimo: </label>
            <input id="min-points" name="inPoints" type="number" class="form-control" />
        </div>        
        
        <div class="col-md-6">
            <label for="inPoints" class="control-label col-md-6">No. Documento: </label>
            <input id="nDoc" name="Doc" type="text" class="form-control" />
        </div>   
    </center><br />

    <center class="row form-group">
        <div class="col-md-12">
            <button id="search-client" type="button" onclick="reporte()" class="btn btn-primary"><span class="fa fa-table fa-lg"></span> Generar Reporte</button>
            @*se verifica si se genero un reporte o no para mostrar el boton de exportacion*@
            @if (Session["ListaPU"] != null)
            {
                <button id="btnExport" type="button" class="btn btn-success btn-excel"><span class="fa fa-file-excel-o fa-lg"></span> Exportar Excel</button>
            }
        </div>        
    </center>
    @*si se logro generar un reporte se muestra su contenido*@
    @if (Session["ListaPU"] != null)
    {
        listaCliente = (List<WebApplication4.Models.CuentaUsuario>)Session["ListaPU"];
        <div id="dvData" class="row">   
            <div class="col-md-12">
                <center><h4>REPORTE DE CLIENTES:</h4> <h4>Al @DateTime.Now.Date.ToString("dd/MM/yyyy")</h4></center>
                <div class="table-responsive">
                    <table id="mytable" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Correo</th>
                                <th>Nombres y Apellidos</th>
                                <th>Número Documento</th>
                                <th>Cantidad de reservas anuladas</th>
                                <th>Puntos</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                            @foreach (var row in listaCliente)
                            {
                                //se obtiene la lista de las reservas anuladas o anuladas por job de cada cliente de cada fila
                                List<Ventas> listaA = db.Ventas.Where(c => c.cliente == row.usuario && (c.Estado == "Anulado" || c.Estado == "Anulado-Job")).ToList();
                                <tr id=@row.usuario onclick="myFunction(this)">
                                    <td class="r">@row.usuario</td>
                                    <td>@row.nombre   @row.apellido</td>
                                    <td class="c">@row.codDoc</td>
                                    <td class="c">@listaA.Count</td>
                                    <td class="r">@row.puntos</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>  
        </div>
    }
</div>

<script>
    function reporte() {
        var fd = $('#min-points').val();
        var doc = $('#nDoc').val();
        //se obtiene los valores ingresados de los punto y el numero de documento
        if (fd != "" || doc != "") {
            //se envian los datos ingresados para generar el reporte
            $.ajax({
                url: "@Url.Action("ReporteC", "CuentaUsuario")",
                data: {fd:fd,doc:doc},
                success: function (data) {
                    //se muestra el mensaje y se carga la pagina
                    alert(data);
                    window.location.href = '/CuentaUsuario/ReporteCliente';
                },
                error: function (data) {
                    alert(data);
                    window.location.href = '/CuentaUsuario/ReporteCliente';
                }
            });
        } else {
            //si no se escribe nada en los campos se borra el reporte generado actualmente
            $.ajax({
                url: "@Url.Action("LimpiaR", "CuentaUsuario")",
                data: {},
                success: function () {
                window.location.href = '/CuentaUsuario/ReporteCliente';
                },
                error: function (data) {
                    alert(data);
                    window.location.href = '/CuentaUsuario/ReporteCliente';
                }
            });
        }
    }

</script>

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnExport").click(function (e) {
            window.open('data:application/vnd.ms-excel,' + encodeURIComponent($('div[id$=dvData]').html()));
            e.preventDefault();
        });
    });
</script>

<style>
    h3 {
        text-align: center;
    }
</style>