@using Microsoft.AspNet.Identity
@using WebApplication4.Models

@model TipoDeCambioModel

@{        
    ViewBag.Title = "Index";        
    Layout = "~/Views/Shared/_Layout.cshtml";    
}
<style>
    td,th{text-align:center}
</style>

<div class="container-fluid">
    <div class="col-md-2">
        <ol class="breadcrumb">
            <li class="active">Tipo de cambio</li>
        </ol>
    </div>
</div>
<div class="container">    
    @using (Html.BeginForm("RegisterTipoDeCambio", "TipoDeCambio", FormMethod.Post, new { }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                @Html.ValidationSummary(true)
                <div class="row form-group">
                    @Html.LabelFor(model => model.valor, new { @class = "control-label col-md-4" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.valor, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.valor)
                    </div>
                    <div class="col-md-4">
                        <h8>Los valores de tipo cambio que se ingresen se truncarán hasta 3 decimales</h8>
                    </div>

                </div>
                <div class="row form-group">
                    <center>
                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span> Registrar</button>
                    </center>
                </div>
            </div>
        </div>
        
    }
    @{
        var db = new WebApplication4.Models.inf245netsoft();
        DateTime fecha1 = DateTime.Today.AddDays(-120);
        //se obtiene la lista de tipos de cambio de hace 120 dias atras
        List<WebApplication4.Models.TipoDeCambio> listaCambio = db.TipoDeCambio.AsNoTracking().Where(c => c.fecha > fecha1).ToList();
    }
    <div class="row">
        <div class="table-responsive col-md-offset-4 col-md-4">
            <table id="mytable" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="col-md-6">Fecha de registro</th>
                        <th class="col-md-6">Valor</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                    @foreach (var row in listaCambio)
                    {
                        //se muestra la lista de tipos cambio obtenida
                        <tr>
                            <td>@row.fecha.ToString("dd/MM/yyyy")</td>
                            @{
                                double n1 = (double)row.valor/10000;
                            }
                            <td>@n1.ToString("0.000")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        
    </div>
</div>

