@using Microsoft.AspNet.Identity;
@using WebApplication4.Models;

@{
    ViewBag.Title = "Politicas";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var db = new WebApplication4.Models.inf245netsoft();
    // definen los campos para almacenar los valores actuales de la politicas
    int p1 = 0, p2 = 0, p3 = 0, p4 = 0, p5 = 0, p6 = 0, p7 = 0;
    DateTime hr;
    string pl6 = "--:-- ----";
    int a = 1, b = 2, c = 3, d = 4, e = 5, f = 6, g = 7;
    //se obtienen los valores actuales de las politicas
    if (db.Politicas.Find(a).valor != null)
    {
        p1 = (int)db.Politicas.Find(a).valor;
    }
    p2 = (int)db.Politicas.Find(b).valor;
    p3 = (int)db.Politicas.Find(c).valor;
    p4 = (int)db.Politicas.Find(d).valor;
    p5 = (int)db.Politicas.Find(e).valor;
    HoraReserva horap = db.HoraReserva.Find(f);
    if (horap.hora != null)
    {
        hr = (DateTime)db.HoraReserva.Find(f).hora;
        pl6 = hr.ToString(@"hh\:mm\:tt");
    }
    p7 = (int)db.Politicas.Find(g).valor;
}
<style>
    input{text-align:center}
</style>
<div class="container-fluid">
    <div class="col-md-5">
        <ol class="breadcrumb">
            <li class="active">Mantenimiento de políticas</li>
        </ol>
    </div>
</div>
<div class="container">
    <form action="" class="">
        <!--DECLARAMOS EL TABS Y LA CANTIDAD DE PESTAÑAS QUE TENDRA -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#dias" data-toggle="tab">Reservas/Compras</a></li>
            <li><a href="#tardanza" data-toggle="tab">Asistencia</a></li>
        </ul>

        <!--INTRODUCIMOS EL CONTENIDO QUE TENDRA CADA PESTAÑA -->
        <div class="tab-content">
            <!--PRIMAERA PESTAÑA-->
            <div class="tab-pane fade active in" id="dias"><br />
                <div class="container">
                    <div class="row form-group">
                        <div class="radio col-md-4 col-md-offset-1 col-sm-4 col-xs-4">
                            <label><input type="radio" name="tipoRes" value="1">Duración de reserva: </label>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-4">
                            <div class="input-group">
                                <input id="durR" type="number" class="form-control" aria-describedby="reserva">
                                <span class="input-group-addon" id="reserva">días</span>
                            </div>
                        </div>
                        <div class="col-md-1 col-sm-4 col-xs-4">
                            <input type="text" value="@p1" class="form-control" aria-describedby="dolares" readonly="true">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="radio col-md-4 col-md-offset-1 col-sm-4 col-xs-4">
                            <label><input type="radio" name="tipoRes" value="2">Hora de Cancelación de Reserva: </label>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-4">
                            <div class="input-group">
                                <input id="hora" type="time" class="form-control" aria-describedby="reserva">
                                <span class="input-group-addon" id="reserva">horas</span>
                            </div>
                        </div>
                        <div class="col-md-1 col-sm-4 col-xs-4">
                            <input type="text" value="@pl6" class="form-control" aria-describedby="dolares" readonly="true">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4 col-md-offset-1 col-sm-4 col-xs-4">
                            <p>Máximo de reservas/compras por evento:</p>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-4">
                            <input id="maxC" type="number" class="form-control">
                        </div>
                        <div class="col-md-1 col-sm-4 col-xs-4">
                            <input type="text" value="@p2" class="form-control" aria-describedby="dolares" readonly="true">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4 col-md-offset-1 col-sm-4 col-xs-4">
                            <p>Monto mínimo para pago con tarjeta:</p>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-4">
                            <div class="input-group">
                                <span class="input-group-addon" id="min">S/.</span>
                                <input id="monT" type="number" class="form-control" aria-describedby="min">
                            </div>
                        </div>
                        <div class="col-md-1 col-sm-4 col-xs-4">
                            <input type="text" value="@p3" class="form-control" aria-describedby="dolares" readonly="true">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4 col-md-offset-1 col-sm-4 col-xs-4">
                            <p>Cantidad máxima de rango asignación de turnos:</p>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-4">
                            <input id="rAsg" type="number" class="form-control">
                        </div>
                        <div class="col-md-1 col-sm-4 col-xs-4">
                            <input type="text" value="@p5" class="form-control" aria-describedby="dolares" readonly="true">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4 col-md-offset-1 col-sm-4 col-xs-4">
                            <p>Numero máximo de empleados en punto de venta:</p>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-4">
                            <input id="mxE" type="number" class="form-control">
                        </div>
                        <div class="col-md-1 col-sm-4 col-xs-4">
                            <input type="text" value="@p7" class="form-control" aria-describedby="dolares" readonly="true">
                        </div>
                    </div>
                    <div class="form-group row">
                        <center>
                            <button type="button" onclick="registrar()" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Registrar</button>
                        </center>
                    </div>
                </div>
            </div>

            <!--SEGUNDA PESTAÑA-->
            <div class="tab-pane fade" id="tardanza"><br />
                <div class="container">
                    <div class="row form-group">
                        <div class="col-md-4 col-md-offset-1 col-sm-4 col-xs-4">
                            <p>Tolerancia tardanza:</p>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-4">
                            <div class="input-group">
                                <input id="tol" type="number" class="form-control" aria-describedby="min">
                                <span class="input-group-addon" id="min">minutos</span>
                            </div>
                        </div>
                        <div class="col-md-1 col-sm-4 col-xs-4">
                            <input type="text" value="@p4" class="form-control" aria-describedby="dolares" readonly="true">
                        </div>
                    </div>
                    <div class="row form-group">
                        <center>
                            <button type="button" onclick="registrar2()" class="btn btn-primary">Registrar <span class="glyphicon glyphicon-ok"></span></button>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    function registrar() {
        //se obtienen el valor ingresado en cada campo
        var tp = $('input[name="tipoRes"]:checked').val();
        //sino se selecciona ningun radiobutton se le asigna a dur y hor valor vacio
        if (tp == undefined) {
            var dur = "";
            var hr = "";
        }
        //si se selecciona el radio buton de dur se obtiene su valor
        if (tp == "1") {
            var dur = $('#durR').val();
        } else {
            //si se selecciono hora se le asigna una constante e a dur
            if (tp != undefined) var dur = "e";
        }
        var mx = $('#maxC').val();
        var mt = $('#monT').val();
        var ra = $('#rAsg').val();
        var mE = $('#mxE').val();
        if (tp == "2") {
            //si se selecciona el radio buton de hora se obtiene su valor
            var hr = $('#hora').val();
        } else {
            //si se selecciono dur se le asigna una constante e a hora
            if (tp != undefined) var hr = "e";
        }
        if (mx != null || dur != null || mt != null || mE != null || hr != null) {
            //se envia los datos escritos en politicas al controller
            $.ajax({
                url: "@Url.Action("RegistraPoliticas", "Politicas")",
                data: { dur: dur, mx: mx, mt: mt, ra: ra, mE: mE, hr: hr },
                success: function (data) {
                    alert(data);
                    window.location.href = '/Politicas/Politicas';
                    //window.location.href = 'Promocion/Index?evento='+evento;
                    //row.remove();
                },
                error: function (data) {
                    alert(data);
                    //alert("Error :(");
                }
            });
        } else {
            //si no se ingreso ningun valor se muestra un mensaje
            alert("Ingrese un valor a Registrar");
        }
    }
    function registrar2() {
        //se obtienen el valor ingresado en tolerancia
        var tolerancia = $('#tol').val();
        if (tolerancia != "" && tolerancia != null) {
            //se envia los datos escritos en tolerancia al controller
            $.ajax({
                url: "@Url.Action("RegistraTolerancia","Politicas")",
                data: { tolerancia: tolerancia },
                success: function (data) {
                    alert(data);
                    window.location.href = '/Politicas/Politicas';
                },
                error: function () {
                    alert(data);
                }
            });
        } else {
            //si no se ingreso ningun valor se muestra un mensaje
            alert("Ingrese tiempo de tolerancia");
        }
    }
</script>


