
@using Microsoft.AspNet.Identity;
@using WebApplication4.Models;
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<Eventos>


@{
    
    ViewBag.MaximoPaginas = 5;
    var nombre = "";
    ViewBag.Title = "Busqueda";
    Layout = "~/Views/Shared/_LayoutPersonal.cshtml";
    inf245netsoft db = new inf245netsoft();
}

<script src="~/Scripts/jquery-2.1.4.min.js"></script>

<!--

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

-->


<div id="busqNombre" class="container-fluid">
    <div class="col-md-5">
        <ol class="breadcrumb">
            <li class="active">Búsqueda de eventos</li>
        </ol>
    </div>
    <div class="col-md-5 col-md-offset-1">

        @using (Html.BeginForm("Busqueda", "Evento", FormMethod.Get, new { id = "search" }))
        {

            <div class="form-group">
                <div class="input-group">
                    @* @Html.TextBoxFor(model => model.nombre, new {placeholder = "INGRESE EVENTO" , @class = "form-control" }); *@
                    @* <input id="textoBusqueda" type="text" class="form-control" placeholder="BUSCAR UN EVENTO">*@

                    @Html.TextBox("nombre", "", new { placeholder = "INGRESE EVENTO", @class = "form-control" })
                    <span class="input-group-btn"><a id="btn-search" class="btn btn-primary" onclick="submitSearch()"><span class="glyphicon glyphicon-search"></span></a></span>
                </div>
            </div>


        }
    </div>
</div>



<div id="busqAvanzada" class="container-fluid" style="text-align:center">
    <div id="busqAvanzada">
        <!--formulario EN LINEA-->
        <div id="alerta" class="alert alert-warning" hidden></div>

        @using (Html.BeginForm("Busqueda", "Evento", FormMethod.Get, new { id = "adv-search", @class = "form-inline" }))
        {

            if (this.Request.QueryString.Count != 0)
            {

                if (this.Request.QueryString.AllKeys.Contains("nombre"))
                {

                    nombre = this.Request.QueryString["nombre"];

                }

            }

            @Html.Hidden("nombre", nombre, new { id = "adv-nomb" })



            // @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                <div class="form-group ">
                    <div class="input-group">

                        <span class="input-group-addon">Desde:</span>


                        @if (ViewBag.fech_ini != null)
                        {
                            string valor = ViewBag.fech_ini.ToString("yyyy-MM-dd");

                            <input id="fech_ini" name="fech_ini" type="date" class="form-control" value=@valor>
                        }
                        else
                        {

                            <input id="fech_ini" name="fech_ini" type="date" class="form-control">
                        }



                    </div>
                </div>

                @*<div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">Hasta:</span>
                        <input id="fech_fin" onchange="changeDate2()" name="fech_fin" type="date" class="form-control">
                    </div>
                </div>*@

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">Hasta:</span>

                        @if (ViewBag.fech_fin != null)
                        {
                            string valor = ViewBag.fech_fin.ToString("yyyy-MM-dd");

                            <input id="fech_fin" name="fech_fin" type="date" value=@valor class="form-control">
                        }
                        else
                        {

                            <input id="fech_fin"  name="fech_fin" type="date" class="form-control">
                        }


                    </div>
                </div>

                @*       @{
                        var db = new WebApplication4.Models.inf245netsoft();
                        if (ViewBag.Lista == null)
                        {
                            ViewBag.Lista = db.EventosPrueba.AsNoTracking().Where(c => c.estado == "activo").ToList();

                        }

                    }*@



                <div class="form-group ">


                    @*
                        @Html.LabelFor(model => model.idCategoria)
                        @Html.DropDownListFor(model => model.idCategoria, @ViewBag.categorias as SelectList, "Categorias", new { @class = "form-control", onclick = "cambioCat()" })
                    *@




                    <select name="idCategoria" id="idCategoria" data-val="true" onchange="cambioCat()" class="form-control col-lg-2">

                        <option value="">Categorias</option>


                        @foreach (var categoria in ViewBag.categorias)
                        {
                            <option value=@categoria.Value> @categoria.Text</option>
                        }

                    </select>


                </div>
                <div class="form-group ">
                    @*
                        @Html.LabelFor(model => model.idSubCat)
                        @Html.DropDownListFor(model => model.idSubCat, @ViewBag.subcategorias as SelectList, "SubCategorias", new { @class = "form-control" })
                    *@

                    <select name="idSubCat" id="idSubCat" data-val="true" class="form-control col-lg-2">

                        <option value="">Subcategorias</option>
                        @if (ViewBag.idCategoria != null)
                        {
                            int idsubcat = ViewBag.idSubCat;
                            int idPadre = ViewBag.idCategoria;

                            var subcat = from obj in db.Categoria
                                         where obj.idCatPadre == idPadre
                                         select obj;

                            foreach (var dato in subcat)
                            {

                                <option value=@dato.idCategoria>@dato.nombre</option>

                            }



                        }



                    </select>









                </div>
                <div class="form-group">
                    @*
                        @Html.LabelFor(model => model.idRegion)
                        @Html.DropDownListFor(model => model.idRegion, @ViewBag.departamentos as SelectList, "Departamentos", new { @class = "form-control", @onchange = "cambio()" })
                    *@

                    <select name="idRegion" id="idRegion" data-val="true" class="form-control col-lg-2" onchange="cambio()">
                        <option value="">Departamentos</option>

                        @foreach (var departamento in ViewBag.departamentos)
                        {
                            <option value=@departamento.Value> @departamento.Text</option>
                        }

                    </select>




                    @*

                        @{
                            var region = new SelectList(ViewBag.departamentos, "idRegion", "nombre");
                        }


                        @Html.DropDownList("departamentos", region, "--Dpto--", new { @class = "form-control", onchange = "cambio()" })
                    *@
                </div>
                <div class="form-group">
                    @*
                        @Html.LabelFor(model => model.idProv)
                        @Html.DropDownListFor(model => model.idProv, @ViewBag.distritos as SelectList, "Distrito", new { @class = "form-control" })
                    *@
                    <select name="idProv" id="idProv" data-val="true" class="form-control ">


                        <option value="">Distritos </option>

                        @if (ViewBag.idProv != null)
                        {
                            int idreg = ViewBag.idRegion;
                            int idpro = ViewBag.idProv;

                            var region = from obj in db.Region
                                         where obj.idRegPadre == idreg
                                         select obj;

                            foreach (var dato in region)
                            {

                                <option value=@dato.idRegion>@dato.nombre</option>

                            }



                        }




                    </select>



                </div>
                <div class="form-group">
                    <a id="btn-adv-search" onclick="submitAdvSearch() " class="btn btn-primary ">Buscar <span class="glyphicon glyphicon-search"></span></a>
                </div>

            </div>

        }

    </div>
</div>
<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <strong>Resultados: @ViewBag.Cant </strong>
        </div>

        <!--Aca iran los eventos en miniatura-->
        <div class="panel-body">

            @foreach (var evento in Model)
            {

                <a href="/Evento/VerEvento/@evento.codigo">
                    <div class="col-md-2 col-sm-4 col-xs-6 bloque">
                        <div class="thumbnail">
                            <img class="event" src="@evento.ImagenDestacado" alt="">
                            <div class="caption" style="text-align:center">
                                <div class="row">@evento.nombre</div>
                                <div class="row">@evento.fecha_inicio</div>
                            </div>
                        </div>
                    </div>
                </a>

                @*

                    <tr>
                        <td>@evento.nombre</td>
                        <td>@evento.lugar</td>
                    </tr>
                *@
            }
        </div>

    </div>


    @{
        


        var fechaI = "";
        var fechaF = "";

        if (ViewBag.fech_ini != null)
        {
            fechaI = ViewBag.fech_ini.ToString("yyyy-MM-dd");


        }
        else
        {
            fechaI = ViewBag.fech_ini;

        }

        if (ViewBag.fech_fin != null)
        {
            fechaF = ViewBag.fech_fin.ToString("yyyy-MM-dd");


        }
        else
        {
            fechaF = ViewBag.fech_fin;

        }



        @* Html.RenderPartial("BusquedaPaging", lista.ToPagedList(indexPagina, 5 ));*@
        @* Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
        @Html.PagedListPager(Model, page => Url.Action("Busqueda", new { page, nombre = ViewBag.nombre, fech_ini = fechaI, fech_fin = fechaF, idCategoria = ViewBag.idCategoria, idSubCat = ViewBag.idSubCat, idRegion = ViewBag.idRegion, idProv = ViewBag.idProv }));





    }



</div>










@*
    @Html.Partial("BusquedaPaging", lista.ToPagedList(0, 2));
    <div class="container-fluid">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <strong>Resultados: @ViewBag.Lista.Count </strong>
            </div>

            <!--Aca iran los eventos en miniatura-->
            <div class="panel-body">


                @foreach (var evento in ViewBag.Lista)
                {


                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="thumbnail">
                            <img onclick="verEvento()" class="event" src="@evento.ImagenDestacado" alt="">
                            <div class="caption" style="text-align:center">
                                <div class="row">@evento.nombre</div>
                                <div class="row">@evento.fecha_inicio</div>
                            </div>
                        </div>
                    </div>

                }
            </div>


            <!--Paginacion-->
            <ul class="pagination pagination-md pull-right">
                <!--lg    md    sm-->



                <li class="disabled"><a href="">&laquo;</a></li>

                @{
                    ViewBag.paginas = ((Model.numeroPaginas - ViewBag.MaximoPaginas) > 0) ? Model.numeroPaginas : ViewBag.MaximoPaginas;

                }
                @for (int num = 1; num < ViewBag.paginas; num++)
                {
                    <li><a>@num</a></li>

                }
                <li><a href="">&raquo;</a></li>


            </ul>
        </div>
    </div>*@
<script>

    $(document).ready(function () {
      /*  $.validator.addMethod("greaterThan", function (value, element, params) {

            console.log(element);
            console.log(value);
            console.log(params);

               if (!/Invalid|NaN/.test(new Date(value))) {
                   return new Date(value) > new Date($(params).val());
               }

               return isNaN(value) && isNaN($(params).val()) || (Number(value) > Number($(params).val()));
        }, 'Must be greater than {0}.');
        */


        if (!isNaN(@ViewBag.idCategoria)) {

            $("#idCategoria > option[value='" + @ViewBag.idCategoria + "'").attr('selected', 'selected');


            if (!isNaN(@ViewBag.idSubCat)) {


                $("#idSubCat > option[value='" + @ViewBag.idSubCat + "'").attr('selected', 'selected');



            }


        }

        if (!isNaN(@ViewBag.idRegion)) {

            $("#idRegion > option[value='" + @ViewBag.idRegion + "'").attr('selected', 'selected');



            if (!isNaN(@ViewBag.idProv)) {

                $("#idProv > option[value='" + @ViewBag.idProv + "'").attr('selected', 'selected');



            }

        }

        $("#adv-search").on('submit', function (e) {

            e.preventDefault();
           

            var fechI = this['fech_ini'].value;
            var fechF = this['fech_fin'].value;

            /*Regla 1 para la validadcion de al menos un campo*/
            if (fechI == '' && fechF == '' && $("#fech_fin").val() == '' && $("#idCategoria").val() == '' &&
                $("#idSubCat").val() == '' && $("#idRegion").val() == '' && $("#idProv").val() == '') {

                $("#alerta").append('<strong>Ingrese al menos un campo!</strong>').show();
                return;
            } else {

                var valor = $("#alerta").children('strong');
                if (valor.length > 0) {

                    valor.remove();

                }
               
                $("#alerta").hide();

            }
            /*Regla 2 : Validacion para las fechas*/
            if (fechF != '' && fechI != '') {
                   
               
                if (new Date(fechF.replace(/(\d{4})-(\d{2})-(\d{2})/, "$2/$3/$1")) < new Date(fechI.replace(/(\d{4})-(\d{2})-(\d{2})/, "$2/$3/$1"))) {

                    $("#alerta").append('<strong>Fecha hasta no puede ser menor que fecha desde</strong>').show();
                    return;
                } else {
                    var valor = $("#alerta").children('strong');
                    if (valor.length > 0) {

                        valor.remove();

                    }

                    $("#alerta").hide();

                }

            }

            this.submit();


    });

    });
    function submitSearch() {


        $("#search").submit();
    }




    function submitAdvSearch() {
      
            $("#adv-search").submit();

    }

    function cambio() {

        fillCombo("idProv", $("#idRegion").val(),"Distritos","Distritos");

    }


    function cambioCat() {

        fillCombo("idSubCat", $("#idCategoria").val(), "Subcategorias", "Subcategorias");

    }

    function fillCombo(idCombo, value, linkUrl, optlabel) {

        $("#" + idCombo).empty();
        $("#" + idCombo).append("<option value=''>"+ optlabel + "</option>")


        var depId = parseInt(value);
        if (isNaN(depId)) return;
                $.ajax({
                    url: linkUrl,
                    data: { depId: depId },
                    datatype: "json",
                    success: function (data) {
                        var obj = $.parseJSON(data);
                        $.each(obj, function (k, v) {
                            $("#" + idCombo).append("<option value='" + v.IdRegion + "'>" + v.Nombre + "</option>");
                        });
                    },
                    error: function () {
                        alert("Error :(");
                    }
                });
            }

</script>
<style>
    .bloque{

        width:250px;
        height: 150px;
    }

</style>

