
@using Microsoft.AspNet.Identity;
@using WebApplication4.Models;

@model Evento2Model
@{
    ViewBag.MaximoPaginas = 5;
    ViewBag.Title = "Busqueda";
    Layout = "~/Views/Shared/_LayoutPersonal.cshtml";
}




<script src="~/Scripts/jquery-1.10.2.min.js"></script>


<div id="busqNombre" class="container-fluid">
    <div class="col-md-5">
        <ol class="breadcrumb">
            <li class="active">Búsqueda de eventos</li>
        </ol>
    </div>
    <div class="col-md-5 col-md-offset-1">

        @using (Html.BeginForm("Busqueda", "Evento", FormMethod.Get, new { id = "search" }))
        {

            <div class="form-group">
                <div class="input-group">
                    @Html.TextBox("busqueda", "", new { placeholder = "INGRESE EVENTO", @class = "form-control" })
                    @* <input id="textoBusqueda" type="text" class="form-control" placeholder="BUSCAR UN EVENTO">*@
                    <span class="input-group-btn"><a id="btn-search" class="btn btn-primary" onclick="submitSearch()"><span class="glyphicon glyphicon-search"></span></a></span>
                </div>
            </div>


        }
    </div>
</div>



<div id="busqAvanzada" class="container-fluid" style="text-align:center">
    <div id="busqAvanzada">
        <!--formulario EN LINEA-->


        @using (Html.BeginForm("Busqueda", "Evento", FormMethod.Get, new { id = "adv-search", @class = "form-inline" }))
        {
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                <div class="form-group ">
                    <div class="input-group">

                        <span class="input-group-addon">Desde:</span>
                        <input id="fech_ini" name="fech_ini" type="date" class="form-control">
                    </div>
                </div>


                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">Hasta:</span>
                        <input id="fech_fin" onchange="changeDate2()" name="fech_fin" type="date" class="form-control">
                    </div>
                </div>
                @*       @{
                        var db = new WebApplication4.Models.inf245netsoft();
                        if (ViewBag.Lista == null)
                        {
                            ViewBag.Lista = db.EventosPrueba.AsNoTracking().Where(c => c.estado == "activo").ToList();

                        }

                    }*@



                <div class="form-group ">

                    @Html.LabelFor(model => model.idCategoria)
                    @Html.DropDownListFor(model => model.idCategoria, @ViewBag.categorias as SelectList, "Categorias", new { @class = "form-control", onclick = "cambioCat()" })




                    @*
                        <select name="" id="Tipo" class="form-control col-lg-2">
                            <option value="" disabled selected hidden>Tipo</option>


                            @foreach (var categoria in ViewBag.categorias)
                            {
                                <option value=""> @categoria.nombre</option>
                            }

                        </select>

                    *@
                </div>
                <div class="form-group ">
                    @Html.LabelFor(model => model.idSubCat)
                    @Html.DropDownListFor(model => model.idSubCat, @ViewBag.subcategorias as SelectList, "SubCategorias", new { @class = "form-control" })



                </div>
                <div class="form-group">

                    @Html.LabelFor(model => model.idRegion)
                    @Html.DropDownListFor(model => model.idRegion, @ViewBag.departamentos as SelectList, "Departamentos", new { @class = "form-control", @onchange = "cambio()" })


                    @*

                        @{
                            var region = new SelectList(ViewBag.departamentos, "idRegion", "nombre");
                        }


                        @Html.DropDownList("departamentos", region, "--Dpto--", new { @class = "form-control", onchange = "cambio()" })
                    *@
                </div>
                <div class="form-group">

                    @Html.LabelFor(model => model.idProv)
                    @Html.DropDownListFor(model => model.idProv, @ViewBag.distritos as SelectList, "Distrito", new { @class = "form-control" })
                    @*
                        <select name="distritos" id="distritos" class="form-control ">
                            <option value="" disabled hidden>-Dist-</option>
                        </select>

                    *@

                </div>
                <div class="form-group">
                    <a id="btn-adv-search" onclick="submitAdvSearch() " class="btn btn-primary ">Buscar <span class="glyphicon glyphicon-search"></span></a>
                </div>

            </div>

        }

    </div>
</div>


<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <strong>Resultados: @ViewBag.Lista.Count </strong>
        </div>

        <!--Aca iran los eventos en miniatura-->
        <div class="panel-body">


            @foreach (var evento in ViewBag.Lista)
            {


                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="thumbnail">
                        <img onclick="verEvento()" class="event" src="@evento.ImagenDestacado" alt="">
                        <div class="caption" style="text-align:center">
                            <div class="row">@evento.nombre</div>
                            <div class="row">@evento.fecha_inicio</div>
                        </div>
                    </div>
                </div>

            }
        </div>


        <!--Paginacion-->
        <ul class="pagination pagination-md pull-right">
            <!--lg    md    sm-->



            <li class="disabled"><a href="">&laquo;</a></li>

            @{
                ViewBag.paginas = ((Model.numeroPaginas - ViewBag.MaximoPaginas) > 0) ? Model.numeroPaginas : ViewBag.MaximoPaginas;

            }
            @for (int num = 1; num < ViewBag.paginas; num++)
            {
                <li><a>@num</a></li>

            }
            <li><a href="">&raquo;</a></li>


        </ul>
    </div>
</div>
<script>

    $(document).ready(function () {
        $.validator.addMethod("greaterThan", function (value, element, params) {

            console.log(element);
            console.log(value);
            console.log(params);

               if (!/Invalid|NaN/.test(new Date(value))) {
                   return new Date(value) > new Date($(params).val());
               }

               return isNaN(value) && isNaN($(params).val()) || (Number(value) > Number($(params).val()));
           }, 'Must be greater than {0}.');

    });


    function submitSearch() {


        $("#search").submit();
    }

    function changeDate2() {



        $("#fech_fin").rules('add',{ greaterThan: "#fech_ini"})




    }


    function submitAdvSearch() {

        $("#adv-search").submit();
    }

    function cambio() {

        fillCombo("idProv", $("#idRegion").val(),"Provincia","Distritos");

    }


    function cambioCat() {


        fillCombo("idSubCat", $("#idCategoria").val(),"Subcategorias","Subcategorias");
    }

    function fillCombo(idCombo, value, linkUrl, optlabel) {

        $("#" + idCombo).empty();
        $("#" + idCombo).append("<option value=''>"+ optlabel + "</option>")


        var depId = parseInt(value);
        if (isNaN(depId)) return;
                $.ajax({
                    url: linkUrl,
                    data: { depId: depId },
                    datatype: "json",
                    success: function (data) {
                        var obj = $.parseJSON(data);
                        $.each(obj, function (k, v) {
                            $("#" + idCombo).append("<option value='" + v.IdRegion + "'>" + v.Nombre + "</option>");
                        });
                    },
                    error: function () {
                        alert("Error :(");
                    }
                });
            }

</script>

