
@using WebApplication4.Models;
@{
    ViewBag.Title = "Comentarios";
    Layout = null;
    int offsetList = 0;

}

@{
    Comentario comm = Model;

}
<style>
    .set-opts-btn {
        float: right;
        cursor: pointer;
        display: none;
    }


    .comm-opts {
        list-style: none;
        padding: 0;
        margin: 1px 1px;
    }

    .popover-content {
        padding: 0;
    }

    .comm-opts li {
        width: 70px;
        box-shadow: 0 0 1px 1px gray;
        cursor: pointer;
        padding: 2px 2px;
        color: black;
    }

    .form-post {
        --width: 100%;
    }

    div#comment-container textarea {
        --height: 45px;
        --line-height: 24px;
        --min-height: 22px;
        --overflow-y: hidden;
        --padding-top: 1.1em;
    }

    #comm-cont-txt {
        --width: 100%;
    }

    .wrapper-container {
        --background-color: #f5f5f5;
    }

    .row-list {
        --background: #286090;
    }

    .list-block-header {
        --padding: 0px 15px;
        --color: black;
        --background-color: #286090;
    }

    .block {
        --padding: 0 20px;
    }
</style>


<div class="row">
    <div class="con wrapper-container">
        <div id="comment-container"  class="container-fluid">

            <div class="list-block-header">
                <h4><u>Comentarios</u></h4>
            </div>
            <div class="row-list">
                <ol class="list-group list-block-comment">
                    <li class="list-group-item block-post">
                        <span data-title="one toogle" class="glyphicon glyphicon-pencil set-opts-btn  my-popover"></span>
                        @{
                            AjaxOptions options = new AjaxOptions();
                            options.HttpMethod = "POST";
                            options.OnComplete = "RefreshWeb";
                        }

                        @using (Ajax.BeginForm("EnviarComentario", options))
                        {
                            /*
                            @Html.Hidden("evento_id", model.codigo);*/
                            @Html.Hidden("user_val", comm.usuario);
                            @Html.Hidden("codEvento", comm.codEvento);

                            <div class="form-group">
                                <div class="form-post">
                                    <div id="warning_block" hidden class="alert-warning warning"></div>
                                    <textarea id="comm-cont-txt" class="form-control" name="comentario" rows="3" placeholder="Escribe un comentario sobre este evento..."></textarea>
                                    <button type="button" id="btn-post" onclick="postComment()" class="btn btn-primary pull-right">Comentar</button>                             
                                </div>
                            </div>
                        }
                    </li>
                </ol>
            </div>

        </div>

    </div>

    <div id="content" style="width:200px" class="hidden">
        <ul style="text-align:center" class="comm-opts">
            <li class="opt-del-button" onclick="eliminar()">Delete</li>
        </ul>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>


    $(document).ready(function () {
        var codEvento = @comm.codEvento;
        var usuario =$("#user_val").val();
        var contenido = $("#comm-cont-txt").val();


        $.call(cargarDatos('/Evento/GetComents', codEvento, usuario, contenido));


        $(this).delegate(".block-comment","mouseover",function(){          
            if(!($(".popover").length >0))
                $(this).children(".set-opts-btn").show();
        });


        $(this).delegate(".block-comment","mouseout",function(){               
            if(!($(".popover").length >0))
                $(this).children(".set-opts-btn").hide();
        });
            
        $(document).on('click', function(e){                
            $('.my-popover').each(function(){
                if (!$(this).is(e.target) && $(this).has(e.target).length ===0 && $('.popover').has(e.target).length === 0){
                    $(this).popover().data('bs.popover').tip().remove();
                    $(this).hide();                       
                }   
            }); 
        });
    });


    function clickSpan(){
        var $elements = $('.my-popover');
        $elements.each(function(){
           
            var $element = $(this);
            
            $element.popover({
                html: true,
                placement: 'bottom',
                container: $('body'),
                content: $('#content').html()                
            });
            
            
            $elements.on('shown.bs.popover',function(){
                var popover = $elements.data('bs.popover');
                if(typeof popover !== "undefined"){
                    var $tip = popover.tip();
                    zindex = $tip.css('z-index');
                    
                 
                    
                    
                     
                 
                }
            });


        });}

    
    function eliminar(){
        var codEvento = @comm.codEvento;
        var usuario =$("#user_val").val();
        var contenido = $("#comm-cont-txt").val();
        var $span =  $('.set-opts-btn:visible');

        var valor  =  $($span).parent().val();

        $.post("/Evento/DelComment",
            {cod : valor, codEvento: codEvento}, function success(data,texto,value){

                $($span).popover().data('bs.popover').tip().remove();
                $.call(cargarDatos('/Evento/GetComents', codEvento, usuario, contenido));
            },"json"
            );
    }

        function reservaExitosa() {
            alert("Reserva exitosa, tiene hasta el final del día para pagarla");
        }

        $('.form-post').on('keyup', 'textarea', function () {
            $(this).height(0);
            $(this).height(this.scrollHeight);
        });
        $('.form-post').find('textarea').keyup();

        function onSuccess(data) {
            alert("exitoso");
        }

        function postComment() {
            var codEvento = @comm.codEvento;
            var usuario =$("#user_val").val();
            var contenido = $("#comm-cont-txt").val();


            var valor = $("#alerta").children('strong');
            if (valor.length > 0) {

                valor.remove();
            }

            if (contenido.length > 200){
                $("#warning_block").append("<Strong>Excede la cantidad de caracteres<Strong>").show();
                return;
            }else{
                var valor = $("#alerta").children('strong');
                if (valor.length > 0) {
                    valor.remove();
                }
                $("#alerta").hide();
            }


            if(contenido == ''){
         
                $("#warning_block").append("<Strong>Intento anadir un comentario vacio<Strong>").show();
                return;
            }else{
                var valor = $("#alerta").children('strong');
                if (valor.length > 0) {

                    valor.remove();
                }

                $("#alerta").hide();
            }
            cargarDatos('/Evento/EnviarComentario', codEvento, usuario, contenido);

            $("#comm-cont-txt").val("");
            $("#warning_block").hide();
        }


    function cargarDatos(linkUrl, codEvento, usuario, contenido ){



        var lista =  $(".block-comment");

        if(!isNaN(lista.length)){


            $.each(lista, function(k ,v){

                v.remove();


            });

            var link = $(".view-more");
            if(!isNaN(link.length))
                link.remove();


        }






        $.ajax({

            async: true,
            cache: false,
            type: 'POST',
            url: linkUrl ,
            dataType: 'json',
            data:  {codEvento : codEvento , usuario : usuario , contenido : contenido},
            success:  function(data){
                if(isNaN(data.length)) return;

                var cont = 0;
                $.each(data,function(k,v){

        
                    var options = {
                        weekday: "long", year: "numeric", month: "short",
                        day: "numeric", hour: "2-digit", minute: "2-digit"
                    };

  
                    var date =  new Date(parseInt( v.fecha.substr(6)));
                    var fecha  = date.toLocaleDateString("en-us",options);
                    var contenido ="";

                    if(cont>4){
                        $(".list-block-comment").append("<li onclick='agregarDatos()' align='center' value="+ cont +" class='list-group-item view-more'><a>Ver mas comentarios</a></li>");
                        $(".view-more").css({"cursor":"pointer"});

                        return;

                    }

                 
                    if(v.flag == true){
                         contenido =  "<span data-title=''  onclick ='clickSpan()' class=' glyphicon glyphicon-pencil set-opts-btn  my-popover'></span>";

                    }
                   

                    $(".list-block-comment").append(" <li value="+ v.codigo +" class='list-group-item block-comment'>"+
                        contenido + 
                        "<div class='block'>"+
                        "<div class='row comment-header'>"+
                        "<h4>"+ v.nombre + "</h4>"+
                        "</div>"+
                        "<div class='row comment-body'>"+
                        "<div class='col-md-1'>"+
                        "<img class='user-image img-thumbnail' src='/Images/Otros/usuario.png'></img>"+
                        "</div>"+
                        "<div class='col-md-6'>"+
                        "<div class='user-comment'><p>"+ v.contenido +"</p></div>"+
                        "</div>"+
                        "</div>"+
                        "<div align='right' class='comment-action row'>" +
                        "<span>"+ fecha +"<span>"+
                        "</div>"+
                        "</div>"+
                        "</li>"

                        );
                    cont++;

                });


            },
            error:function(){
                alert("....");


            }

        });






    }


    function agregarDatos(){


        var offset  = $(".view-more").val();
        var codEvento = @comm.codEvento;
        var usuario =$("#user_val").val();



        $.ajax({

            async: true,
            cache: false,
            type: 'POST',
            url: '/Evento/GetComents' ,
            dataType: 'json',
            data:  {codEvento : codEvento , usuario : usuario , offset: offset},
            success:  function(data){
                if(isNaN(data.length)) return;
                var cont = 0;
                var num = $(".view-more").val();
                $(".view-more").remove();
                $.each(data,function(k,v){

                    var options = {
                        weekday: "long", year: "numeric", month: "short",
                        day: "numeric", hour: "2-digit", minute: "2-digit"
                    };

  
                    var date =  new Date(parseInt( v.fecha.substr(6)));
                    var fecha  = date.toLocaleDateString("en-us",options);
                    var contenido ="";

                    if(cont>4){

                        num  =  num  + cont;
                        $(".list-block-comment").append("<li onclick='agregarDatos()' align='center' value="+ num +" class='list-group-item view-more'><a>Ver mas comentarios</a></li>");
                        $(".view-more").css({"cursor":"pointer"});

                        return;

                    }

                       
                    if(v.flag == true){
                         contenido =  "<span data-title=''  onclick ='clickSpan()' class=' glyphicon glyphicon-pencil set-opts-btn  my-popover'></span>";

                    }
                   

                    $(".list-block-comment").append(" <li value="+ v.codigo +" class='list-group-item block-comment'>"+
                        contenido + 
                        "<div class='block'>"+
                        "<div class='row comment-header'>"+
                        "<h4>"+ v.nombre + "</h4>"+
                        "</div>"+
                        "<div class='row comment-body'>"+
                        "<div class='col-md-1'>"+
                        "<img class='user-image img-thumbnail' src='/Images/Otros/usuario.png'></img>"+
                        "</div>"+
                        "<div class='col-md-6'>"+
                        "<div class='user-comment'><p>"+ v.contenido +"</p></div>"+
                        "</div>"+
                        "</div>"+
                        "<div align='right' class='comment-action row'>" +
                        "<span>"+ fecha +"<span>"+
                        "</div>"+
                        "</div>"+
                        "</li>"

                        );
                    cont++;

                });


            },
            error:function(){
                alert("....");
            }

        });
    }

    function RefreshWeb(ajaxData){
        var valor =  ajaxData;
    }


</script>

