@using WebApplication4.Models

@{
    ViewBag.Title = "Register";
    var db = new inf245netsoft();
}
@model DatosGeneralesModel
<div class="container-fluid">
    <div class="col-md-5">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","Evento")">Mantenimiento de eventos</a></li>
            <li class="active">Nuevo evento</li>
        </ol>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a href="@Url.Action("Index","Evento")" class="btn btn-danger pull-right"><span class="glyphicon glyphicon-hand-left"></span> Regresar</a>
        </div>
    </div>
    <div class="tab-content">
        @using (Html.BeginForm("DatosGenerales", "Evento", FormMethod.Post, new { }))
        {
            @Html.AntiForgeryToken()
            <div class="tab-pane active  fade in  container" id="generales">
                @Html.ValidationSummary(true)
                <br>
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(m => m.nombre, new { @class = "control-label col-md-2" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.nombre, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.nombre)
                        </div>
                    </div><br><br>
                    <div class="form-group">
                        @Html.LabelFor(c => c.idOrganizador, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="input-group">
                                <input type="text" class="form-control" id="organizadorNombre" readonly/>
                                @Html.HiddenFor(c => c.idOrganizador, new { @id="valOrganizador"})
                                <span class="input-group-btn"><a href="#modalBuscarOrganizador" class="btn btn-primary" data-toggle="modal" type="button">Buscar <span class="glyphicon glyphicon-search"></span></a></span>
                            </div>

                        </div>
                    </div><br><br>
                    <div class="form-group">
                        @Html.LabelFor(c => c.idCategoria, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(c => c.idCategoria, @ViewBag.CatID as SelectList, "Categoria", new { @class = "form-control", @onchange = "cambioCategoria()" })
                        </div>
                    </div><br><br>
                    <div class="form-group">
                        @Html.LabelFor(c => c.idSubCat, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(c => c.idSubCat, @ViewBag.SubID as SelectList, "Subcategoria", new { @class = "form-control" })
                        </div>
                    </div><br><br>

                    <div class="form-group">
                        @Html.LabelFor(c => c.idLocal, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="input-group">
                                <input class="form-control" id="localNombre" readonly/>
                                @Html.HiddenFor(c => c.idLocal, new { @id = "valLocal" })
                                <span class="input-group-btn"><a href="#modalBuscarLocal" class="btn btn-primary" data-toggle="modal" type="button">Buscar <span class="glyphicon glyphicon-search"></span></a></span>
                            </div>
                        </div>
                    </div><br><br>

                    <div class="form-group">
                        @Html.LabelFor(c => c.Direccion, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(c => c.Direccion, new { @class = "form-control", @placeholder = "Solo si no existe local para el evento" })
                        </div>
                    </div><br><br>
                    <div class="form-group">
                        @Html.LabelFor(model => model.idRegion, new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.idRegion, @ViewBag.DepID as SelectList, "Departamento", new { @class = "form-control", @onchange = "cambioDepartamento()" })
                        </div>
                        @Html.LabelFor(model => model.idProv, new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.idProv, @ViewBag.ProvID as SelectList, "Provincia", new { @class = "form-control" })
                        </div>
                    </div><br><br>
                    <div class="form-group">
                        @Html.LabelFor(c => c.descripcion, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(c => c.descripcion, new { @class = "form-control", @rows = 8 })
                        </div>
                    </div>
                </div>
            </div>
            <input type="submit" value="Siguiente" class="btn btn-default btn-primary" />
        }
    </div>
    <br />
</div>
<!--ventana de buscar local-->
<div class="modal fade" id="modalBuscarLocal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--ACA VA EL CONTENIDO DEL MODAL-->
            <!--contenido de la ventana-->
            <div class="modal-body">
                <form action="" class="form-horizontal">
                    <div class="form-group">
                        @{
                            List<Local> localList = db.Local.ToList();
                        }
                        Seleccione un Local:
                        <table class="table table-bordered table-hover" id="tablita">
                            <thsead>
                                <tr class="thead">
                                    <th>Id</th>
                                    <th>Aforo</th>
                                    <th>Ubicacion</th>
                                    <th>Seleccionar</th>
                                </tr>
                            </thsead>
                            <tbody>
                                @foreach (var local in localList)
                                {
                                    <tr>
                                        <td>@local.codLocal</td>
                                        <td>@local.aforo</td>
                                        <td>@local.ubicacion</td>
                                        <td><input type="radio" id="@local.codLocal" name="groupL" value="@local.ubicacion"></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <!--footer de la ventana-->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="llenaLocal()"><span class="glyphicon glyphicon-ok"></span> Seleccionar</button>
            </div>
        </div>
    </div>
</div>

<!--ventana de buscar organizador-->
<div class="modal fade" id="modalBuscarOrganizador">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--ACA VA EL CONTENIDO DEL MODAL-->
            <!--contenido de la ventana-->
            <div class="modal-body">
                <form action="" class="form-horizontal">
                    <div class="form-group">
                        @{
                            List<Organizador> orgList = db.Organizador.Where(c => c.estadoOrg == "Activo").ToList();
                        }
                        <table class="table table-bordered table-hover" id="tablita">
                            <thsead>
                                <tr class="thead">
                                    <th>Id</th>
                                    <th>Nombre</th>
                                    <th>Seleccionar</th>
                                </tr>
                            </thsead>
                            <tbody>
                                @foreach (var org in orgList)
                                {
                                    <tr>
                                        <td>@org.codOrg</td>
                                        <td>@org.nombOrg</td>
                                        <td><input type="radio" id="@org.codOrg" name="groupO" value="@org.nombOrg"></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <!--footer de la ventana-->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="llenaOrg()"><span class="glyphicon glyphicon-ok"></span> Seleccionar</button>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="@Url.Content("/Scripts/RegisterEvento/DatosGeneralesHelper.js")"></script>
</div>
