@using WebApplication4.Models
@model ExtrasModel

<div class="container" id="extras">
    @using (Html.BeginForm("ExtrasEvento", "Evento", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="container">
            <br>
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(c => c.MaxReservas, new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.TextBoxFor(c => c.MaxReservas, new { @class = "form-control", @type = "number" })
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.MaxReservas)
            </div><br />
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(c => c.PuntosToCliente, new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.TextBoxFor(c => c.PuntosToCliente, new { @class = "form-control",@type ="number" })
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.PuntosToCliente)
            </div>
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(c => c.Ganancia, new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        <div class="input-group">
                            @Html.TextBoxFor(c => c.Ganancia, new { @class = "form-control", @type = "number" })
                            <span class="input-group-addon" id="ganancia">%</span>
                        </div>
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.Ganancia)
            </div>
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(c => c.MontFijoVentEnt, new { @class = "control-label col-md-2", @type = "number" })
                    <div class="col-md-2">
                        <div class="input-group">
                            <span class="input-group-addon" id="cancelar">S/.</span>
                            @Html.TextBoxFor(c => c.MontFijoVentEnt, new { @class = "form-control", @type = "number" })
                        </div>
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.MontFijoVentEnt)
            </div>
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(c => c.PenCancelacion, new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        <div class="input-group">
                            <span class="input-group-addon" id="cancelar">S/.</span>
                            @Html.TextBoxFor(c => c.PenCancelacion, new { @class = "form-control", @type = "number" })
                        </div>
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.PenCancelacion)
            </div>
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(c => c.PenPostergacion, new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        <div class="input-group">
                            <span class="input-group-addon" id="postergar">S/.</span>
                            @Html.TextBoxFor(c => c.PenPostergacion, new { @class = "form-control", @type = "number" })
                        </div>
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.PenPostergacion)
            </div>
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(m => m.ImageEvento, new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.ImageEvento, new { type = "file", @class = "form-control" })
                        @if (Model.IEvento != null)
                        {
                            <div>Ya existe Evento cargado</div>
                            //MODIFICAR
                        }
                        @Html.ValidationMessageFor(model => model.ImageEvento)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(m => m.esDestacado, new { @class = "control-label col-md-2" })
                    @Html.CheckBoxFor(m => m.esDestacado)
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(m => m.ImageDestacado, new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.ImageDestacado, new { type = "file", @class = "form-control" })
                        @if (Model.IDestacado != null)
                        {
                            <div>Ya existen Destacado cargados</div>
                            //MODIFICAR
                        }
                        @Html.ValidationMessageFor(model => model.ImageDestacado)
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(m => m.tieneSitios, new { @class = "control-label col-md-2" })
                    @Html.CheckBoxFor(m => m.tieneSitios)
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(m => m.ImageSitios, new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.ImageSitios, new { type = "file", @class = "form-control" })
                        @if (Model.ISitios != null)
                        {
                            <div>Ya existen sitios cargados</div>
                            //MODIFICAR
                        }
                        @Html.ValidationMessageFor(model => model.ImageSitios)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                    <div>
                        @Html.LabelFor(c => c.PermitirReservasWeb, new { @class = "control-label" })
                        @Html.CheckBoxFor(c => c.PermitirReservasWeb)
                    </div>
                    <div>
                        @Html.LabelFor(c => c.PermitirBoletoElectronico, new { @class = "control-label" })
                        @Html.CheckBoxFor(c => c.PermitirBoletoElectronico)
                    </div>
                    <div>
                        @Html.LabelFor(c => c.PermiteDevolucionPostergacion, new { @class = "control-label" })
                        @Html.CheckBoxFor(c => c.PermiteDevolucionPostergacion)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-5">
                    @if (Session["IdEventoModificado"] != null)
                    {
                        <button type="submit" class="btn btn-primary">Modificar Evento</button><br /><br />
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary">Registrar Evento</button><br /><br />
                    }

                </div>
            </div>
        </div>
    }
</div>