@using WebApplication4.Models
@{
    ViewBag.Title = "Register";
    List<FuncionesModel> listaResultado = ViewBag.Resultados as List<FuncionesModel>;
    int cantidad = (listaResultado == null) ? 0 : listaResultado.Count;
    DateTime? fechaInicioEvento = ViewBag.FechaInicio;
}
@model FuncionesListModel
<div class="container-fluid">
    <div class="col-md-5">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","Evento")">Mantenimiento de eventos</a></li>
            <li class="active">Nuevo evento</li>
        </ol>
    </div>
</div>
<h3>@ViewBag.MensajeError</h3>
<div class="tab-pane fade in container" id="funciones">
    <h3>Ingrese las Funciones del Evento</h3>
    @Html.Hidden("histFuncion", "" + cantidad)
    <br>
    @using (Html.BeginForm("Funciones", "Evento", FormMethod.Post, new { @id = "formPost" }))
    {
        <div class="form-group col-md-12">
            <button id="btnAgregarFuncion" type="button" class="btn btn-primary" onclick="agregaFuncion()">Agregar función  <span class="glyphicon glyphicon-plus"></span></button>
            <button id="btnAgregarFuncion" type="button" class="btn btn-primary" onclick="eliminarFuncion()">Quitar función <span class="glyphicon glyphicon-remove"></span></button>
            <button type="submit" class="btn btn-primary" style="float: right;" onclick="guardarFunciones()">Siguiente   <span class="glyphicon glyphicon-arrow-right"></span></button>
        </div><br /><br />

        <div id="funciones" class="container">
            <div class="row">
                <table class="table table-bordered table-hover" id="bloqueFuncion">
                    <thead>
                        <tr>
                            <td>N°</td>
                            <td>Fecha</td>
                            <td>Hora</td>
                            <td>¿Quitar?</td>
                        </tr>
                    </thead>
                    <tbody>
                        @if (listaResultado != null)
                        {
                            for (int i = 0; i < listaResultado.Count; i++)
                            {
                                string fechaFuncion = listaResultado[i].fechaFuncion.ToString("yyyy-MM-dd");
                                string horaFuncion = listaResultado[i].horaInicio.ToString("HH:mm");
                                <tr id="@(i+1)">
                                    <td>@(i + 1)</td>
                                    <td><input id="fechaFuncion" type="date" class="form-control" value="@fechaFuncion" disabled /></td>
                                    <td><input id="horaFuncion" type="time" class="form-control" value="@horaFuncion" disabled></td>
                                    <td style="text-align:center">
                                        <input type="radio" name="groupFunciones" value="@(i+1)">
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            @Html.Hidden("fechaInicioEvento", @String.Format("{0:yyyy-MM-dd}", fechaInicioEvento))
        </div>
    }
    <script type="text/javascript" src="@Url.Content("/Scripts/RegisterEvento/FuncionesHelper.js")"></script>
</div>
