
@using WebApplication4.Models;
@using PagedList;

@using PagedList.Mvc;






@model PagedList.IPagedList<Eventos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPersonal.cshtml";
    var nombre = "";
    inf245netsoft db = new inf245netsoft();
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<div class="container-fluid">
    <div class="col-md-5">
        <ol class="breadcrumb">
            <li class="active">Mantenimiento de eventos</li>
        </ol>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="form-group">
                <a class="btn btn-primary" href="@Url.Action("DatosGenerales","Evento")">Nuevo <span class="glyphicon glyphicon-plus"></span></a>
                <a class="btn btn-primary" href="modificar_evento.html">Modificar <span class="glyphicon glyphicon-pencil"></span></a>
                <a class="btn btn-primary" onclick="redirigeAsiento()">Asientos <span class="glyphicon glyphicon-equalizer"></span></a>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                @Html.Hidden("idEventoT")
                <a class="btn btn-primary" onclick="redirigePromocion()">Agregar Promoción <span class="glyphicon glyphicon-tags"></span></a>
                <a class="btn btn-primary" href="reservar_organizador.html">Reservar Entradas <span class="glyphicon glyphicon-flag"></span></a>
                <a class="btn btn-warning" href="postergar_evento.html">Postergar <span class="glyphicon glyphicon-calendar"></span></a>
                <a class="btn btn-warning" href="cancelar_evento.html">Cancelar <span class="glyphicon glyphicon-remove-sign"></span></a>
            </div>
        </div>
        <div class="col-md-2 col-sm-12" style="text-align:center">
            <a class="btn btn-danger" href="@Url.Action("Index2", "Home")">Salir <span class="glyphicon glyphicon-log-out"></span></a>
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-10 ">
            <div class="form-group">

                @using (Html.BeginForm("Index", "Evento", FormMethod.Get, new { id = "search" }))
                {

                    <div class="form-group">
                        <div class="input-group">

                            @Html.TextBox("nombre", "", new { placeholder = "INGRESE EVENTO", @class = "form-control" })
                            <span class="input-group-btn"><a id="btn-search" class="btn btn-primary" onclick="submitSearch()"><span class="glyphicon glyphicon-search"></span></a></span>
                        </div>
                    </div>


                }

            </div>
        </div>
    </div>

    <div class="row">
        <div id="busqAvanzada" class="container-fluid">
            <div id="busqAvanzada">
                <!--formulario EN LINEA-->
                @using (Html.BeginForm("Index", "Evento", FormMethod.Get, new { id = "adv-search", @class = "form-inline" }))
                {

                    if (this.Request.QueryString.Count != 0)
                    {

                        if (this.Request.QueryString.AllKeys.Contains("nombre"))
                        {

                            nombre = this.Request.QueryString["nombre"];

                        }

                    }

                    @Html.Hidden("nombre", nombre, new { id = "adv-nomb" });



                    <div class="form-group ">
                        <div class="form-group ">
                            <div class="input-group">

                                <span class="input-group-addon">Desde:</span>
                                <input id="fech_ini" name="fech_ini" type="date" class="form-control">
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">Hasta:</span>
                                <input id="fech_fin" onchange="changeDate2()" name="fech_fin" type="date" class="form-control">
                            </div>
                        </div>




                        <div class="form-group ">

                            <select name="idCategoria" id="idCategoria" data-val="true" onchange="cambioCat()" class="form-control col-lg-2">
                                <option value="">Categorias</option>


                                @foreach (var categoria in ViewBag.categorias)
                                {
                                    <option value=@categoria.Value> @categoria.Text</option>
                                }

                            </select>


                        </div>
                        <div class="form-group ">
                            <select name="idSubCat" id="idSubCat" data-val="true" class="form-control col-lg-2">
                            </select>
                        </div>
                        <div class="form-group">

                            <select name="idRegion" id="idRegion" data-val="true" class="form-control col-lg-2" onchange="cambio()">
                                <option value="">Departamentos</option>

                                @foreach (var departamento in ViewBag.departamentos)
                                {
                                    <option value=@departamento.Value> @departamento.Text</option>
                                }

                            </select>
                            <div class="form-group">
                                <a id="btn-adv-search" onclick="submitAdvSearch() " class="btn btn-primary ">Buscar <span class="glyphicon glyphicon-search"></span></a>
                            </div>

                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
    <br>

    <!--BUSQUEDA DE EVENTOS :P-->
    <div class="row">
        <div class="col-md-12 table-responsive">
            <table class="table table-bordered table-hover">
                <thsead>
                    <tr class="thead">
                        <th>Id</th>
                        <th>
                            @Html.ActionLink("Nombre", "Index", new { orden = ViewBag.orden, filtro = ViewBag.filtro })
                        </th>
                        <th>
                            @Html.ActionLink("Tipo", "Index", new { orden = ViewBag.orden, filtro = ViewBag.filtro })
                        </th>
                        <th>

                            @Html.ActionLink("Categoria", "Index", new { categoria = ViewBag.orden, filtro = ViewBag.filtro })

                        </th>
                        <th>

                            @Html.ActionLink("Organizador", "Index", new { organizador = ViewBag.orden, filtro = ViewBag.filtro })

                        </th>
                        <th>
                            Estado
                        </th>
                    </tr>
                </thsead>
                <tbody>
                    @foreach (var evento in Model)
                    {

                        <tr id="@evento.codigo" onclick="seleccionaFilaTabla(this)">
                            <td>@evento.codigo</td>
                            <td>@evento.nombre</td>

                            @{
                                Categoria cat = db.Categoria.Where(c => c.idCategoria == @evento.idCategoria).First();


                            }

                            <td>@cat.nombre</td>
                            <td>@evento.idCategoria</td>
                            @{

                                WebApplication4.Models.Organizador org = db.Organizador.Where(mod => mod.codOrg == @evento.idOrganizador).First();
                            }
                            <td>@org.nombOrg</td>
                            <td>@evento.estado</td>
                        </tr>
                                }
                </tbody>
            </table>

            Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, orden = ViewBag.ordenActual, filtroActual = ViewBag.filtroActual }));



        </div>


    </div>

</div>
<script>

    $(document).ready(function () {
        $.validator.addMethod("greaterThan", function (value, element, params) {

            console.log(element);
            console.log(value);
            console.log(params);

            if (!/Invalid|NaN/.test(new Date(value))) {
                return new Date(value) > new Date($(params).val());
            }

            return isNaN(value) && isNaN($(params).val()) || (Number(value) > Number($(params).val()));
        }, 'Must be greater than {0}.');

    });


    function changeDate2() {



        $("#fech_fin").rules('add', { greaterThan: "#fech_ini" })




    }


    function submitSearch() {


        $("#search").submit();
    }


    function submitAdvSearch() {


        /*var input = $("<input>")
                       .attr("type", "hidden")
                        .attr("name", "nombre").val(($("#nombre").val() != "") ? $("#nombre").val() : "");
        $("#adv-search").append(input);*/
        $("#adv-search").submit();
    }



    function cambioCat() {
        fillCombo("idSubCat", $("#idCategoria").val(), "/Services/Subcategoria/", "Subcategorias");
    }

    function fillCombo(idCombo, value, linkUrl, optlabel) {

        $("#" + idCombo).empty();
        $("#" + idCombo).append("<option value=''>" + optlabel + "</option>")

        var ddProv = $("#idSubCat");
        var catId = parseInt($("#idCategoria").val());
        alert(catId);
        if (isNaN(depId)) return;
        $.ajax({
            url: '/Services/Subcategoria/',
            data: { catId: catId },
            datatype: "json",
            success: function (data) {
                var obj = $.parseJSON(data);
                $.each(obj, function (k, v) {
                    alert(v.IdSCategoria + " - " + v.Nombre);
                    ddProv.append($("<option></option>").val(v.IdSCategoria).html(v.Nombre));
                });
            },
            error: function () {
                alert("Error :(");
            }
        });
    }




    function seleccionaFilaTabla(x) {
        if (document.getElementsByClassName("trselected").length > 0) {
            var element = document.getElementsByClassName("trselected");
            element[0].className = "";
        }
        var elem = document.getElementById("idEventoT");
        elem.value = x.cells[0].innerHTML;
        x.className = "trselected";
    }
    function redirigePromocion() {
        var evento = $('#idEventoT').val();
        if (evento != "") {
            window.location.href = '/Promocion/Index?evento=' + evento;
        } else {
            alert("Seleccione un evento");
            evento = "";
        }
    }
    function redirigeAsiento() {
        var evento = $('#idEventoT').val();
        if (evento != "") {
            window.location.href = '/Evento/Asientos?evento=' + evento;
        } else {
            alert("Seleccione un evento");
            evento = "";
        }
    }
</script>

<style>
    .trselected {
        background: gray;
    }
</style>
