@using WebApplication4.Models;
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<Eventos>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var nombre = "";
    inf245netsoft db = new inf245netsoft();
}
                               <style>
                                   .inl{display:inline-block}
                                   td{text-align:center}
                               </style>

<div class="container-fluid">
    <div class="col-md-3">
        <ol class="breadcrumb">
            <li class="active">Mantenimiento de eventos</li>
        </ol>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <a class="btn btn-success" href="@Url.Action("DatosGenerales", "Evento")"><span class="fa fa-plus fa-lg"></span> Nuevo</a>
                <div class="dropdown inl">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="drop3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="fa fa-pencil fa-lg"></span> Editar
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="drop3">
                        <li><a class="btn" onclick="modificaEvento()"><span class="glyphicon glyphicon-pencil"></span> Modificar</a></li>
                        <li><a class="btn" onclick="redirigeAsiento()"><span class="glyphicon glyphicon-equalizer"></span> Asientos</a></li>
                        <li><a class="btn" onclick="redirigePromocion()"><span class="fa fa-asterisk"></span> Promociones</a></li>
                    </ul>
                </div> 
                @Html.Hidden("idEventoT")
                <div class="dropdown inl">
                    <button class="btn btn-danger dropdown-toggle" type="button" id="drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="fa fa-calendar"></span> Postergar/Cancelar
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="drop1">
                        <li><a class="btn" onclick="redirigePostergar()"><span class="fa fa-arrow-circle-right fa-lg"></span> Postergar</a></li>
                        <li><a class="btn" onclick="redirigeCancelar()"><span class="fa fa-ban fa-lg"></span> Cancelar</a></li>
                    </ul>
                </div>  
                @if (User.IsInRole("Promotor") || User.IsInRole("Administrador"))
                {
                <div class="dropdown inl">
                    <button class="btn btn-info dropdown-toggle" type="button" id="drop2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="fa fa-male fa-lg"></span> Organizador
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="drop2">
                        <li><a class="btn" onclick="redirigeReservaOrganizador()"><span class="glyphicon glyphicon-flag"></span> Reservarle entradas</a></li>
                        <li><a class="btn" onclick="redirigeVerReservaOrganizador()"><span class="glyphicon glyphicon-eye-open"></span> Ver sus reservas</a></li>
                    </ul>
                </div>
                }                
            </div>
        </div>
        <div class="col-md-6" ><!--barra de busqueda por nombre-->
            <div class="form-group">
                @using (Html.BeginForm("Index", "Evento", FormMethod.Get, new { id = "search" }))
                {
                    <div class="form-group">
                        <div class="input-group">
                            @Html.TextBox("nombre", "", new { placeholder = "Buscar evento por nombre...", @class = "form-control" })
                            <span class="input-group-btn"><a id="btn-search" class="btn btn-primary" onclick="submitSearch()"><span class="glyphicon glyphicon-search"></span></a></span>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>   

    <div class="row">
        <div id="busqAvanzada" class="container-fluid">
            <div id="busqAvanzada">
                <!--formulario EN LINEA-->
                <div style="text-align:center" id="alerta" class="alert alert-warning" hidden></div>
                @using (Html.BeginForm("Index", "Evento", FormMethod.Get, new { id = "adv-search", @class = "form-inline" }))
                {
                    if (this.Request.QueryString.Count != 0)
                    {
                        if (this.Request.QueryString.AllKeys.Contains("nombre"))
                        {
                            nombre = this.Request.QueryString["nombre"];
                        }
                    }
                    @Html.Hidden("nombre", nombre, new { id = "adv-nomb" });
                    <div class="form-group ">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">Desde:</span>
                                @if (ViewBag.fech_ini != null)
                                {
                                    string valor = ViewBag.fech_ini.ToString("yyyy/MM/dd");
                                    <input id="fech_ini" name="fech_ini" type="text" class="fechar form-control" value=@valor>
                                }
                                else
                                {
                                    <input id="fech_ini" name="fech_ini" type="text" class="fechar form-control">
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">Hasta:</span>
                                @if (ViewBag.fech_fin != null)
                                {
                                    string valor = ViewBag.fech_fin.ToString("yyyy/MM/dd");
                                    <input id="fech_fin" name="fech_fin" type="text" value=@valor class="fechar form-control">
                                }
                                else
                                {
                                    <input id="fech_fin" name="fech_fin" type="text" class="fechar form-control">
                                }
                            </div>
                        </div>
                        <div class="form-group ">
                            <select name="idCategoria" id="idCategoria" data-val="true" onchange="cambioCat()" class="form-control col-lg-2">
                                <option value="">Categorias</option>
                                @foreach (var categoria in ViewBag.categorias)
                                {
                                    <option value=@categoria.Value> @categoria.Text</option>
                                }
                            </select>
                        </div>
                        <div class="form-group ">
                            <select name="idSubCat" id="idSubCat" data-val="true" class="form-control col-lg-2">
                                <option value="">Subcategoria</option>
                                @if (ViewBag.idCategoria != null)
                                {
                                 
                                    int idPadre = ViewBag.idCategoria;

                                    var subcat = from obj in db.Categoria
                                                 where obj.idCatPadre == idPadre
                                                 select obj;

                                    foreach (var dato in subcat)
                                    {
                                        <option value=@dato.idCategoria>@dato.nombre</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <select name="idRegion" id="idRegion" data-val="true" class="form-control col-lg-2" onchange="cambio()">
                                <option value="">Departamentos</option>
                                @foreach (var departamento in ViewBag.departamentos)
                                {
                                    <option value=@departamento.Value> @departamento.Text</option>
                                }
                            </select>
                            <div class="form-group">
                                <a id="btn-adv-search" onclick="submitAdvSearch() " class="btn btn-primary ">Buscar <span class="glyphicon glyphicon-search"></span></a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!--BUSQUEDA DE EVENTOS :P-->
    <div class="row">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr class="thead">
                        <th class="col-md-1">Código</th>
                        <th class="col-md-4">Nombre</th>
                        <th class="col-md-2">Categoría</th>
                        <th class="col-md-2">SubCategoría</th>
                        <th class="col-md-2">Organizador</th>
                        <th class="col-md-1">Estado</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var evento in Model)
                    {
                        <tr id="@evento.codigo" onclick="seleccionaFilaTabla(this)">
                            <td>@evento.codigo</td>
                            <td><a href=@Url.Action("VerEvento", "Evento", new { id = @evento.codigo })>@evento.nombre</a></td>
                            @{
                        Categoria cat = db.Categoria.Where(c => c.idCategoria == @evento.idCategoria).First();
                            }

                            <td>@cat.nombre</td>
                            @{
                        WebApplication4.Models.Categoria catt = db.Categoria.Where(mod => mod.idCatPadre == @evento.idCategoria).First();
                            }
                            <td>@catt.nombre</td>
                            
                            @{
                                WebApplication4.Models.Organizador org = db.Organizador.Where(mod => mod.codOrg == @evento.idOrganizador).First();
                            }
                            <td>@org.nombOrg</td>
                            <td>@evento.estado</td>
                        </tr>
                    }
                </tbody>
            </table>

            @{


                var fechaI = "";
                var fechaF = "";

                if (ViewBag.fech_ini != null)
                {
                    fechaI = ViewBag.fech_ini.ToString("yyyy-MM-dd");


                }
                else
                {
                    fechaI = ViewBag.fech_ini;

                }

                if (ViewBag.fech_fin != null)
                {
                    fechaF = ViewBag.fech_fin.ToString("yyyy-MM-dd");


                }
                else
                {
                    fechaF = ViewBag.fech_fin;

                }

            }

            Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount;
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, nombre = @ViewBag.nombre, fech_ini = fechaI, fech_fin = fechaF, idCategoria = @ViewBag.idCategoria, idSubCat = @ViewBag.idSubCat }));


        </div>
    </div>
</div>
@section scripts{
<script>
    $(document).ready(function () {
        /*
        $.validator.addMethod("greaterThan", function (value, element, params) {
            console.log(element);
            console.log(value);
            console.log(params);
            if (!/Invalid|NaN/.test(new Date(value))) {
                return new Date(value) > new Date($(params).val());
            }
            return isNaN(value) && isNaN($(params).val()) || (Number(value) > Number($(params).val()));
        }, 'Must be greater than {0}.');
        */
        $("#adv-search").on('submit', function (e) {

            e.preventDefault();


            var fechI = this['fech_ini'].value;
            var fechF = this['fech_fin'].value;

            /*Regla 1 para la validadcion de al menos un campo*/
            if (fechI == '' && fechF == '' && $("#idCategoria").val() == '' &&
                $("#idSubCat").val() == '' && $("#idRegion").val() == '') {

                $("#alerta").append('<strong>Ingrese al menos un campo!</strong>').show();
                return;
            } else {

                var valor = $("#alerta").children('strong');
                if (valor.length > 0) {

                    valor.remove();

                }

                $("#alerta").hide();

            }
            /*Regla 2 : Validacion para las fechas*/
            if (fechF != '' && fechI != '') {


                if (new Date(fechF.replace(/(\d{4})-(\d{2})-(\d{2})/, "$2/$3/$1")) < new Date(fechI.replace(/(\d{4})-(\d{2})-(\d{2})/, "$2/$3/$1"))) {

                    $("#alerta").append('<strong>Fecha hasta no puede ser menor que fecha desde</strong>').show();
                    return;
                } else {
                    var valor = $("#alerta").children('strong');
                    if (valor.length > 0) {

                        valor.remove();

                    }

                    $("#alerta").hide();

                }

            }

            this.submit();


        });





        if (!isNaN(@ViewBag.idCategoria)) {

            $("#idCategoria > option[value='" + @ViewBag.idCategoria + "'").attr('selected', 'selected');


            if (!isNaN(@ViewBag.idSubCat)) {


                $("#idSubCat > option[value='" + @ViewBag.idSubCat + "'").attr('selected', 'selected');



            }


        }

        if (!isNaN(@ViewBag.idRegion)) {

            $("#idRegion > option[value='" + @ViewBag.idRegion + "'").attr('selected', 'selected');




        }

    });


    function submitSearch() {
        $("#search").submit();
    }

    function submitAdvSearch() {
        /*var input = $("<input>")
                       .attr("type", "hidden")
                        .attr("name", "nombre").val(($("#nombre").val() != "") ? $("#nombre").val() : "");
        $("#adv-search").append(input);*/



        $("#adv-search").submit();
    }

    function cambioCat() {
        fillCombo("idSubCat", $("#idCategoria").val(), "/Evento/Subcategorias", "Subcategorias");
    }

    function fillCombo(idCombo, value, linkUrl, optlabel) {
        $("#" + idCombo).empty();
        $("#" + idCombo).append("<option value=''>" + optlabel + "</option>")

        var ddProv = $("#idSubCat");
        var catId = parseInt($("#idCategoria").val());
        // alert(catId);
        if (isNaN(catId)) return;
        $.ajax({
            url: "" + linkUrl,
            data: { depId: catId },
            datatype: "json",
            success: function (data) {
                var obj = $.parseJSON(data);
                $.each(obj, function (k, v) {

                    ddProv.append($("<option></option>").val(v.IdRegion).html(v.Nombre));
                });
            },
            error: function () {
                alert("Error :(");
            }
        });
    }

    function seleccionaFilaTabla(x) {
        if (document.getElementsByClassName("trselected").length > 0) {
            var element = document.getElementsByClassName("trselected");
            element[0].className = "";
        }
        var elem = document.getElementById("idEventoT");
        elem.value = x.cells[0].innerHTML;
        x.className = "trselected";
    }

    function redirigePromocion() {
        var evento = $('#idEventoT').val();
        if (evento != "") {
            window.location.href = '/Promocion/Index?evento=' + evento;
        } else {
            alert("Seleccione un evento");
            evento = "";
        }
    }

    function redirigeAsiento() {
        var evento = $('#idEventoT').val();
        if (evento != "") {
            window.location.href = '/Evento/Asientos?evento=' + evento;
        } else {
            alert("Seleccione un evento");
            evento = "";
        }
    }

    function redirigePostergar() {
        var evento = $('#idEventoT').val();
        if (evento != "") {
            window.location.href = '/Evento/PostergarEvento?evento=' + evento;
        } else {
            alert("Seleccione un evento");
            evento = "";
        }
    }
    function redirigeCancelar() {
        var evento = $('#idEventoT').val();
        if (evento != "") {
            window.location.href = '/Evento/CancelarEvento?evento=' + evento;
        } else {
            alert("Seleccione un evento");
            evento = "";
        }
    }
    function modificaEvento() {
        var evento = $('#idEventoT').val();
        if (evento != "") {
            window.location.href = '/Evento/ModificarEvento?evento=' + evento;
        } else {
            alert("Seleccione un evento");
            evento = "";
        }
    }

    function redirigeReservaOrganizador() {
        var evento = $('#idEventoT').val();
        if (evento != "") {
            window.location.href = '/Evento/VerEvento?id=' + evento;
        } else {
            alert("Seleccione un evento");
            evento = "";
        }
    }

    function redirigeVerReservaOrganizador() {
        var evento = $('#idEventoT').val();
        if (evento != "") {
            window.location.href = '/Evento/VerReservaOrganizador?evento=' + evento;
        } else {
            alert("Seleccione un evento");
            evento = "";
        }
    }
                               </script>
}


