@using WebApplication4.Models
@{
    ViewBag.Title = "ReporteEvento";
    Layout = "~/Views/Shared/_Layout.cshtml";
    inf245netsoft db = new inf245netsoft();
}


@{
    List<ReporteEventosModel> lev = new List<ReporteEventosModel>();

    if (Session["ReporteEventos"] != null)
    {
        lev = (List<ReporteEventosModel>)Session["ReporteEventos"];
    }
    
}
<style>
    td{text-align:center;cursor:text}

</style>
<div class="container-fluid">
    <div class="col-md-5">
        <ol class="breadcrumb">
            <li class="active">Reporte de Eventos</li>
        </ol>
    </div>
</div>

<div class="container"><br />
    <center class="row form-inline">
        <div class="col-md-12">
            <div class="input-group">
                <span class="input-group-addon">Desde:</span>
                <input id="fd1" type="text" class="form-control fechar">
            </div>
            <div class="input-group">
                <span class="input-group-addon">Hasta:</span>
                <input id="fh1" type="text" class="form-control fechar">
            </div>
        </div>        
    </center>
    <br>

    <center class="row form-group">  
        <div class="col-md-12">
            <button class="btn btn-primary" onclick="buscaRepEvento()" data-dismiss="modal" aria-hidden="true"><span class="fa fa-table fa-lg"></span> Generar Reporte</button>

            <button onclick="exportar()" class="btn btn-success btn-excel" data-dismiss="modal" aria-hidden="true"><span class="fa fa-file-excel-o fa-lg"></span> Exportar a Excel</button>
        </div>                  
        
                
    </center>
    
    <div id="resultTable" class="row">
        <div class="col-md-12">
            @if (Session["ReporteEventos"] != null)
            {
                DateTime di2 = (DateTime)Session["FechaREI"];
                DateTime df2 = (DateTime)Session["FechaREF"];                
                <center>
                    <h4>REPORTE DE EVENTOS:</h4><h4> Del @di2.Date.ToString("dd/MM/yyyy") - @df2.Date.ToString("dd/MM/yyyy")</h4>
                </center> 
            }
            <div class="table-responsive">
                <table id="mytable" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Evento</th>
                            <th>Organizador</th>
                            <th>Fecha función</th>
                            <th>Hora función</th>
                            <th>Estado de función</th>
                            <th>Entradas disponibles</th>
                            <th>Entradas vendidas</th>
                            <th>Local</th>
                            <th>Región</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                        @foreach (var row in lev)
                        {
                            <tr id=@row.codigoEvento >
                                <td>@row.codigoEvento</td>
                                <td>@row.nombreEvento</td>
                                <td>@row.nombreOrganizador</td>
                                <td>@row.fechaFuncion</td>
                                <td>@row.horaFuncion</td>
                                <td>@row.EstadoFunción</td>
                                <td>@row.entradasDisponibles</td>
                                <td>@row.entradasVendidas</td>
                                <td>@row.local</td>
                                <td>@row.region</td>
                            </tr>
                        }
                        @{

                            Session["ReporteEventos"] = null;

                        }

                    </tbody>
                </table>

            </div>
        </div>        
    </div>
</div>

<input type="hidden" id="idFila" value="" />
<script>
    function myFunction(x) {
        if (document.getElementsByClassName("trselected").length > 0) {
            var element = document.getElementsByClassName("trselected");
            element[0].className = "";
        }
        var elem = document.getElementById("idFila");
        elem.value = x.cells[0].innerHTML;

        x.className = "trselected";

    }

    function buscaRepEvento() {
        var fd = $('#fd1').val();
        var fh = $('#fh1').val();
        if (fd != null && fd != "") {
            $.ajax({
                url: "@Url.Action("ReporteEvento1", "Evento")",
                data: {fd:fd,fh:fh},
            success: function (data) {
                alert(data);
                window.location.href = '/Evento/ReporteEvento';
            },
            error: function (data) {
                alert(data);
                window.location.href = '/Evento/ReporteEvento';
            }
        });
    } else {
            $.ajax({
                url: "@Url.Action("LimpiaR1", "Evento")",
        data: {},
    success: function () {
        window.location.href = '/Evento/ReporteEvento';
    },
    error: function (data) {
        alert(data);
        window.location.href = '/Evento/ReporteEvento';
    }
    });
    }
    }


    function exportar() {

        window.open('data:application/vnd.ms-excel,' + encodeURIComponent($('div[id$=resultTable]').html()));
        e.preventDefault();

    }

</script>
