@using WebApplication4.Models;
@model ZonaEventoListModel
@{
    List<string> nombresHeaderTabla = ViewBag.NombrePV as List<string>;
    ZonaEventoListModel model = new ZonaEventoListModel();
    int nZonas = 0;
    int modificado = 0;
    if (ViewBag.TarifasDelEvento == null)
    {
        model = null;
    }
    else
    {
        model = ViewBag.TarifasDelEvento as ZonaEventoListModel;
        modificado = 1;
    }
}

<style>
    td {
        text-align: center;
    }

    h3 {
        border-bottom: 1px solid gray;
    }
</style>

<div class="container-fluid">
    <div class="col-md-10">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","Evento")">Mantenimiento de eventos</a></li>
            <li> Datos generales</li>
            <li> Bloques de tiempo</li>
            <li> Funciones</li>
            <li class="active">Tarifas</li>
        </ol>
    </div>
</div>


<div class="container" id="tarifas">
    <h3>Tarifas</h3>
    <h4>@ViewBag.MensajeError</h4>
    <div class="container">        
        <div class="row">
            <div class="col-md-3 col-md-offset-9">
                <button class="btn btn-primary" onclick="agregaFila()"><span class="glyphicon glyphicon-plus"></span> Agregar fila</button>
                <button class="btn btn-danger" onclick="quitarFila()"><span class="glyphicon glyphicon-trash"></span> Quitar fila </button>
            </div>
        </div><br>
        @Html.Hidden("nHeaders", "" + (nombresHeaderTabla.Count + 3))
        @Html.Hidden("nZonas", "" + nZonas)
        <div class="row">
            @using (Html.BeginForm("Tarifas", "Evento", FormMethod.Post, new { @id = "formPost" }))
            {
                <table class="table table-bordered table-hover" id="tarifario">
                    <thead>
                        <tr>
                            <td>Nº</td>
                            <td>Tipo de entrada/Zona</td>
                            @for (int i = 0; i < nombresHeaderTabla.Count; i++)
                            {
                                <td>Precios @nombresHeaderTabla[i]</td>
                            }
                            <td>Cantidad de entradas</td>
                            <td>¿Quitar?</td>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                if (ViewBag.TarifasDelEvento != null)
                {
                    for (int i = 0; i < nombresHeaderTabla.Count && i < model.ListaZEM.Count; i++)
                    {
                        <tr id="@(i+1)" data-zona="@(model.ListaZEM[i].Id)">
                            <td>@(i + 1)</td>
                            <td><input type="text" class="form-control" value="@(model.ListaZEM[i].Nombre)" required /></td>
                            @for (int j = 0; j < model.ListaZEM[i].ListaTarifas.Count; j++)
                            {
                                <td><input type="number" class="form-control" value="@(model.ListaZEM[i].ListaTarifas[j].Precio)" name="cantidad" min="0" required /></td>
                            }
                            <td><input type="number" class="form-control" value="@(model.ListaZEM[i].Aforo)" name="cantidad" min="0" required /></td>
                            <td><input type="radio" name="groupTarifas" value="@(i+1)"></td>
                        </tr>
                    }
                }
                        }
                    </tbody>
                </table>
                <button type="submit" class="btn btn-success" style="float: right;" onclick="return agregaTarifas()">Guardar seguir <span class="glyphicon glyphicon-hand-right"></span></button>
            }
        </div>
    </div>
    @Html.Hidden("modificado", "" + modificado)
    <script type="text/javascript" src="@Url.Content("/Scripts/RegisterEvento/TarifasHelper.js")"></script>
</div>
