@using Microsoft.AspNet.Identity;
@using WebApplication4.Models;
@using WebApplication4.Controllers;
@using Microsoft.AspNet.Identity

@model PaqueteEntradas

@{
    ViewBag.Title = "Ver Evento";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string estiloAsientos = (((Boolean)ViewBag.VeoAsientos) == true) ? "" : "display:none";
}



<head>
    <link href="@Url.Content("~/Content/asientos.css")" rel="stylesheet" type="text/css" />
    <style>
        #aux {
            background-color: lightgray;
            height: 30px;
        }

        #canvas {
            height: 300px;
        }
    </style>

</head>

<div class="container-fluid">
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")">Inicio</a></li>
        <li class="active">Evento @ViewBag.evento.nombre</li>
    </ol>
</div>

<div class="container ">
    <!--la parte importante-->
    <div id="contenido" class="col-md-8 borde">
        <div id="detalles" class="row">
            <div class="col-md-3">
                <div id="fila" class="row">
                    <div class="thumbnail">
                        <img class="event" src=@ViewBag.evento.ImagenDestacado alt=@ViewBag.evento.nombre>
                        <div class="caption" style="text-align:left">
                            <h4>@ViewBag.evento.nombre</h4>
                            <p><strong><u>Fechas:</u></strong> Del @(((DateTime)ViewBag.evento.fecha_inicio).ToShortDateString()) al @(((DateTime)ViewBag.evento.fecha_fin).ToShortDateString())</p>
                            <p>
                                <strong><u>Dirección:</u></strong>
                                @{
                                    if (ViewBag.evento.idLocal == null || ViewBag.evento.idLocal != 0)
                                    {
                                        @ViewBag.NombreLocal
                                    }
                                    else
                                    {
                                        @(ViewBag.evento.direccion)
                                    }
                                }
                            </p>
                            <p><strong><u>Región:</u></strong> @ViewBag.Region</p>
                            @*<p><strong><u>Ofertas:</u></strong> 20% dcto. con tarjeta VISA</p>*@
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div id="fila" class="row">
                    <div class="thumbnail" style="text-align:justify">
                        <p><strong><u>Categoria:</u></strong> @ViewBag.Categoria</p>
                        <p><strong><u>Subcategoria:</u></strong> @ViewBag.Subcategoria</p>
                        <p><strong><u>Descripción:</u></strong></p>
                        <p>@ViewBag.evento.descripcion</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="zonas" class="row">
            <div class="thumbnail">
                <div class="container-fluid">
                    <h4><u>Distribución de zonas</u></h4>
                    <img class="event" src=@ViewBag.evento.ImagenSitios alt="Zonas de evento">
                </div>
            </div>
        </div>
        <div id="tarifas" class="row">
            <div class="thumbnail">
                <div class="container-fluid">
                    <div><h4><u>Selección de boletos/asientos</u></h4></div>
                    <div class="col-md-6" style=@estiloAsientos>
                        <div id="canvas" class="col-md-12">           </div>
                        <div id="aux" class="col-md-12">              </div>
                    </div>
                    <div class="col-md-6">
                        @if (ViewBag.EventoAcabo != null)
                        {
                            @ViewBag.EventoAcabo
                        }
                        else
                        {
                            if (ViewBag.EventoNoDisponible != null)
                            {
                                <p>@ViewBag.EventoNoDisponible</p>
                                List<string> futurasVentas = ViewBag.FuturasVentas as List<string>;
                                for (int i = 0; i < futurasVentas.Count; i++)
                                {
                                    <p style="margin-left:5em">@futurasVentas[i]</p>
                                }
                            }
                            else
                            {

                                if (ViewBag.MensajeErrorFunciones != null)
                                {
                                    <div class="row form-group">
                                        <label for="funcion" class="control-label col-md-4">Función:</label>
                                        <input type="text" class="form-control" value="@ViewBag.MensajeErrorFunciones" disabled>
                                    </div>
                                }
                                else
                                {

                                    <!--div class="row form-group">
                                        <label for="funcion" class="control-label col-md-4">Función:</label>
                                        <div id="funcion" class="col-md-8">
                                            <select class="form-control">
                                                <option>Seleccione</option>
                                                <option>12/10/15</option>
                                                <option>15/10/15</option>
                                            </select>
                                        </div>
                                    </div-->



                                    <div class="row form-group">
                                        <label for="hora" class="control-label col-md-4">Funciones:</label>
                                        <div id="funcion" class="col-md-8">
                                            <select id="funcionHora" class="form-control">
                                                @for (int i = 0; i < ViewBag.ListFunciones.Count; i++)
                                                {
                                                    <option value="@ViewBag.ListFunciones[i].codFuncion"> @(  ((DateTime)ViewBag.ListFunciones[i].horaIni))</option>
                                                }
                                            </select>
                                            @Html.ValidationMessageFor(model => model.idFuncion)
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <label for="zonaTarifa" class="control-label col-md-4">Zona/Tarifa:</label>
                                        <div id="funcion" class="col-md-8">

                                            <select id="zonaTarifa" class="form-control">
                                                @for (int i = 0; i < ViewBag.ListZonasNombre.Count; i++)
                                                {
                                                    <option value="@ViewBag.ListZonasId[i]"> @ViewBag.ListZonasNombre[i]</option>
                                                }
                                            </select>
                                            @Html.ValidationMessageFor(model => model.idZona)

                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <label for="zonaTarifa" class="control-label col-md-4">Cantidad entradas:</label>
                                        <div class="col-md-4">
                                            <input id="numEntradas" class="form-control" type="number" value="0">
                                        </div>
                                        @TempData["ErrorSeleccionandoAsientos"]
                                        @Html.ValidationMessageFor(model => model.cantEntradas)
                                    </div>
                                    <div class="row form-group">

                                        @using (Html.BeginForm("Entradas", "Evento", FormMethod.Post, new{ id="submitEntradas"}))
                                        {

                                            @Html.TextBoxFor(Model => Model.idZona, new { style = "display:none" })
                                            @Html.TextBoxFor(Model => Model.idFuncion, new { style = "display:none" })
                                            @Html.TextBoxFor(model => model.idEvento, new { style = "display:none" })
                                            @Html.CheckBoxFor(model => model.tieneAsientos, new { style = "display:none" })
                                            @Html.TextBoxFor(model => model.cantEntradas, new { id="formCantEntradas" ,style = "display:none" })
                                            <div id="asientosElegidos">

                                            </div>
                                            
                                            <div class="col-md-6">
                                                <button type="submit" name="boton" value="carrito" class="btn btn-success pull-right ">Agregar al carrito <span class="glyphicon glyphicon-shopping-cart"></span></button>
                                            </div>
                                            <div class="col-md-6">
                                                @if (Request.IsAuthenticated)
                                                {
                                                    <button type="submit" name="boton" value="reservar" class="btn btn-primary pull-right">Reservar <span class="glyphicon glyphicon-save"></span></button>
                                                }
                                            </div>
                                        }
                                    </div>
                                }


                            }
                        }

                    </div>

                </div>
            </div>
        </div>
        <div id="comentarios" class="row">
            <div class="thumbnail">
                <div class="caption" style="text-align:justify">
                    <div class="container-fluid">
                        <h4><u>Comentarios</u></h4>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <textarea class="form-control " rows="1" id="comentario" placeholder="Escribe un comentario de este evento"></textarea>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <!--LOS EVENTOS DESTACADOS-->
</div>

@section scripts{

    <script>
        var cantFilas;
        var cantColumnas;

        @{
       <text>

        var x = "@ViewBag.ObjectArrayAsientos";

        </text>
        }

        var asientosElegidos = new Object();;
        var cntAsientos = 0;
        var y = x.replace(/&quot;/g, "\"");
        var listaAsientos = JSON.parse(y);

        function sacar(arrFilas, arrColumnas) {
            $("#canvas").empty();


            var d;
            if ($("#canvas").width() > $("#canvas").height()) {
                d = $("#canvas").height();
            } else {
                d = $("#canvas").width();
            }
            d *= 0.99;

            var cantFilas = Math.max.apply(false, arrFilas);
            var cantColumnas = Math.max.apply(false, arrColumnas);

            //BORDE
            $('<div id="grilla-borde"></div>').appendTo('#canvas');
            $('#grilla-borde').css('width', d + 'px');
            $('#grilla-borde').css('height', d + 'px');
            //

            //INTERIOR
            $('<div id="grilla-interna"></div>').appendTo('#grilla-borde');
            $('#grilla-interna').css('width', 96 + '%');
            $('#grilla-interna').css('height', 96 + '%');
            $('#grilla-interna').css('margin', 2 + '%');
            //

            //ABAJO
            $('<div id="info" style="text-align:center; font-size:18px;"></div>').appendTo('#aux');
            //

            //FILAS
            var altoFilas = 0.9 * 100 / cantFilas;
            var marginTopFilas = 0.1 * 100 / (cantFilas - 1);
            var anchoFilas = 100 / 1;

            for (var i = 0 ; i < cantFilas ; i++) {
                $('<div class="filas ' + 'fila_' + (i + 1) + '"></div>').appendTo('#grilla-interna');
            }

            $('.filas').each(function () {
                $(this).css('width', anchoFilas + '%');
                $(this).css('height', altoFilas + '%');
                if (!$(this).is(':first-child')) {
                    $(this).css('margin-top', marginTopFilas + '%');
                }
            });
            //

            //CELDAS
            var altoCeldas = 100 / 1;
            var anchoCeldas = 0.9 * 100 / cantColumnas;
            var leftCeldas = 0.1 * 100 / (cantColumnas - 1);

            for (var i = 0 ; i < cantColumnas ; i++)
                for (var j = 1 ; j <= cantFilas ; j++) {
                    $('<div class="celdas ' + 'columna_' + (i + 1) + ' "></div>').appendTo('#grilla-interna .filas:nth-child(' + j + ')');
                }

            $('.celdas').each(function () {
                $(this).css('width', anchoCeldas + '%'); $(this).css('height', altoCeldas + '%');
                if (!$(this).is(':first-child')) { $(this).css('margin-left', leftCeldas + '%'); }
            });
            //

            //LLENAR
            var recorrido = 0;
            var flagOcupado = false;
            for (var i = 1 ; i <= cantFilas ; i++)
                for (var j = 1 ; j <= cantColumnas ; j++) {
                    $('<div id="'+(i*10005+j)+'" class="ficha"></div>').appendTo('.filas:nth-child(' + i + ') .celdas:nth-child(' + j + ')');
                    if (i != Math.abs(arrFilas[recorrido]) || j != arrColumnas[recorrido]) {
                        $('.filas:nth-child(' + i + ') .celdas:nth-child(' + j + ') div').addClass("eliminado");
                    }
                    else {
                        if (arrFilas[recorrido] < 0) {//se analiza el signo de la coord X para saber si esta ocupado o si esta libre
                            $('.filas:nth-child(' + i + ') .celdas:nth-child(' + j + ') div').addClass("ocupado");
                        }
                        recorrido++;
                    }

                }
            //



        }

        $('body').on('mouseover', '.celdas', function () {
            var filaN = $(this).parent().attr('class').split('_');
            var columnaN = $(this).attr('class').split('_');

            $('#info').text('Fila: ' + filaN[1] + ' - Columna ' + columnaN[1]);
        });

        $('body').on('click', '.ficha', function () {

            if (!$(this).hasClass("ocupado")) {   //solo si no esta ocupado se podra elegir o deselegir un asiento
                if ($(this).hasClass("elegido")) {//lo sacamos
                    $(this).removeClass("elegido");
                    $("#numEntradas").val(parseInt($("#numEntradas").val()) - 1);

                    var ubi = parseInt($(this).attr('id'));

                    delete asientosElegidos[""+ubi] ;

                }
                else {//lo ponemos
                    $(this).addClass("elegido");
                    $("#numEntradas").val(parseInt($("#numEntradas").val()) + 1)

                    var ubi = parseInt($(this).attr('id'));
                    asientosElegidos[ (""+ubi) ]=cntAsientos++;
                }
            }
        });

        function cambioAsientos() {
            
            //cambia el aforo cuando se cambia la zona
            var indiceZT = parseInt($("#zonaTarifa").val());
            var indiceFH = parseInt($("#funcionHora").val());

            $("#idFuncion").val(indiceFH);
            $("#idZona").val(indiceZT);

            //Aca iria el seteo de las filas y columnas
            var index = -1;
            asientosElegidos = {}
            cntAsientos = 0;

            for (var i = 0; i < listaAsientos.length ; i++) {
                if (listaAsientos[i].indexZE == indiceZT && listaAsientos[i].indexFH == indiceFH) index = i;
            }

            if (index >= 0 && listaAsientos[index].tieneAsientos) {
                sacar(listaAsientos[index].posFila, listaAsientos[index].posColumna)
                cantFilas = listaAsientos[index].filas;
                cantColumnas = listaAsientos[index].columnas;
                //$("#filas").val(cantFilas);
                //$("#columnas").val(cantColumnas);

                $("#numEntradas").val(0);
                $("#numEntradas").prop('disabled', true);
            }
            else {

                $("#canvas").empty();

                $("#aux").empty();
                if (index >= 0) {
                    $("#numEntradas").prop('disabled', false);

                    $('<div><h3>Quedan ' + listaAsientos[index].totalLibres + ' asientos</h3> </div>').appendTo('#canvas');

                    
                }
                else $("#numEntradas").prop('disabled', true);
                $("#numEntradas").val(0);

                
                //$("#filas").val("");
                //$("#columnas").val("");
            }
        }


        cambioAsientos();
        $("#zonaTarifa,#funcionHora").change(cambioAsientos);
        $(window).resize(cambioAsientos);

        $("#submitEntradas").submit(function () {
            $("#asientosElegidos").empty();
            $("#formCantEntradas").val( $("#numEntradas").val() );
            //validar!!!



            //PIER VALIDA PLZ
            // cantEntradas que no son naturales
            


            var i=0;
            for (var k in asientosElegidos) {

                var n = parseInt(k);
                var f = (n / 10005) >> 0;
                var c = n % 10005;

                $('<input type="number" id="filas[' + i + ']"  name="filas[' + i + ']" value="' + f + '" style="display:none">').appendTo('#asientosElegidos');
                $('<input type="number" id="columnas[' + i + ']"  name="columnas[' + i + ']" value="' + c + '"  style="display:none">').appendTo('#asientosElegidos');
                i++;
            }

        });


    </script>
}

