@using Microsoft.AspNet.Identity;
@using WebApplication4.Models;
@using WebApplication4.Controllers;
@using Microsoft.AspNet.Identity

@model PaqueteEntradas

@{
    var codperfilActual = 0;
    if (Request.IsAuthenticated)
    {
        var act = User.Identity.GetUserName();
        var usuario = new CuentaUsuario();
        inf245netsoft db = new inf245netsoft();
        if (db != null)
        {
            usuario = db.CuentaUsuario.Find(act);
            if (usuario != null)
            {
                codperfilActual = usuario.codPerfil;
            }
        }

    }

    ViewBag.Title = "Ver Evento";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string estiloAsientos = (((Boolean)ViewBag.VeoAsientos) == true) ? "" : "display:none";
    Turno tu = null;
    //se comprueba si el usuario que se logueo tiene un turno asignado almacenado en session
    if (Session["TurnoHoy"] != null)
    {
        tu = (Turno)Session["TurnoHoy"];
    }
}



<div class="container-fluid">
    <div class="col-md-7">
        <ol class="breadcrumb">
            @if (codperfilActual == 3 || codperfilActual == 2 || codperfilActual == 4)//si el evento lo ve un personal de la empresa
            {
                <li><a href="@Url.Action("Index2","Home")">Inicio</a></li>
            }
            else
            {
                <li><a href="@Url.Action("Index","Home")">Inicio</a></li>
            }
            <li class="active">Evento: @ViewBag.evento.nombre</li>
        </ol>
    </div>
</div>

<div class="container ">
    <link href="@Url.Content("/Content/asientos.css")" rel="stylesheet" type="text/css" />
    <!--la parte importante-->
    <div id="contenido" class="col-md-8 borde">
        <div id="detalles" class="row">
            <div class="col-md-3">
                <div id="fila" class="row">
                    <center class="col-md-12">
                        <div style="width:inherit">
                            <img style="width:inherit" class="event" src=@ViewBag.evento.ImagenEvento alt=@ViewBag.evento.nombre>
                        </div>
                    </center>

                    <div class="con col-md-12">
                        <div style="text-align:left">
                            <h4>@ViewBag.evento.nombre</h4>
                            <p><strong><u>Fechas:</u></strong> @ViewBag.textoFunciones </p>
                            <p>
                                <strong><u>Dirección:</u></strong>
                                @ViewBag.NombreLocal
                            </p>
                            <p><strong><u>Región:</u></strong> @ViewBag.Region</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div id="fila" class="row">
                    <div class="con col-md-12" style="text-align:justify">
                        <p><strong><u>Categoría:</u></strong> @ViewBag.Categoria</p>
                        <p><strong><u>Subcategoría:</u></strong> @ViewBag.Subcategoria</p>
                        <p><strong><u>Descripción:</u></strong></p>
                        <p>@ViewBag.evento.descripcion</p>
                    </div>
                </div>
            </div>
        </div>



        @if (ViewBag.evento.ImagenSitios != null)
        {
            <div id="zonas" class="row">
                <div class="con col-md-12">
                    <div class="container-fluid">
                        <h4><u>Distribución de zonas</u></h4>
                        <img style="cursor:default;border:1px solid black" width="100%" class="event" src=@ViewBag.evento.ImagenSitios alt="Zonas de evento" title="Distribución de asientos">
                    </div>
                    <br />
                </div>
            </div>
        }

        @if (ViewBag.listPromos.Count > 0)
        {
            <div id="promos" class="row">
                <div class="con col-md-12">
                    <div class="container-fluid">
                        <h4><u>Promociones</u></h4>
                        @foreach (var promo in ViewBag.listPromos)
                        {
                            <p>@promo</p>
                        }

                    </div>
                </div>
            </div>
        }

        @if (ViewBag.ListPrecios.Count > 0)
        {
            <div id="precios" class="row">
                <div class="con col-md-12">
                    <div class="container-fluid">
                        <h4><u>Precios de Venta</u></h4>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="tarifario" style="text-align:center">
                                <thead>
                                    <tr>
                                        <td> Zona/tarifa </td>
                                        @foreach (var periodo in ViewBag.ListPeriodos)
                                        {
                                            <td>@periodo</td>
                                        }
                                    </tr>
                                </thead>
                                <tbody style="cursor: text">
                                    @for (int i = 0; i < ViewBag.listPrecios.Count; i++)
                                    {
                                        <tr>
                                            @{
                                        var lista = ViewBag.listPrecios[i];
                                            }
                                            <td> @ViewBag.ListZonasNombre[i] </td>
                                            @foreach (var p in lista)
                                            {
                                                <td>S/. @p</td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        }

        <div id="tarifas" class="row">
            <div class="con col-md-12">
                <div class="container-fluid">
                    <div><h4><u>Selección de boletos/asientos</u></h4></div>
                    <div class="col-md-6" style=@estiloAsientos>
                        <div id="canvas" class="col-md-12" title="La parte superior de la zona es la más cercana al escenario">           </div>
                        <div id="aux" class="col-md-12">              </div>
                    </div>
                    <div class="col-md-6">
                        @if (ViewBag.EventoAcabo != null)
                        {
                            @ViewBag.EventoAcabo
                        }
                        else
                        {
                            if (ViewBag.EventoNoDisponible != null && codperfilActual < 3)
                            {
                                <p>@ViewBag.EventoNoDisponible</p>
                                List<string>
                                    futurasVentas = ViewBag.FuturasVentas as List<string>
                                        ;
                                for (int i = 0; i < futurasVentas.Count; i++)
                                {
                                    <p style="margin-left:5em">@futurasVentas[i]</p>
                                }
                            }
                            else
                            {

                                if (ViewBag.MensajeErrorFunciones != null)
                                {
                                    <div class="row form-group">
                                        <label for="funcion" class="control-label col-md-4">Función:</label>
                                        <input type="text" class="form-control" value="@ViewBag.MensajeErrorFunciones" disabled>
                                    </div>
                                }
                                else
                                {
                                    if (ViewBag.ListFunciones.Count == 0)
                                    {
                                        <p>Las funciones para este evento terminaron</p>
                                    }
                                    else
                                    {
                                        <div class="row form-group">
                                            <label for="hora" class="control-label col-md-4 col-sm-4">Funciones:</label>
                                            <div id="funcion" class="col-md-8 col-sm-8">
                                                <select id="funcionHora" class="form-control">
                                                    @for (int i = 0; i < ViewBag.ListFunciones.Count; i++)
                                                    {
                                                        string fecha = String.Format("{0:d}", ViewBag.ListFunciones[i].fecha);
                                                        string hora = String.Format("{0:t}", ViewBag.ListFunciones[i].horaIni);
                                                        <option value="@ViewBag.ListFunciones[i].codFuncion"> @fecha - @hora</option>
                                                    }
                                                </select>
                                                @Html.ValidationMessageFor(model => model.idFuncion)
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label for="zonaTarifa" class="control-label col-md-4 col-sm-4">Zona: </label>
                                            <div id="funcion" class="col-md-8 col-sm-8">

                                                <select id="zonaTarifa" class="form-control">
                                                    @for (int i = 0; i < ViewBag.ListZonasNombre.Count; i++)
                                                    {
                                                        <option value="@ViewBag.ListZonasId[i]"> @ViewBag.ListZonasNombre[i]</option>
                                                    }
                                                </select>
                                                @Html.ValidationMessageFor(model => model.idZona)

                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label for="zonaTarifa" class="control-label col-md-8 col-sm-8">Cantidad de entradas:</label>
                                            <div class="col-md-4 col-sm-4">
                                                <input id="numEntradas" class="form-control pull-right" type="number" value="0">
                                            </div>
                                            @TempData["ErrorSeleccionandoAsientos"]
                                            @Html.ValidationMessageFor(model => model.cantEntradas)
                                        </div>
                                        <div class="row form-group">

                                            @using (Html.BeginForm("Entradas", "Evento", FormMethod.Post, new { id = "submitEntradas", @class = "col-md-12" }))
                                            {

                                                @Html.TextBoxFor(Model => Model.idZona, new { style = "display:none" })
                                                @Html.TextBoxFor(Model => Model.idFuncion, new { style = "display:none" })
                                                @Html.TextBoxFor(model => model.idEvento, new { style = "display:none" })
                                                @Html.TextBoxFor(model => model.tieneAsientos, new { id = "formTieneEntradas", style = "display:none" })
                                                @Html.TextBoxFor(model => model.cantEntradas, new { id = "formCantEntradas", style = "display:none" })

                                                <div class="col-md-12" id="asientosElegidos">

                                                </div>

                                                if (codperfilActual == 1 || !Request.IsAuthenticated)//para el cliente
                                                {
                                                    <center class="col-md-12 col-sm-12 form-group">
                                                        <button type="submit" name="boton" value="carrito" class="btn btn-success  "><span class="glyphicon glyphicon-shopping-cart"></span> Agregar a mi carrito</button>
                                                    </center>

                                                    if (Request.IsAuthenticated && ((Boolean)ViewBag.evento.permiteReserva))
                                                    {
                                                        <center class="col-md-12 col-sm-12">
                                                            <button type="submit" name="boton" value="reservar" class="btn btn-primary"><span class="fa fa-book"></span> Reservar</button>
                                                        </center>
                                                    }
                                                    else
                                                    {
                                                        <center class="col-md-12 col-sm-12">
                                                            <button type="submit" name="boton" value="registro" class="btn btn-primary"><span class="fa fa-book"></span> Reservar</button>
                                                        </center>
                                                    }

                                                }
                                                if (codperfilActual >= 3)//para el promotor
                                                {
                                                    <center class="form-group col-md-12 col-sm-12">
                                                        <button type="submit" name="boton" value="reservarOrganizador" class="btn btn-primary">Reservar Organizador<span class="glyphicon glyphicon-save"></span></button>
                                                    </center>
                                                }
                                                //para el vendedor tendra un carrito distinto
                                                if (codperfilActual == 2)
                                                {
                                                   // if (tu != null && tu.estadoCaja == "Abierto")
                                                    //{
                                                        <div class="form-group col-md-12 col-sm-12">
                                                            <button type="submit" name="boton" value="carritoVendedor" class="btn btn-success">Agregar al carrito <span class="fa fa-shopping-cart"></span></button>
                                                        </div>
                                                    //}
                             //                       else
                               //                     {
                                                      //  if (tu == null)
//                                                        {
  //                                                          <center>
    //                                                            <h5>Debe tener un turno para poder vender</h5>
      //                                                      </center> 
        //                                                }
          //                                              else
            //                                            {
              ///                                              if (tu.estadoCaja != "Abierto")
                 //                                           {
                   //                                             <center>
                     //                                               <h5>La caja no ha sido abierta aún</h5>
                       //                                         </center>
                         //                                   }
                           //                             }
                                 //                   }
                                                }
                                            }

                                        </div>
                                    }
                                }

                            }
                        }

                    </div>

                </div>
                <br />
            </div>

        </div>


        @{
            //solo los clientes o administradores pueden comentar
            if (Request.IsAuthenticated && (codperfilActual == 1 || codperfilActual == 4))
            {
                var act = User.Identity.Name;

                Comentario com = new Comentario();
                com.usuario = act;
                com.codEvento = Model.idEvento;
                Html.RenderPartial("Comentarios", com);

            }

        }



    </div>

    <!--LOS EVENTOS DESTACADOS-->
    <div class="col-md-4">
        @{Html.RenderPartial("Destacados");}
    </div>

</div>
@section scripts{

    <script>
        var cantFilas;
        var cantColumnas;

        @{
       <text>

        var x = "@ViewBag.ObjectArrayAsientos";

        </text>
        }

        var asientosElegidos = new Object();;
        var cntAsientos = 0;
        var y = x.replace(/&quot;/g, "\"");
        var listaAsientos = JSON.parse(y);

        function sacar(arrFilas, arrColumnas) {
            $("#canvas").empty();


            var d;
            if ($("#canvas").width() > $("#canvas").height()) {
                d = $("#canvas").height();
            } else {
                d = $("#canvas").width();
            }
            d *= 0.99;

            var cantFilas = Math.max.apply(false, arrFilas);
            var cantColumnas = Math.max.apply(false, arrColumnas);

            //BORDE
            $('<div id="grilla-borde"></div>').appendTo('#canvas');
            $('#grilla-borde').css('width', d + 'px');
            $('#grilla-borde').css('height', d + 'px');
            //

            //INTERIOR
            $('<div id="grilla-interna"></div>').appendTo('#grilla-borde');
            $('#grilla-interna').css('width', 96 + '%');
            $('#grilla-interna').css('height', 96 + '%');
            $('#grilla-interna').css('margin', 2 + '%');
            //

            //ABAJO
            $('<div id="info" style="text-align:center; font-size:18px;"></div>').appendTo('#aux');
            //

            //FILAS
            var altoFilas = 0.9 * 100 / cantFilas;
            var marginTopFilas = 0.1 * 100 / (cantFilas - 1);
            var anchoFilas = 100 / 1;

            for (var i = 0 ; i < cantFilas ; i++) {
                $('<div class="filas ' + 'fila_' + (i + 1) + '"></div>').appendTo('#grilla-interna');
            }

            $('.filas').each(function () {
                $(this).css('width', anchoFilas + '%');
                $(this).css('height', altoFilas + '%');
                if (!$(this).is(':first-child')) {
                    $(this).css('margin-top', marginTopFilas + '%');
                }
            });
            //

            //CELDAS
            var altoCeldas = 100 / 1;
            var anchoCeldas = 0.9 * 100 / cantColumnas;
            var leftCeldas = 0.1 * 100 / (cantColumnas - 1);

            for (var i = 0 ; i < cantColumnas ; i++)
                for (var j = 1 ; j <= cantFilas ; j++) {
                    $('<div class="celdas ' + 'columna_' + (i + 1) + ' "></div>').appendTo('#grilla-interna .filas:nth-child(' + j + ')');
                }

            $('.celdas').each(function () {
                $(this).css('width', anchoCeldas + '%'); $(this).css('height', altoCeldas + '%');
                if (!$(this).is(':first-child')) { $(this).css('margin-left', leftCeldas + '%'); }
            });
            //

            //LLENAR
            var recorrido = 0;
            var flagOcupado = false;
            for (var i = 1 ; i <= cantFilas ; i++)
                for (var j = 1 ; j <= cantColumnas ; j++) {
                    $('<div id="' + (i * 10005 + j) + '" class="ficha"></div>').appendTo('.filas:nth-child(' + i + ') .celdas:nth-child(' + j + ')');
                    if (i != Math.abs(arrFilas[recorrido]) || j != arrColumnas[recorrido]) {
                        $('.filas:nth-child(' + i + ') .celdas:nth-child(' + j + ') div').addClass("eliminado");
                    }
                    else {
                        if (arrFilas[recorrido] < 0) {//se analiza el signo de la coord X para saber si esta ocupado o si esta libre
                            $('.filas:nth-child(' + i + ') .celdas:nth-child(' + j + ') div').addClass("ocupado");
                        }
                        recorrido++;
                    }

                }
            //



        }

        $('body').on('mouseover', '.celdas', function () {
            var filaN = $(this).parent().attr('class').split('_');
            var columnaN = $(this).attr('class').split('_');

            $('#info').text('Fila: ' + filaN[1] + ' - Columna: ' + columnaN[1]);
        });

        $('body').on('click', '.ficha', function () {

            if (!$(this).hasClass("ocupado") && !$(this).hasClass("eliminado")) {   //solo si no esta ocupado se podra elegir o deselegir un asiento
                if ($(this).hasClass("elegido")) {//lo sacamos
                    $(this).removeClass("elegido");
                    $("#numEntradas").val(parseInt($("#numEntradas").val()) - 1);

                    var ubi = parseInt($(this).attr('id'));

                    delete asientosElegidos["" + ubi];

                }
                else {//lo ponemos
                    $(this).addClass("elegido");
                    $("#numEntradas").val(parseInt($("#numEntradas").val()) + 1)

                    var ubi = parseInt($(this).attr('id'));
                    asientosElegidos[("" + ubi)] = cntAsientos++;
                }
            }
        });

        function cambioAsientos() {

            //cambia el aforo cuando se cambia la zona
            var indiceZT = parseInt($("#zonaTarifa").val());
            var indiceFH = parseInt($("#funcionHora").val());

            $("#idFuncion").val(indiceFH);
            $("#idZona").val(indiceZT);

            //Aca iria el seteo de las filas y columnas
            var index = -1;
            asientosElegidos = {}
            cntAsientos = 0;

            for (var i = 0; i < listaAsientos.length ; i++) {
                if (listaAsientos[i].indexZE == indiceZT && listaAsientos[i].indexFH == indiceFH) index = i;
            }

            if (index >= 0 && listaAsientos[index].tieneAsientos) {
                sacar(listaAsientos[index].posFila, listaAsientos[index].posColumna)
                cantFilas = listaAsientos[index].filas;
                cantColumnas = listaAsientos[index].columnas;
                //$("#filas").val(cantFilas);
                //$("#columnas").val(cantColumnas);


                $("#formTieneEntradas").val("" + listaAsientos[index].tieneAsientos);
                $("#formTieneEntradas").attr("value", listaAsientos[index].tieneAsientos);
                $("#numEntradas").val(0);
                $("#numEntradas").prop('readonly', true);
            }
            else {

                $("#canvas").empty();

                $("#aux").empty();
                if (index >= 0) {
                    $("#numEntradas").prop('disabled', false);
                    $("#formTieneEntradas").val("" + listaAsientos[index].tieneAsientos);
                    $("#formTieneEntradas").attr("value", listaAsientos[index].tieneAsientos);

                    $('<div style="text-align:center;margin-top:95px"><h3>Quedan</h3><h2> ' + listaAsientos[index].totalLibres + '</h2><h3>asientos</h3> </div>').appendTo('#canvas');


                }
                else $("#numEntradas").prop('disabled', true);
                $("#numEntradas").val(0);

                //$("#filas").val("");
                //$("#columnas").val("");
            }
        }


        cambioAsientos();
        $("#zonaTarifa,#funcionHora").change(cambioAsientos);
        $(window).resize(cambioAsientos);

        $("#submitEntradas").submit(function () {
            $("#asientosElegidos").empty();
            $("#formCantEntradas").val($("#numEntradas").val());
            var i = 0;
            for (var k in asientosElegidos) {

                var n = parseInt(k);
                var f = (n / 10005) >> 0;
                var c = n % 10005;

                $('<input type="number" id="filas[' + i + ']"  name="filas[' + i + ']" value="' + f + '" style="display:none">').appendTo('#asientosElegidos');
                $('<input type="number" id="columnas[' + i + ']"  name="columnas[' + i + ']" value="' + c + '"  style="display:none">').appendTo('#asientosElegidos');
                i++;
            }

        });


        //Validaciones para el submit

        $(document).ready(function () {



            if (!isNaN(@ViewBag.idCategoria)) {

                $("#idCategoria > option[value='" + @ViewBag.idCategoria + "'").attr('selected', 'selected');


                if (!isNaN(@ViewBag.idSubCat)) {


                    $("#idSubCat > option[value='" + @ViewBag.idSubCat + "'").attr('selected', 'selected');



                }


            }

            if (!isNaN(@ViewBag.idRegion)) {

                $("#idRegion > option[value='" + @ViewBag.idRegion + "'").attr('selected', 'selected');



                if (!isNaN(@ViewBag.idProv)) {

                    $("#idProv > option[value='" + @ViewBag.idProv + "'").attr('selected', 'selected');



                }

            }

            $("#adv-search").on('submit', function (e) {

                e.preventDefault();


                var fechI = this['altfech_ini'].value;
                var fechF = this['altfech_fin'].value;

                /*Regla 1 para la validadcion de al menos un campo*/
                if (fechI == '' && fechF == '' && $("#idCategoria").val() == '' &&
                    $("#idSubCat").val() == '' && $("#idRegion").val() == '') {

                    $("#alerta").append('<strong>Ingrese al menos un campo!</strong>').show();
                    return;
                } else {

                    var valor = $("#alerta").children('strong');
                    if (valor.length > 0) {

                        valor.remove();

                    }

                    $("#alerta").hide();

                }
                /*Regla 2 : Validacion para las fechas*/
                if (fechF != '' && fechI != '') {


                    if (new Date(fechF.replace(/(\d{4})-(\d{2})-(\d{2})/, "$2/$3/$1")) < new Date(fechI.replace(/(\d{4})-(\d{2})-(\d{2})/, "$2/$3/$1"))) {

                        $("#alerta").append('<strong>Fecha hasta no puede ser menor que fecha desde</strong>').show();
                        return;
                    } else {
                        var valor = $("#alerta").children('strong');
                        if (valor.length > 0) {

                            valor.remove();

                        }

                        $("#alerta").hide();

                    }

                }

                this.submit();


            });
        });




        //Obtiene subcategoria

        function cambioCat() {

            fillCombo("idSubCat", $("#idCategoria").val(), "/Home/Subcategorias", "Subcategorias");

        }

        function fillCombo(idCombo, value, linkUrl, optlabel) {

            $("#" + idCombo).empty();
            $("#" + idCombo).append("<option value=''>" + optlabel + "</option>")


            var depId = parseInt(value);
            if (isNaN(depId)) return;
            $.ajax({
                url: linkUrl,
                type: 'POST',
                data: { idCategoria: depId },
                dataType: 'json',
                success: function (data) {
                    if (isNaN(data.length)) return;

                    $.each(data, function (k, v) {
                        $("#" + idCombo).append("<option value='" + v.id + "'>" + v.nombre + "</option>");
                    });
                },
                error: function () {
                    alert("Error :(");
                }
            });
        }


        //Submit para envio de formularios
        function busqueda() {


            $("#search").submit();
        }




        function busquedaAdv() {

            $("#adv-search").submit();

        }



    </script>
}
