@using Microsoft.AspNet.Identity
@using WebApplication4.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var db = new WebApplication4.Models.inf245netsoft();
    List<ReporteModel.ReporteVentas1Model> lev = new List<ReporteModel.ReporteVentas1Model>();
    List<ReporteModel.ReporteVentas2Model> lev2 = new List<ReporteModel.ReporteVentas2Model>();
    List<ReporteModel.ReporteVentas3Model> lev3 = new List<ReporteModel.ReporteVentas3Model>();
    List<ReporteModel.ReporteVentas4Model> lev4 = new List<ReporteModel.ReporteVentas4Model>();
    double to1 = 0;
    double to2 = 0;
    double to3 = 0;
    double to4 = 0;
    if (Session["ReporteVentasTotal"] != null)
    {
        lev = (List<ReporteModel.ReporteVentas1Model>)Session["ReporteVentasTotal"];
    }
    if (Session["ReporteVentasTotal2"] != null)
    {
        lev2 = (List<ReporteModel.ReporteVentas2Model>)Session["ReporteVentasTotal2"];
    }
    if (Session["ReporteVentasTotal3"] != null)
    {
        lev3 = (List<ReporteModel.ReporteVentas3Model>)Session["ReporteVentasTotal3"];
    }
    if (Session["ReporteVentasTotal4"] != null)
    {
        lev4 = (List<ReporteModel.ReporteVentas4Model>)Session["ReporteVentasTotal4"];
    }
    if (Session["ReporteTotal"] != null)
    {
        to1 = (double)Session["ReporteTotal"];
    }
    if (Session["ReporteTotal2"] != null)
    {
        to2 = (double)Session["ReporteTotal2"];
    }
    if (Session["ReporteTotal3"] != null)
    {
        to3 = (double)Session["ReporteTotal3"];
    }
    if (Session["ReporteTotal4"] != null)
    {
        to4 = (double)Session["ReporteTotal4"];
    }

}
<style>
    .numero {
        text-align:right;
    }
    .btn-excel {
        background-color: #207245;
        color:white;
    }
    .btn-excel span :hover{
        color:red;
    }
    th{text-align:center}
</style>
<div class="container-fluid">
    <div class="col-md-4">
        <ol class="breadcrumb">
            <li class="active">Reporte de Ventas</li>
        </ol>
    </div>
</div>

<div class="container">    
    <div class="row">
        <div class="modal-body">
            <form action="" class="">
                <!--DECLARAMOS LOS TABS Y LA CANTIDAD DE PESTAÑAS QUE TENDRA -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#xEntrada" id="ptot" data-toggle="tab">Total</a></li>
                    <li><a href="#xTarjeta" id="ptot2" data-toggle="tab">Por Vendedor</a></li>
                    <li><a href="#xEvento" data-toggle="tab">Por Evento</a></li>
                    <li><a href="#xPunto" data-toggle="tab">Por Punto de Venta</a></li>
                </ul>

                <!--INTRODUCIMOS EL CONTIDO QUE TENDRA CADA PESTAÑA -->
                <div class="tab-content">
                    <!--PRIMERA PESTAÑA-->
                    <div class="tab-pane fade in active" id="xEntrada">                       
                        <div class="container">
                            <br />
                            <center class="row form-inline ">                                
                                    <div class="input-group">
                                        <span class="input-group-addon">Desde:</span>
                                        <input id="fd1" type="date" class="form-control">
                                    </div>                                
                                    <div class="input-group">
                                        <span class="input-group-addon">Hasta:</span>
                                        <input id="fh1" type="date" class="form-control">
                                    </div>                                                             
                            </center>
                            <br />
                            <center class="row form-group">
                                
                                    <button onclick="reporte1()" class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><span class="fa fa-table fa-lg"></span> Generar Reporte</button>
                                
                                    @if (Session["ReporteVentasTotal"] != null)
                                    {
                                        <button id="btnExport1" class="btn btn-success btn-excel" data-dismiss="modal" aria-hidden="true"><span class="fa fa-file-excel-o fa-lg"></span> Exportar a Excel</button>
                                    }
                                

                            </center>                                                        
                            <div id="dvData">
                                <div class="row">
                                    <div class="col-md-12">
                                        @if (Session["ReporteVentasTotal"] != null)
                                        {
                                        DateTime di2 = (DateTime)Session["FechaRI"];
                                        DateTime df2 = (DateTime)Session["FechaRF"];
                                        <center>
                                            <h4>REPORTE DE VENTAS TOTAL: Del @di2.Date.ToString("dd/MM/yyyy") - @df2.Date.ToString("dd/MM/yyyy")</h4>
                                        </center>
                                        }
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-hover" align="center">
                                                <thead>
                                                    <tr>
                                                        <th>Fecha</th>
                                                        <th>DNI del Vendedor</th>
                                                        <th>Nombre del Vendedor</th>
                                                        <th>Punto de Venta</th>
                                                        <th>Total Devuelto</th>
                                                        <th>Total</th>
                                                    </tr>
                                                </thead>

                                                <tbody id="tbody">
                                                    @foreach (var row in lev)
                                                    {
                                                        <tr>
                                                            <td>@row.fecha.ToString("dd/MM/yyyy")</td>
                                                            <td style="text-align:center">@row.codigo</td>
                                                            <td>@row.nombre</td>
                                                            <td>@row.punto</td>
                                                            <td class="numero">@row.devtotal</td>
                                                            <td class="numero">@row.total</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 col-md-offset-8 col-sm-2 col-sm-offset-8 col-xs-6 ">
                                        <strong class="pull-right">TOTAL (S/.)</strong>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-6">
                                        <input type="text" class="numero form-control" readonly value="@to1">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!--SEGUNDA PESTAÑA-->
                    <div class="tab-pane fade" id="xTarjeta">
                        <div class="container">
                            <br>
                            <center class="row form-inline">

                                <div class="input-group">
                                    <span class="input-group-addon">Desde:</span>
                                    <input id="fd2" type="date" class="form-control">
                                </div>

                                <div class="input-group">
                                    <span class="input-group-addon">Hasta:</span>
                                    <input id="fh2" type="date" class="form-control">
                                </div>

                            </center>
                            <br />
                            <center class="row form-group">
                                <button onclick="reporte2()" class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><span class="fa fa-table fa-lg"></span> Generar Reporte</button>
                                @if (Session["ReporteVentasTotal2"] != null)
                                {
                                   <button id="btnExport2" class="btn btn-success btn-excel" data-dismiss="modal" aria-hidden="true"><span class="fa fa-file-excel-o fa-lg"></span> Exportar a Excel</button>
                                }
                            </center>
                            <div id="dvData2">
                                <div class="row">
                                    <div class="col-md-12">
                                        @if (Session["ReporteVentasTotal2"] != null)
                                        {
                                            DateTime di2 = (DateTime)Session["FechaRI2"];
                                            DateTime df2 = (DateTime)Session["FechaRF2"];                                            
                                            <center>
                                                <h4>REPORTE DE VENTAS POR VENDEDOR: Del @di2.Date.ToString("dd/MM/yyyy") - @df2.Date.ToString("dd/MM/yyyy")</h4>
                                            </center>
                                        }
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Código Vendedor</th>
                                                        <th>Nombre Vendedor</th>
                                                        <th>Total</th>
                                                    </tr>
                                                </thead>

                                                <tbody id="tbody">
                                                    @foreach (var row in lev2)
                                                    {
                                                        <tr>
                                                            <td style="text-align:center">@row.codigo</td>
                                                            <td>@row.nombre</td>
                                                            <td class="numero">@row.total</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 col-md-offset-8 col-sm-2 col-sm-offset-8 col-xs-6">
                                        <strong class="pull-right">TOTAL (S/.)</strong>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-6">
                                        <input type="text" class="form-control numero" readonly value="@to2">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--TERCERA PESTAÑA-->
                    <div class="tab-pane fade" id="xEvento">
                        <div class="container">
                            <br>
                            <center class="row form-inline">
                                <div class="input-group">
                                    <span class="input-group-addon">Desde:</span>
                                    <input id="fd3" type="date" class="form-control">
                                </div>

                                <div class="input-group">
                                    <span class="input-group-addon">Hasta:</span>
                                    <input id="fh3" type="date" class="form-control">
                                </div>
                            </center>
                            <br />
                            <center class="row form-group">
                                 <button onclick="reporte3()" style="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><span class="fa fa-table fa-lg"></span> Generar Reporte</button>
                                 @if (Session["ReporteVentasTotal3"] != null)
                                 {
                                    <button id="btnExport3" class="btn btn-success btn-excel" data-dismiss="modal" aria-hidden="true"><span class="fa fa-file-excel-o fa-lg"></span> Exportar a Excel</button>
                                 }
                            </center>
                            <div id="dvData3">
                                <div class="row">
                                    <div class="col-md-12">
                                        @if (Session["ReporteVentasTotal3"] != null)
                                        {
                                            DateTime di2 = (DateTime)Session["FechaRI3"];
                                            DateTime df2 = (DateTime)Session["FechaRF3"];
                                            <center>
                                                <h4>REPORTE DE VENTAS POR EVENTO: Del @di2.Date.ToString("dd/MM/yyyy") - @df2.Date.ToString("dd/MM/yyyy")</h4>
                                            </center>
                                        }
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-hover" align="center">
                                                <thead>
                                                    <tr>
                                                        <th>Cód. evento</th>
                                                        <th>Nombre Evento</th>
                                                        <th>Organizador</th>
                                                        <th>Función</th>
                                                        <th>Cant. boletos</th>
                                                        <th>Total (S/.)</th>
                                                    </tr>
                                                </thead>                                                
                                                <tbody id="tbody">
                                                    @foreach (var row in lev3)
                                                    {
                                                        <tr>
                                                            <td>@row.codigo</td>
                                                            <td>@row.nombre</td>
                                                            <td>@row.organizador</td>
                                                            <td>@row.funcion</td>
                                                            <td style="text-align:center">@row.cant</td>
                                                            <td class="numero">@row.total</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>                                        
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 col-md-offset-8 col-sm-2 col-sm-offset-8 col-xs-6">
                                        <strong class="pull-right">TOTAL (S/.)</strong>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-6">
                                        <input type="text" class="form-control numero" readonly value="@to3">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--CUARTA PESTAÑA-->
                    <div class="tab-pane fade" id="xPunto">
                        <div class="container">
                            <br>
                            <center class="row form-inline">                                
                                    <div class="input-group">
                                        <span class="input-group-addon">Desde:</span>
                                        <input id="fd4" type="date" class="form-control">
                                    </div>                                
                                    <div class="input-group">
                                        <span class="input-group-addon">Hasta:</span>
                                        <input id="fh4" type="date" class="form-control">
                                    </div>                                
                            </center>
                            <br>
                            <center class="row form-group">
                                <button onclick="reporte4()" class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><span class="fa fa-table fa-lg"></span> Generar Reporte</button>
                                @if (Session["ReporteVentasTotal4"] != null)
                                {
                                    <button id="btnExport4" class="btn btn-success btn-excel" data-dismiss="modal" aria-hidden="true"><span class="fa fa-file-excel-o fa-lg"></span> Exportar a Excel</button>
                                }
                            </center>

                            <div id="dvData4">
                                <div class="row">
                                    <div class="col-md-12">
                                        @if (Session["ReporteVentasTotal4"] != null)
                                        {
                                            DateTime di4 = (DateTime)Session["FechaRI4"];
                                            DateTime df4 = (DateTime)Session["FechaRF4"];
                                            <center>
                                                <h4>REPORTE DE VENTAS POR PUNTO DE VENTA: Del @di4.Date.ToString("dd/MM/yyyy") - @df4.Date.ToString("dd/MM/yyyy")</h4>
                                            </center>
                                        }
                                        <table class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Código</th>
                                                    <th>Nombre Punto de Venta</th>
                                                    <th>Dirección</th>
                                                    <th>Distrito</th>
                                                    <th>Provincia </th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>                                            
                                            <tbody id="tbody">
                                                @foreach (var row in lev4)
                                                {
                                                    <tr>
                                                        <td style="text-align:center">@row.codigo</td>
                                                        <td>@row.nombre</td>
                                                        <td>@row.ubicacion</td>
                                                        <td>@row.distrito</td>
                                                        <td>@row.provincia</td>
                                                        <td class="numero">@row.total</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 col-md-offset-8 col-sm-2 col-sm-offset-8 col-xs-6">
                                        <strong class="pull-right">TOTAL (S/.)</strong>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-6">
                                        <input type="text" class="numero form-control" readonly value="@to4">
                                    </div>
                                </div>
                            </div>
                            </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<script>
    function redirige() {
        window.location.href = '/ReporteVentas/Index';
    }
    function reporte1() {
        var fd = $('#fd1').val();
        var fh = $('#fh1').val();
        if (fd != null && fd != "") {
            $.ajax({
                url: "@Url.Action("ReporteV1", "ReporteVentas")",
                data: {fd:fd,fh:fh},
                success: function (data) {
                    alert(data);
                    window.location.href = '/ReporteVentas/Index';
                },
                error: function (data) {
                    alert(data);
                    window.location.href = '/ReporteVentas/Index';
                }
            });
        } else {
            $.ajax({
                url: "@Url.Action("LimpiaR1", "ReporteVentas")",
                data: {},
            success: function () {
                window.location.href = '/ReporteVentas/Index';
            },
            error: function (data) {
                alert(data);
                window.location.href = '/ReporteVentas/Index';
            }
        });
        }
    }
    function reporte2() {
        var fd = $('#fd2').val();
        var fh = $('#fh2').val();
        if (fd != null && fd != "") {
            $.ajax({
                url: "@Url.Action("ReporteV2", "ReporteVentas")",
                data: { fd: fd, fh: fh },
                success: function (data) {
                    alert(data);
                    window.location.href = '/ReporteVentas/Index';
                    //alert("Eliminado");
                    //row.remove();
                },
                error: function () {
                    alert("Error :(");
                }
            });
        }else {
            $.ajax({
                url: "@Url.Action("LimpiaR2", "ReporteVentas")",
                data: {},
            success: function () {
                window.location.href = '/ReporteVentas/Index';
            },
            error: function (data) {
                alert(data);
                window.location.href = '/ReporteVentas/Index';
            }
        });
    }
    }
    function reporte3() {
        var fd = $('#fd3').val();
        var fh = $('#fh3').val();
        if (fd != null && fd != "") {
            $.ajax({
                url: "@Url.Action("ReporteV3", "ReporteVentas")",
                data: { fd: fd, fh: fh },
                success: function (data) {
                    alert(data);
                    window.location.href = '/ReporteVentas/Index';
                    //alert("Eliminado");
                    //row.remove();
                },
                error: function () {
                    alert("Error :(");
                }
            });
        }else {
            $.ajax({
                url: "@Url.Action("LimpiaR3", "ReporteVentas")",
                data: {},
            success: function () {
                window.location.href = '/ReporteVentas/Index';
            },
            error: function (data) {
                alert(data);
                window.location.href = '/ReporteVentas/Index';
            }
        });
    }
    }
    function reporte4() {
        var fd = $('#fd4').val();
        var fh = $('#fh4').val();
        if (fd!=null && fd != "") {
            $.ajax({
                url: "@Url.Action("ReporteV4", "ReporteVentas")",
                data: { fd: fd, fh: fh },
                success: function (data) {
                    alert(data);
                    window.location.href = '/ReporteVentas/Index';
                    //alert("Eliminado");
                    //row.remove();
                },
                error: function () {
                    alert("Error :(");
                }
            });
        }else {
            $.ajax({
                url: "@Url.Action("LimpiaR4", "ReporteVentas")",
                data: {},
            success: function () {
                window.location.href = '/ReporteVentas/Index';
            },
            error: function (data) {
                alert(data);
                window.location.href = '/ReporteVentas/Index';
            }
        });
    }
    }

</script>

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnExport1").click(function (e) {
            window.open('data:application/vnd.ms-excel,' + encodeURIComponent($('div[id$=dvData]').html()));
            e.preventDefault();
        });
    });
</script>

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnExport2").click(function (e) {
            window.open('data:application/vnd.ms-excel,' + encodeURIComponent($('div[id$=dvData2]').html()));
            e.preventDefault();
        });
    });
</script>

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnExport3").click(function (e) {
            window.open('data:application/vnd.ms-excel,' + encodeURIComponent($('div[id$=dvData3]').html()));
            e.preventDefault();
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnExport4").click(function (e) {
            window.open('data:application/vnd.ms-excel,' + encodeURIComponent($('div[id$=dvData4]').html()));
            e.preventDefault();
        });
    });
</script>