@{
    ViewBag.Title = "PuntoVentas";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //se obtine la lista de puntos de venta activos
    var db = new WebApplication4.Models.inf245netsoft();
    List<WebApplication4.Models.PuntoVenta> listaPunto = db.PuntoVenta.AsNoTracking().Where(c => c.estaActivo == true).ToList();
    listaPunto = db.PuntoVenta.AsNoTracking().Where(c => c.estaActivo == true).ToList();
    List<WebApplication4.Models.Region> listaSearch = db.Region.AsNoTracking().Where(c => c.idRegPadre == null).ToList();
    //se carga la lista de regiones para realizar la busqueda
    //si se realizo la busqueda se le asigna a la lista de puntos de venta el resultado de la busqueda
    if (Session["ListaP2"] == null)
    {
        listaPunto = db.PuntoVenta.AsNoTracking().Where(c => c.estaActivo == true).ToList();
    }
    else
    {
        listaPunto = (List<WebApplication4.Models.PuntoVenta>)Session["ListaP2"];
    }
}



<div class="container-fluid">
    <div class="col-md-3">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","Home")">Inicio</a></li>
            <li class="active">Puntos de venta</li>
        </ol>
    </div>
</div>
<div class="container">
    <!--PARTE IMPORTANTE-->
    <div class="col-md-8">
        <div class="form-group row">
            <div class="col-xs-6 col-sm-8 col-md-8">
                <h4 class="pull-right">Mostrar solo:</h4>
            </div>            
            <div class="col-xs-6 col-sm-4 col-md-4">
                <form action="" class="" role="search">
                    <select class="form-control" name="" id="comboBusq" onchange="busca2()" >
                        <option>Departamento</option>
                        <option value="0">Todos</option>
                        @foreach (var item in listaSearch)
                        {
                            <option value="@item.idRegion">
                                @item.nombre
                            </option>
                        }
                    </select>
                </form>
            </div>
        </div>        
        <div class="row">
            <div class="table-responsive">
                <table id="mytable" class="table table-bordered table-hover">
                    <thead>
                        <tr class="thead">
                            <th class="col-md-3">Nombre</th>
                            <th class="col-md-5">Dirección</th>
                            <th class="col-md-2">Provincia</th>
                            <th class="col-md-2">Departamento</th>
                        </tr>
                    </thead>
                    <tbody id="tbody" style="cursor:text">
                        @*se muestra la lista de puntos de venta*@
                        @foreach (var row in listaPunto)
                        {
                            <tr id=@row.codPuntoVenta onclick="myFunction(this)">
                                <td>@row.nombre</td>
                                <td>@row.ubicacion</td>
                                <td>@db.Region.Find(row.idProvincia).nombre</td>
                                <td>@db.Region.Find(row.idRegion).nombre</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
    <!--CARRUSEL-->
    <div class="col-md-4">

    </div>
</div>
<script>
    function busca2() {
        var region = $('#comboBusq option:selected').val();
        //se envia el criterio de busqueda cuando se cambia el valor en el combobox
        $.ajax({
            url: "@Url.Action("Search3", "Home")",
            data: { region: region },
        success: function (data) {
            window.location.href = '/Home/PuntoVentas';
            //alert("Eliminado");
            //row.remove();
        },
        error: function () {
            alert("Error :(");
        }
    });
    }
</script>
