@using Microsoft.AspNet.Identity
@using WebApplication4.Models

@model PuntoVentaModel
@{
    var db = new WebApplication4.Models.inf245netsoft();
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutPersonal.cshtml";
    PuntoVenta punto = (PuntoVenta)Session["punto"];
    PuntoVentaModel puntoM = new PuntoVentaModel();
    puntoM.mac = punto.dirMAC;
    puntoM.ubicacion = punto.ubicacion;
}



<div class="modal-body">
    @using (Html.BeginForm("EditRegister", "PuntoVenta", FormMethod.Post, new { model = puntoM }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true)
            <br>
            <div class="row form-group">
                @Html.LabelFor(model => model.ubicacion, new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.ubicacion, new { @placeholder = @puntoM.ubicacion, @Value = @puntoM.ubicacion})
                    @Html.ValidationMessageFor(model => model.ubicacion)
                </div>
            </div>

            <div class="row form-group">
                @Html.LabelFor(model => model.mac, new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.mac, new { @placeholder = @puntoM.mac, @Value = @puntoM.mac })
                    @Html.ValidationMessageFor(model => model.mac)
                </div>
            </div>

            <div class="row form-group">
                @Html.LabelFor(model => model.departamento, new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @{
        List<WebApplication4.Models.Region> listaDepartamento = db.Region.AsNoTracking().Where(c => c.idRegPadre == null).ToList();
        IEnumerable<SelectListItem> listItems = (from a in listaDepartamento
                                                 select new SelectListItem
                                               {
                                                   Value = a.idRegion.ToString(),
                                                   Text = a.nombre,
                                                   Selected = false
                                               });
                    }
                    @{
        listItems.First().Selected = true;
                    }
                    @Html.DropDownListFor(model => model.departamento, listItems, "Seleccione Departamento")
                </div>
            </div>

            <div class="row form-group">
                @Html.LabelFor(model => model.provincia, new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @{
        List<WebApplication4.Models.Region> listaProvincia = db.Region.AsNoTracking().Where(c => c.idRegPadre != null).ToList();
        IEnumerable<SelectListItem> listItems2 = (from a in listaProvincia
                                                  select new SelectListItem
                                                {
                                                    Value = a.idRegion.ToString(),
                                                    Text = a.nombre,
                                                    Selected = false
                                                });
                    }
                    @{
        listItems2.First().Selected = true;
                    }
                    @Html.DropDownListFor(model => model.provincia, listItems2, "Seleccione Provincia")
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Editar" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
</div>


