@using Microsoft.AspNet.Identity
@using WebApplication4.Models

@model PuntoVentaModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var db = new WebApplication4.Models.inf245netsoft();
    List<WebApplication4.Models.Region> listaSearch = db.Region.AsNoTracking().Where(c => c.idRegPadre == null).ToList();
}

<div class="container-fluid">
    <div class="col-md-5">
        <ol class="breadcrumb">
            <li class="active">Mantenimiento de Puntos de Venta</li>
        </ol>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <a class="btn btn-primary" href="#formNuevo" data-toggle="modal">Nuevo <span class="glyphicon glyphicon-plus"></span></a>
                <a class="btn btn-primary" data-toggle="modal" onclick="redirige()">Modificar<span class="glyphicon glyphicon-pencil"></span></a>
                <a class="btn btn-primary" onclick="validaS()" data-toggle="modal">Borrar<span class="glyphicon glyphicon-remove"></span></a>
            </div>
        </div>

        <div class="col-md-3">
            <form action="" class="" role="search">
                <div class="form-group">
                    <div class="input-group">
                        <input id="idBusq" type="text" class="form-control" placeholder="NOMBRE DEL PTO VENTA">
                        <span class="input-group-btn"><button onclick="busca()" class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button></span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-2">
            <select class="form-control" name="" id="comboBusq" onchange="busca2()">
                <option>Departamento</option>
                <option value="0">Todos</option>
                @foreach (var item in listaSearch)
                {
                    <option value="@item.idRegion">
                        @item.nombre
                    </option>
                }
            </select>
        </div>

        <div class="col-md-1">
            <a class="btn btn-danger pull-right" href="@Url.Action("Index2", "Home")">Salir <span class="glyphicon glyphicon-log-out"></span></a>
        </div>

    </div>
    <a class="btn btn-primary" id="idBusq2" onclick="buscaI()" data-toggle="modal">Ver Inactivos<span class="glyphicon"></span></a>
    <br>
    <br>
    @{
        List<WebApplication4.Models.PuntoVenta> listaPunto = db.PuntoVenta.AsNoTracking().Where(c => c.estaActivo == true).ToList();
        if (Session["ListaP"] == null)
        {
            listaPunto = db.PuntoVenta.AsNoTracking().Where(c => c.estaActivo == true).ToList();
        }
        else
        {
            listaPunto = (List<WebApplication4.Models.PuntoVenta>)Session["ListaP"];
        } 
         }

    <div class="row">
        <table id="mytable" class="table table-bordered table-hover">
            <thead>
                <tr class="thead">
                    <th>Id</th>
                    <th>Ubicacion</th>
                    <th>Dirección MAC</th>
                    <th>Provincia</th>
                    <th>Departamento</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody id="tbody">
                @foreach (var row in listaPunto)
                {
                    <tr id=@row.codPuntoVenta onclick="myFunction(this)">
                        <td>@row.codPuntoVenta</td>
                        <td>@row.ubicacion</td>
                        <td>@row.dirMAC</td>
                        <td>@db.Region.Find(row.idProvincia).nombre</td>
                        <td>@db.Region.Find(row.idRegion).nombre</td>
                        <td>@row.estaActivo</td>
                        @*<td>@Html.ActionLink("Delete", "Delete", new { id = row.codPuntoVenta })</td>
                        <td>@Html.ActionLink("Edit", "Edit", new { id = row.codPuntoVenta })</td>*@
                    </tr>
                }
            </tbody>
        </table>
    </div>



</div>


<input type="hidden" id="idPuntoT" value="" />
<input type="hidden" id="EstadoPT" value="" />

<script>
    function myFunction(x) {
        if (document.getElementsByClassName("trselected").length > 0) {
            var element = document.getElementsByClassName("trselected");
            //element.item[0].cells[0].innerText;
            element[0].className = "";
        }
        //var tabla = document.getElementById("mytable");
        //alert(x);
        //var y = x.getCells();
        var elem = document.getElementById("idPuntoT");
        elem.value = x.cells[0].innerHTML;
        var elem2 = document.getElementById("EstadoPT");
        elem2.value = x.cells[5].innerHTML;
        x.className = "trselected";

        //<a class="btn btn-primary" href="javascript:document.getElementsByClassName('trselected').submit()">Borrar<span class="glyphicon glyphicon-pencil"></span></a>
        //idProm = x.codp;
    }
    function borrar() {
        var punto = $('#idPuntoT').val();
        var estado = $('#EstadoPT').val();
        var el = document.getElementById(punto);
        var row = $(el).closest('tr');
        //alert(evento);
        //alert(promocion);
        if (punto != "" && punto != null) {
            if (estado != "False") {
            $.ajax({
                url: "@Url.Action("Delete","PuntoVenta")",
                data: { punto: punto },
                success: function (data) {
                    alert(data);
                    $('#eliminar').modal('hide');
                    row.remove();
                    window.location.href = '/PuntoVenta/Index';
                },
                error: function (data) {
                    alert(data);
                }
            });
            } else {
                alert("No se puede desactivar un Punto de Venta que ya esta desactivado");
            }
        } else {
            alert("Seleccione un Punto de Venta");
            evento = "";
        }
    }
    function redirige() {
        var punto = $('#idPuntoT').val();
        var estado = $('#EstadoPT').val();
        if (punto != "") {
            if (estado != "False") {
                var elem = document.getElementById("idPuntoT");
                elem.value = "";
                window.location.href = '/PuntoVenta/Edit?punto=' + punto;
            } else {
                alert("El Punto de Venta esta desactivado no se puede editar");
            }
        } else {
            alert("Seleccione un Punto de Venta");
            evento = "";
        }
        //$.post('/Regalo/Edit/' + regalo);
    }
    function busca() {
        var punto = $('#idBusq').val();
        //var el = document.getElementById(regalo);
        //var row = $(el).closest('tr');
        //alert(evento);
        //alert(promocion);
        $.ajax({
            url: "@Url.Action("Search2", "PuntoVenta")",
            data: { punto: punto },
            success: function (data) {
                window.location.href = '/PuntoVenta/Index';
                //alert("Eliminado");
                //row.remove();
            },
            error: function () {
                alert("Error :(");
            }
        });
    }
    function busca2() {
        var region = $('#comboBusq option:selected').val();
        $.ajax({
            url: "@Url.Action("Search3", "PuntoVenta")",
            data: { region: region },
            success: function (data) {
                window.location.href = '/PuntoVenta/Index';
                //alert("Eliminado");
                //row.remove();
            },
            error: function () {
                alert("Error :(");
            }
        });
    }
    function buscaI() {
        $.ajax({
            url: "@Url.Action("SearchI", "PuntoVenta")",
            data: {},
        success: function (data) {
            window.location.href = '/PuntoVenta/Index';
            //alert("Eliminado");
            //row.remove();
        },
        error: function () {
            alert("Error :(");
        }
    });
    }
    function validaS() {
        var cliente = $('#idPuntoT').val();
        if (cliente != null && cliente != "") {
            $('#eliminar').modal('show');
        } else {
            alert("Seleccione un punto de Venta");
        }
    }
    function cambioDepartamento() {
        var depId = parseInt($("#idRegion").val());
        if (!isNaN(depId)) {
            var ddProv = $("#idProv");
            ddProv.empty();
            ddProv.append($("<option></option>").val("").html("Provincia"));
            $.ajax({
                url: "@Url.Action("Provincia","Services")",
                data: { depId: depId },
                datatype: "json",
                success: function (data) {
                    var obj = $.parseJSON(data);
                    $.each(obj, function (k, v) {
                        ddProv.append($("<option></option>").val(v.IdRegion).html(v.Nombre));
                    });
                },
                error: function () {
                    alert("Error :(");
                }
            });
        }
        ddProv.empty();
    }
    function closewindow() {
        $('#eliminar').modal('hide');
    }
</script>

<style>
    .trselected {
        background: gray;
    }
</style>


<div class="modal fade" id="formNuevo">
    <!--esta div pondra la pantalla oscura al presionar el boton-->
    <div class="modal-dialog">
        <div class="modal-content">
            <!--ACA VA EL CONTENIDO DEL MODAL-->
            <!--header de la ventana-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times; </button>
                <h4 class="modal-title">Nuevo Punto de Venta</h4>
            </div>
            <!--contenido de la ventana-->

            <div class="modal-body">
                @using (Html.BeginForm("RegisterPunto", "PuntoVenta", FormMethod.Post, new { }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true)
                        <br>
                        <div class="row form-group">
                            @Html.LabelFor(model => model.ubicacion, new { @class = "control-label col-md-3" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.ubicacion, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ubicacion)
                            </div>
                        </div>

                        <div class="row form-group">
                            @Html.LabelFor(model => model.mac, new { @class = "control-label col-md-3" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.mac, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.mac)
                            </div>
                        </div>

                        <div class="row form-group">
                            @Html.LabelFor(model => model.idRegion, new { @class = "control-label col-md-3" })
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => model.idRegion, @ViewBag.DepID as SelectList, "Departamento", new { @class = "form-control", @onchange = "cambioDepartamento()" })
                            </div>
                        </div>

                        <div class="row form-group">
                            @Html.LabelFor(model => model.idProv, new { @class = "control-label col-md-3" })
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => model.idProv, @ViewBag.ProvID as SelectList, "Provincia", new { @class = "form-control" })
                            </div>
                        </div>

                        @*<div class="row form-group">
                                    @Html.LabelFor(model => model.departamento, new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @{
                            List<WebApplication4.Models.Region> listaDepartamento = db.Region.AsNoTracking().Where(c => c.idRegPadre == null).ToList();
                            IEnumerable<SelectListItem> listItems = (from a in listaDepartamento
                                                                     select new SelectListItem
                                                                   {
                                                                       Value = a.idRegion.ToString(),
                                                                       Text = a.nombre,
                                                                       Selected = false
                                                                   });
                            listItems.First().Selected = true;
                                        }
                                        @Html.DropDownListFor(model => model.departamento, listItems, "Seleccione Departamento")
                                    </div>
                                </div>

                                <div class="row form-group">
                                    @Html.LabelFor(model => model.provincia, new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @{
                            List<WebApplication4.Models.Region> listaProvincia = db.Region.AsNoTracking().Where(c => c.idRegPadre != null).ToList();

                            IEnumerable<SelectListItem> listItems2 = (from a in listaProvincia
                                                                      select new SelectListItem
                                                                    {
                                                                        Value = a.idRegion.ToString(),
                                                                        Text = a.nombre,
                                                                        Selected = false
                                                                    });
                                        }
                                        @Html.DropDownListFor(model => model.provincia, listItems2, "Seleccione Provincia")
                                    </div>
                                </div>*@



                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Agregar" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                }
            </div>

            <!--footer de la ventana-->
        </div>
    </div>
</div>



<div class="modal fade" id="eliminar">
    <!--esta div pondra la pantalla oscura al presionar el boton-->
    <div class="modal-dialog">
        <div class="modal-content">
            <!--ACA VA EL CONTENIDO DEL MODAL-->
            <!--header de la ventana-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times; </button>
                <h4 class="modal-title">Aviso</h4>
            </div>
            <!--contenido de la ventana-->
            <div class="modal-body">
                ¿Está seguro que quiere dar de baja el registro se borraran tambien los turnos asignados a este punto de venta?
            </div>
            <!--footer de la ventana-->
            <div class="modal-footer">
                <button type="button" onclick="borrar()" class="btn btn-primary">Aceptar <span class="glyphicon glyphicon-ok"></span></button>
                <button type="button" onclick="return closewindow();" class="btn btn-danger">Cancelar <span class="glyphicon glyphicon-remove"></span></button>
            </div>
        </div>
    </div>
</div>




