
@using WebApplication4.Models


@model ReporteModel.ReporteBuscaModel

@{
    var db = new WebApplication4.Models.inf245netsoft();
    List<ReporteModel.ReporteVentas1Model> lev = new List<ReporteModel.ReporteVentas1Model>();
    List<ReporteModel.ReporteVentas2Model> lev2 = new List<ReporteModel.ReporteVentas2Model>();
    List<ReporteModel.ReporteVentas3Model> lev3 = new List<ReporteModel.ReporteVentas3Model>();
    List<ReporteModel.ReporteVentas4Model> lev4 = new List<ReporteModel.ReporteVentas4Model>();
    double to1 = 0;
    double to2 = 0;
    double to3 = 0;
    double to4 = 0;
    if (Session["ReporteVentasTotal"] != null)
    {
        lev = (List<ReporteModel.ReporteVentas1Model>)Session["ReporteVentasTotal"];
    }
    if (Session["ReporteVentasTotal2"] != null)
    {
        lev2 = (List<ReporteModel.ReporteVentas2Model>)Session["ReporteVentasTotal2"];
    }
    if (Session["ReporteVentasTotal3"] != null)
    {
        lev3 = (List<ReporteModel.ReporteVentas3Model>)Session["ReporteVentasTotal3"];
    }
    if (Session["ReporteVentasTotal4"] != null)
    {
        lev4 = (List<ReporteModel.ReporteVentas4Model>)Session["ReporteVentasTotal4"];
    }
    if (Session["ReporteTotal"] != null)
    {
        to1 = (double)Session["ReporteTotal"];
    }
    if (Session["ReporteTotal2"] != null)
    {
        to2 = (double)Session["ReporteTotal2"];
    }
    if (Session["ReporteTotal3"] != null)
    {
        to3 = (double)Session["ReporteTotal3"];
    }
    if (Session["ReporteTotal4"] != null)
    {
        to4 = (double)Session["ReporteTotal4"];
    }

}

<div class="container">
    <br>
    @*<button onclick="redirige()" style="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-file"></span> Gen</button>
    <div class="row">
        <div class="col-md-9">
            <div class="form-group">
                <button onclick="reporte1()" style="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-file"></span> Generar Reporte</button>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Exportar a Excel</button>
            </div>
        </div>
    </div>
    <button onclick="redirige()" style="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-file"></span> Gen</button>
    <div class="row">
        <div class="col-md-3 col-md-offset-3">
            <div class="input-group">
                <span class="input-group-addon">Desde:</span>
                <input id="fd1" type="date" class="form-control">
            </div>
        </div>
        <div class="col-md-3">
            <div class="input-group">
                <span class="input-group-addon">Hasta:</span>
                <input id="fh1" type="date" class="form-control">
            </div>
        </div>
    </div>*@
    @using (Html.BeginForm("ReporteV1a", "Ventas", FormMethod.Post, new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.fechaI, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.fechaI)
                    @Html.ValidationMessageFor(model => model.fechaI)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.fechaF, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.fechaF)
                    @Html.ValidationMessageFor(model => model.fechaF)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Buscar" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <br>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover" align="center">
                <tr class="active">
                    <th>Fecha</th>
                    <th>Codigo del Vendedor</th>
                    <th>Nombre del Vendedor</th>
                    <th>Punto de Venta</th>
                    <th>Total</th>
                </tr>
                <tbody id="tbody">
                    @foreach (var row in lev)
                    {
                        <tr>
                            <td>@row.fecha</td>
                            <td>@row.codigo</td>
                            <td>@row.nombre</td>
                            <td>@row.punto</td>
                            <td>@row.total</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-8">
            <span>TOTAL (S/.)</span>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" readonly="true" value="@to1">
        </div>
    </div>
</div>
