@using Microsoft.AspNet.Identity
@using WebApplication4.Models

@{
    ViewBag.Title = "Apertura";
    Layout = "~/Views/Shared/_LayoutPersonal.cshtml";
    var db = new WebApplication4.Models.inf245netsoft();
    int idPunto;
    //if (Session["PuntoVentaLoguedo"] != null) {
    //    idPunto = (int)Session["PuntoVentaLoguedo"];
    //}
    //else{ 
    //    idPunto = 1;  
    //}            
    //CuentaUsuario cuenta = (CuentaUsuario)Session["UsuarioLogueado"];
    //TimeSpan da = DateTime.Now.TimeOfDay;
    //TurnoSistema ts=new TurnoSistema();
    //List<TurnoSistema> listaturno = db.TurnoSistema.AsNoTracking().Where(c => c.activo == true).ToList();
    //for(int i=0;i<listaturno.Count;i++){
    //    if((TimeSpan.Parse(listaturno[i].horIni)<da) && (TimeSpan.Parse(listaturno[i].horFin)>da))
    //    {
    //        ts=listaturno[i];
    //    }
    //}
    //Turno tu=null;
    //List<Turno> liT = new List<Turno>();
    //DateTime hoy = DateTime.Now;
    ////List<Turno> liT = db.Turno.AsNoTracking().Where(c => c.codPuntoVenta==idPunto && c.codTurnoSis==ts.codTurnoSis && c.usuario==cuenta.usuario).ToList();
    //if (cuenta != null)
    //{
    //    liT = db.Turno.AsNoTracking().Where(j => j.usuario == cuenta.usuario && j.codPuntoVenta == idPunto && j.codTurnoSis == ts.codTurnoSis).ToList();
    //}
    //else{ 
    //    liT = null;
    //}
    //if(liT!=null)
    //{ 
    //for (int i = 0; i < liT.Count; i++)
    //{
    //    if (liT[i].fecha.Date == hoy.Date){
    //        tu = liT[i];
    //        Session["TurnoHoy"] = tu;
    //        break;
    //    }
    //}
    //}
    //tu = liT.First();
    //if (tu == null) {
    //    tu = new Turno();
    //    tu.estado = "Error";
    //}
}

<div class="container-fluid">
    <div class="col-md-5">
        <ol class="breadcrumb">
            <li class="active">Abrir Caja</li>
        </ol>
    </div>
</div>
<div class="container">
    <div class="row">
        <br>
        <div class="form-group">
            <label for="categoria" class="control-label col-md-2 col-md-offset-2">Monto Inicial:</label>
            <div class="col-md-2">
                <div class="input-group">
                    <span class="input-group-addon" id="soles">S/.</span>
                    <input type="text" id="montoS" class="form-control" aria-describedby="soles">
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <span class="input-group-addon" id="soles">$.</span>
                    <input type="text" id="montoD" class="form-control" aria-describedby="soles">
                </div>
            </div>
        </div>

        <br><br>

        <center>
            @if(Session["AperturaCompleta"]==null){
                <button type="button" class="btn btn-primary" onclick="abrir()">Abrir caja <span class="glyphicon glyphicon-inbox"></span></button>
            }
            else
            {
                <button type="button" class="btn btn-primary" onclick="">Abrir caja <span class="glyphicon glyphicon-inbox"></span></button>
            }
            <a class="btn btn-danger pull-right" href="@Url.Action("Index2", "Home")">Salir <span class="glyphicon glyphicon-log-out"></span></a>
        </center>



    </div>
</div>

<script>
    function abrir() {
        var montos = $('#montoS').val();
        var montod = $('#montoD').val();
        if (montos != "" && montos != null && montod != "" && montod != null) {
            //alert(monto);
            $.ajax({
                url: "@Url.Action("AbrirCaja", "Ventas")",
                data: { montos: montos, montod: montod },
            success: function (data) {
                //alert("Eliminado");
                window.location.href = '/Ventas/Apertura';
            },
            error: function () {
                //alert("Error :(");
                window.location.href = '/Ventas/Apertura';
            }
        });
    } else {
            alert("Ingrese los monto solicitados");
    }
    }

</script>

@*<h1>@tu.estado</h1>*@
@*<h1>@ts.horIni</h1>*@
@*<h1>@cuenta.nombre</h1>
<h2>@idPunto</h2>*@

@*<div class="modal fade" id="modalBuscarPuntoVenta">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--ACA VA EL CONTENIDO DEL MODAL-->
            <!--header de la ventana-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times; </button>
                Buscar puntos de ventas
            </div>
            <!--contenido de la ventana-->
            <div class="modal-body">
                <form action="" class="form-horizontal">
                    <div class="form-group">
                        <label for="correo" class="control-label col-md-2">Nombre:</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="nombre">
                        </div>
                    </div>
                    <br><br>
                    <div class="row">
                        <table class="table table-bordered table-hover">

                            <tr class="active">
                                <th>Nombre</th>
                            </tr>
                            <tr>
                                <td>Chorrrillos 1</td>
                            </tr>
                            <tr id="fila3" onclick="select()">
                                <td>Chorrrillos 2</td>
                            </tr>
                            <tr>
                                <td>Chorrrillos 3</td>
                            </tr>
                        </table>

                    </div>


                </form>
            </div>
            <br>
            <!--footer de la ventana-->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Buscar</button>
                <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Seleccionar</button>
            </div>
        </div>
    </div>
</div><!--ventana de buscar organizador-->*@


