@using Microsoft.AspNet.Identity
@using WebApplication4.Models

@{
    ViewBag.Title = "Apertura";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var db = new WebApplication4.Models.inf245netsoft();
    int idPunto;
    double mS=0,mD=0;
    Turno turno = (Turno)Session["TurnoHoy"];
    if (turno != null)
    {
        if (turno.estadoCaja != "Pendiente")
        {
            mS = (double)turno.MontoInicioSoles;
            mD = (double)turno.MontoInicioDolares;
        }
    }
    
}

<div class="container-fluid">
    <div class="col-md-5">
        <ol class="breadcrumb">
            <li class="active">Abrir Caja</li>
        </ol>
    </div>
</div>
<div class="container">
    <div class="row">
        <br>
        @if (turno != null && turno.estadoCaja != "Pendiente" )
        {
            <div class="form-group">
                <label for="categoria" class="control-label col-md-2 col-md-offset-2">Monto Inicial:</label>
                <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon" id="soles">S/.</span>
                        <input type="number" id="montoS" value="@mS" class="form-control" aria-describedby="soles" disabled>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon" id="soles">$.</span>
                        <input type="number" id="montoD" value="@mD" class="form-control" aria-describedby="soles" disabled>
                    </div>
                </div>
            </div>
        }
        else
        {
        <div class="form-group">
            <label for="categoria" class="control-label col-md-2 col-md-offset-2">Monto Inicial:</label>
            <div class="col-md-2">
                <div class="input-group">
                    <span class="input-group-addon" id="soles">S/.</span>
                    <input type="number" id="montoS" class="form-control" aria-describedby="soles">
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <span class="input-group-addon" id="soles">$.</span>
                    <input type="number" id="montoD" class="form-control" aria-describedby="soles">
                </div>
            </div>
        </div>
        }
        <br><br>

        <center>
            @if (turno != null && turno.estadoCaja == "Pendiente")
            {
                <button type="button" class="btn btn-primary" onclick="abrir()">Abrir caja <span class="glyphicon glyphicon-inbox"></span></button>
            }
            else
            {
                @*<button type="button" class="btn btn-primary" onclick="">Abrir caja <span class="glyphicon glyphicon-inbox"></span></button>*@
            }
            @*<a class="btn btn-danger pull-right" href="@Url.Action("Index2", "Home")">Salir <span class="glyphicon glyphicon-log-out"></span></a>*@
        </center>



    </div>
</div>

<script>
    function abrir() {
        var montos = $('#montoS').val();
        var montod = $('#montoD').val();
        if (montos != "" && montos != null && montod != "" && montod != null) {
            //alert(monto);
            $.ajax({
                url: "@Url.Action("AbrirCaja", "Ventas")",
                data: { montos: montos, montod: montod },
            success: function (data) {
                alert(data);
                window.location.href = '/Ventas/Apertura';
            },
            error: function (data) {
                alert(data);
                window.location.href = '/Ventas/Apertura';
            }
        });
    } else {
            alert("Ingrese los monto solicitados");
    }
    }

</script>

@*<h1>@tu.estado</h1>*@
@*<h1>@ts.horIni</h1>*@
@*<h1>@cuenta.nombre</h1>
<h2>@idPunto</h2>*@

@*<div class="modal fade" id="modalBuscarPuntoVenta">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--ACA VA EL CONTENIDO DEL MODAL-->
            <!--header de la ventana-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times; </button>
                Buscar puntos de ventas
            </div>
            <!--contenido de la ventana-->
            <div class="modal-body">
                <form action="" class="form-horizontal">
                    <div class="form-group">
                        <label for="correo" class="control-label col-md-2">Nombre:</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="nombre">
                        </div>
                    </div>
                    <br><br>
                    <div class="row">
                        <table class="table table-bordered table-hover">

                            <tr class="active">
                                <th>Nombre</th>
                            </tr>
                            <tr>
                                <td>Chorrrillos 1</td>
                            </tr>
                            <tr id="fila3" onclick="select()">
                                <td>Chorrrillos 2</td>
                            </tr>
                            <tr>
                                <td>Chorrrillos 3</td>
                            </tr>
                        </table>

                    </div>


                </form>
            </div>
            <br>
            <!--footer de la ventana-->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Buscar</button>
                <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Seleccionar</button>
            </div>
        </div>
    </div>
</div><!--ventana de buscar organizador-->*@


