@using WebApplication4.Models;
@{
    ViewBag.Title = "MiCarrito";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<CarritoItem> carritoList = new List<CarritoItem>();
    if (ViewBag.Carrito != null)
    {
        carritoList = ViewBag.Carrito as List<CarritoItem>;
    }
    double total = 0;
}
<div class="container-fluid">
    <div class="col-md-5">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index2","Home")">Inicio</a></li>
            <li class="active">Carrito de Ventas</li>
        </ol>
    </div>
</div>

@if (Session["CarritoVendedor"] == null)
{
    <div class="container">
        <div class="row-md-4">
            <a class="btn btn-danger pull-right" href="@Url.Action("Index2","Home")">Salir <span class="glyphicon glyphicon-log-out"></span></a>
        </div>
        <p>Carrito de Ventas Vacio.</p>
    </div>
}
else
{
    <div class="container">
        <div class="form-group">
            <a class="btn btn-primary pull-right" onclick="quitarCarrito()">Quitar  <span class="glyphicon glyphicon-trash"></span></a>
            <a class="btn btn-danger pull-left" href="@Url.Action("Index2","Home")">Salir <span class="glyphicon glyphicon-log-out"></span></a>
        </div>

    </div><br />
    <div class="container">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Id de Evento</th>
                    <th>Nombre de Evento</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Zona</th>
                    <th>Subtotal(S/.)</th>
                    <th>Cantidad</th>
                    <th>Asientos</th>
                    <th>Borrar</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < carritoList.Count; i++)
                {
                    total += carritoList[i].precio;
                    string asientos = "";
                    <tr id="@(i)">
                        <td>@carritoList[i].idEvento</td>
                        <td>@carritoList[i].nombreEvento</td>
                        <td>@String.Format("{0:dd/MM/yyyy}", carritoList[i].fecha)</td>
                        <td>@String.Format("{0:t}", carritoList[i].hora)</td>
                        <td>@carritoList[i].zona</td>
                        <td>@carritoList[i].precio</td>
                        <td>@carritoList[i].cantidad</td>
                        <td>
                            @{

                    try
                    {//si tiene asientos, los detallo como un string
                        int cantAsientos = carritoList[i].filas.Count;
                        for (int j = 0; j < cantAsientos - 1; j++)
                        {
                            asientos += carritoList[i].filas[j] + " - " + carritoList[i].columnas[j] + ", ";
                        }
                        asientos += carritoList[i].filas[carritoList[i].filas.Count - 1] + " - " + carritoList[i].columnas[carritoList[i].filas.Count - 1] + ".";
                    }
                    catch (Exception ex)
                    {
                        //sale una excepcion si es que filas.Count no existe, por lo que solo son entradas
                        asientos = "" + carritoList[i].cantidad;
                    }
                            }
                            @asientos
                        </td>
                        <td style="align-content:center"><input type="radio" name="groupCarrito" value="@(i)"></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="container">
        <div class="container col-md-6 form-group pull-right">
            <label for="Total" class="control-label col-md-2">Total a Pagar:</label>
            <div class="col-md-10">
                <input id="totalCompra" type="text" class="form-control" value="@(total)" readonly="readonly">
            </div>
        </div>
        <br>
        <br>
        <div class="col-md-12">
            <a class="btn btn-success pull-right" href="@Url.Action("VenderEntrada", "Ventas")">Comprar<span class="glyphicon glyphicon-usd"></span></a>
        </div>
    </div>
}
<script>
    function quitarCarrito() {
        if (confirm("¿Quitar Item?")) {
            var fila = $('input[name="groupCarrito"]:checked').val();
            var row = document.getElementById(parseInt(fila));
            var itemEliminar = row.id;
            $.ajax({
                url: "/Services/EliminaItemVentas/",
                data: { itemEliminar: itemEliminar },
                datatype: "json",
                success: function (data) {
                    alert(data);
                    var cantidad = parseInt($('#totalCompra').val());
                    $("#totalCompra").val(cantidad - parseInt(row.cells[5].innerHTML));
                    row.parentNode.removeChild(row);
                    window.location.href = "/Ventas/CarritoVentas";
                },
                error: function (data) {
                    alert("Error");
                }
            })

        } else {

        }
    }


    function busqueda() {


        $("#search").submit();
    }




    function busquedaAdv() {

        $("#adv-search").submit();

    }
</script>
