@{
    ViewBag.Title = "Devolucion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="col-md-5">
        <ol class="breadcrumb">
            <li class="active">Devolución de entradas</li>
        </ol>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="form-group">
            <label for="nombre" class="control-label col-md-2">Nº Documento:</label>
            <div class="col-md-3">
                <form action="" class="" role="search">
                    <div class="form-group">
                        <div class="input-group">
                            <input id="idBusq" type="number" class="form-control" placeholder="DNI del cliente">
                            <span class="input-group-btn"><button onclick="busca()" class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-2">
                <!--Por evaluar :)-->
                <a class="btn btn-primary" data-toggle="modal" onclick="redirigeDevolucion()"><span class="fa fa-list-ul fa-lg"></span> Detalle</a>
                <!--<label>
                    <input type="checkbox"> Solo vencidos
                </label>-->
            </div>
            <div class="col-md-3">
                <!--<button type="button" onclick="devolver()" class="btn btn-primary">Devolver Dinero <span class="glyphicon glyphicon-usd"></span></button>-->
                <!--<a class="btn btn-primary" href="#devolver" data-toggle="modal">Devolver Dinero<span class="glyphicon glyphicon-usd"></span></a>-->
                @*<a class="btn btn-danger" href="@Url.Action("Index2", "Home")">Salir <span class="glyphicon glyphicon-log-out"></span></a>*@
            </div>
        </div>
    </div>
    @{
        List<WebApplication4.Models.DevolucionModel> devoluciones;
        //if (Session["Bus"] != null)
        devoluciones = (List<WebApplication4.Models.DevolucionModel>)Session["BusquedaDev"];
    }
    <div class="row">
        <h4>Resultados:</h4>
        <div class="table-responsive">
            <table id="mytable" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="col-md-1">Cod. Devol.</th>
                        <th class="col-md-1">Nº Doc</th>
                        <th class="col-md-2">Nombre</th>
                        <th class="col-md-1">Fecha</th>
                        <th class="col-md-1">Hora</th>
                        <th class="col-md-2">Evento</th>
                        <th class="col-md-1">Zona/Tarifa</th>
                        <th class="col-md-1">Cantidad</th>
                        <th class="col-md-1">Total (S/.)</th>
                        <th class="col-md-1">Estado</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                    @{
                        if (devoluciones != null)
                        {
                            foreach (var row in devoluciones)
                            {
                                <tr id=@row.codDev onclick="myFunction(this)">
                                    <td>@row.codDev</td>
                                    <td>@row.numDoc</td>
                                    <td>@row.nombre</td>
                                    <td>@row.fecha</td>
                                    <td>@row.hora</td>
                                    <td>@row.evento</td>
                                    <td>@row.zona</td>
                                    <td>@row.cantAsientos</td>
                                    <td>@row.monto</td>
                                    <td>@row.estado</td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>    
</div>
<input type="hidden" id="idFila" value="" />
<script>
    function myFunction(x) {
        if (document.getElementsByClassName("trselected").length > 0) {
            var element = document.getElementsByClassName("trselected");
            //element.item[0].cells[0].innerText;
            element[0].className = "";
        }
        //var tabla = document.getElementById("mytable");
        //alert(x);
        //var y = x.getCells();
        var elem = document.getElementById("idFila");
        elem.value = x.cells[0].innerHTML;
        //alert(x.cells[0].innerHTML);
        //ViewBag.P = x.cells[0].innerHTML;
        x.className = "trselected";
        //<a class="btn btn-primary" href="javascript:document.getElementsByClassName('trselected').submit()">Borrar<span class="glyphicon glyphicon-pencil"></span></a>
        //idProm = x.codp;
    }

    function busca() {
        var doc = $('#idBusq').val();
        //alert(categoria);
        $.ajax({
            url: '/Ventas/SearchDoc/',
            data: { doc: doc },
            success: function (data) {
                window.location.href = '/Ventas/Devolucion';

            },
            error: function () {
                alert("Error :(");
            }
        });
    }

    function closewindowDev() {
        $('#devolver').modal('hide');
    }

    function devolver() {
        var fila = $('#idFila').val();
        var el = document.getElementById(fila);
        var row = $(el).closest('tr');
        //alert(evento);
        //alert(promocion);
        if (fila != "" && fila != null) {
            $.ajax({
                url: '/Ventas/Devolver/',
                data: { fila: fila },
                success: function (data) {
                    //alert("Eliminado");
                    $('#devolver').modal('hide');
                    row.remove();
                    //angular.element(document.getElementById('Activate'))[0].disabled = true;
                    window.location.href = '/Ventas/Devolucion';
                },
                error: function () {
                    alert("Error :(");
                }
            });
        } else {
            alert("Seleccione una Fila ");
            $('#devolver').modal('hide');
            evento = "";
        }
    }
    //falta el view y que muestre
    function redirigeDevolucion() {
        var detVen = $('#idFila').val();
        if (detVen != "") {
            window.location.href = '/Ventas/VerDetalle?DetVen=' + detVen;
        } else {
            alert("Seleccione una Fila");
            evento = "";
        }
        //$.post('/Regalo/Edit/' + regalo);
    }
</script>

<div class="modal fade" id="devolver">
    <!--esta div pondra la pantalla oscura al presionar el boton-->
    <div class="modal-dialog">
        <div class="modal-content">
            <!--ACA VA EL CONTENIDO DEL MODAL-->
            <!--header de la ventana-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times; </button>
                <h4 class="modal-title">Aviso</h4>
            </div>
            <!--contenido de la ventana-->
            <div class="modal-body">
                ¿Está seguro que quiere devolver el dinero de este registro?
            </div>
            <!--footer de la ventana-->
            <div class="modal-footer">
                <button type="button" onclick="devolver()" class="btn btn-primary">Aceptar <span class="glyphicon glyphicon-ok"></span></button>
                <button type="button" onclick="return closewindowDev();" class="btn btn-danger">Cancelar <span class="glyphicon glyphicon-remove"></span></button>
            </div>
        </div>
    </div>
</div>