@using Microsoft.AspNet.Identity;
@using WebApplication4.Models;

@{
    ViewBag.Title = "Entrega";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var db = new WebApplication4.Models.inf245netsoft();
    List<VentasXFuncion> listaEntrega = null;
    if (Session["EntregaBusca"] != null)
    {
        listaEntrega = (List<WebApplication4.Models.VentasXFuncion>)Session["EntregaBusca"];
    }
}

<div class="container-fluid">
    <div class="col-md-5">
        <ol class="breadcrumb">
            <li class="active">Entrega de boletos</li>
        </ol>
    </div>
</div>

<div class="container">
    <div class="row ">
        <div class="col-md-1">
            <label for="dni" class="control-label">Tipo Doc:</label>
        </div>
        <div class="col-md-2">
            <select class="form-control" name="" id="comboBusq">
                <option value="0">Ambos</option>
                <option value="1">DNI</option>
                <option value="2">Pasaporte</option>
            </select>
        </div>
        <div class="col-md-2">
            <label for="dni" class="control-label">N° Documento:</label>
        </div>
        <div class="col-md-2">
            <div class="input-group">
                <input id="idBusq" type="text" class="form-control">
                <span class="input-group-btn"><button onclick="busca()" class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button></span>
            </div>
        </div>

        <div class="col-md-5">
            <a href="#imprimir" class="btn btn-primary " data-toggle="modal">Entregar boletos <span class="glyphicon glyphicon-tags"></span></a>
            @*<a href="@Url.Action("Index2", "Home")" class="btn btn-danger pull-right">Salir <span class="glyphicon glyphicon-log-out"></span></a>*@
        </div>
    </div>


    <div class="row">
        <h4>Resultados:</h4><br>
        <div class="row">
            <table id="mytable" class="table table-bordered table-hover">
                <thead>
                    <tr class="thead">
                        <th>Código Venta</th>
                        <th>Fecha Venta</th>
                        <th>N° Doc</th>
                        <th>Nombre</th>
                        <th>Evento</th>
                        <th>Cantidad Entradas</th>
                        <th>Fecha Funcion</th>
                        <th>Hora</th>
                        <th>Monto Total</th>

                    </tr>
                </thead>
                <tbody id="tbody">
                    @if (listaEntrega != null)
                    {
                        foreach (var row in listaEntrega)
                        {
                            <tr id=@row.codVen onclick="myFunction(this)">
                                <td>@row.codVen</td>                                
                                @{
                                    Ventas ve = db.Ventas.Find(row.codVen);
                                    Funcion fu = db.Funcion.Find(row.codFuncion);
                                    CuentaUsuario cu = db.CuentaUsuario.Find(ve.cliente);
                                    TimeSpan ti = fu.horaIni.Value.TimeOfDay;
                                }
                                <td>@ve.fecha.Value.ToString("dd/MM/yyyy")</td>
                                <td>@ve.codDoc</td>
                                @if (cu != null && cu.usuario != "a@anonimo.com")
                                {
                                    <td>@cu.nombre @cu.apellido</td>
                                }
                                else
                                {
                                    <td>--</td>
                                }
                                <td>@db.Eventos.Find(fu.codEvento).nombre</td>
                                <td>@row.cantEntradas</td>
                                <td>@fu.fecha.Value.ToString("dd/MM/yyyy")</td>
                                <td>@ti.ToString(@"hh\:mm\:ss")</td>
                                <td>@row.total</td>

                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div><br>

</div>

<input type="hidden" id="codVenT" value="" />
<script>
    function myFunction(x) {
        if (document.getElementsByClassName("trselected").length > 0) {
            var element = document.getElementsByClassName("trselected");
            //element.item[0].cells[0].innerText;
            element[0].className = "";
        }
        //var tabla = document.getElementById("mytable");
        //alert(x);
        //var y = x.getCells();
        var elem = document.getElementById("codVenT");
        elem.value = x.cells[0].innerHTML;
        x.className = "trselected";

    }
    function busca() {
        var usuario = $('#idBusq').val();
        var tipo = $('#comboBusq option:selected').val();

        $.ajax({
            url: "@Url.Action("SearchEntrega", "CuentaUsuario")",
            data: { usuario: usuario, tipo: tipo },
            success: function (data) {
                window.location.href = '/Ventas/Entrega';
            },
            error: function () {
                alert("Error :(");
            }
        });

    }




    function imprimir() {


        if ($("#codVenT").val() == '') {

            alert("Seleccione una venta");
            return;
        }

        var myWindow = window.open("", "Boleto", 'height=250, width=720');
        myWindow.location.href = '/Ventas/PrintTicket?codVenT=' + $("#codVenT").val();





    }

</script>
<style>
    .trselected {
        background: gray;
    }
</style>


<div class="modal fade" id="imprimir">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button tyle="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-tittle">¿Seguro que desea entregar las entradas?</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <a id="printBtn" class="btn btn-primary pull-right" onclick="imprimir()" data-dismiss="modal" aria-hidden="true">Entregar e imprimir <span class="glyphicon glyphicon-print"></span></a>
                   </div>

                    <div class="col-md-6 col-sm-6 colxs-6">
                        <a class="btn btn-danger pull-left" href="" aria-hidden="true" data-dismiss="modal">Cancelar <span class="glyphicon glyphicon-remove"></span></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

