@using WebApplication4.Models
@using WebApplication4.Controllers
@model VenderEntradaModel
@{
    ViewBag.Title = "Pagar Reserva";
    Layout = "~/Views/Shared/_Layout.cshtml";
    inf245netsoft db = new inf245netsoft();
    List<Promociones> promocionesLista = ViewBag.Promociones as List<Promociones>;
    List<Promociones> promocionesListaEf = ViewBag.PromocionesEfectivo as List<Promociones>;
    double? importe = ViewBag.Total as double?;
    double? descuento = ViewBag.Descuento as double?;
    double? descuentoE = ViewBag.DescuentoE as double?;
    double? montopagar = ViewBag.Pagar as double?;
    //tipo de cambio
    TipoDeCambio tipoCambio = db.TipoDeCambio.Where(c => c.estado == "Activo").ToList().Last();
    double cambio = tipoCambio.valor.Value / (MagicHelpers.ConstanteTipoCambio * 1.0);
    //funciones
}
<style>
    .blanco {
        background-color: white;
        border: 1px solid gray;
        border-radius: 10px;
        padding: 5px;
    }
    h3 {
        border-bottom: 1px solid gray;
    }
    #formPost {
        padding: 15px;
    }
</style>

<div class="container-fluid">
    <div class="col-md-5">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Busqueda", "Evento")">Búsqueda de eventos</a></li>
            <li class="active">Pagar reserva</li>
        </ol>
    </div>
</div>

<div class="container " id="promocionesLista">
    <div id="listaEventoPromocionEfectivo" class="col-md-6 blanco">
        <p>Descuentos disponibles para pago solo en efectivo. No aplicable para pago mixto:</p>
        @{
            for (int i = 0; i < promocionesListaEf.Count; i++)
            {
                string razon = "";
                if (promocionesListaEf[i].codPromo == -1)
                {
                    razon = "- No cuenta con promocion";
                }
                else
                {
                    double desc = (1 - (promocionesListaEf[i].cantComp.Value * 1.0 / promocionesListaEf[i].cantAdq.Value)) * 100;
                    razon = "- Descuento de " + String.Format("{0:0.00}", desc) + "%.";
                }
                @Html.Hidden("promoEfectivo", "" + promocionesListaEf[i].codPromo)
                @Html.Hidden("eventoEfectivo", "" + promocionesListaEf[i].codEvento)
                <p style="margin-left:2em">@razon</p>
            }
        }
    </div>
    @Html.Hidden("dsctInicial", "" + @descuento)
    <div class="col-md-6 blanco">
        <p>Descuentos disponibles en pago por tarjeta, no aplicable para pago mixto:</p>
        <div id="listaEventoPromocion">
            @{
                for (int i = 0; i < promocionesLista.Count; i++)
                {
                    string razon = "";
                    if (promocionesLista[i].codPromo == -1)
                    {
                        razon = "- No cuenta con promocion";
                    }
                    else
                    {
                        razon = "- Descuento de " + promocionesLista[i].descuento + "%.";
                    }
                    @Html.Hidden("eventosCarrito", "" + Model.idEventos[0])
                    @Html.Hidden("promocionesCarrito", "" + promocionesLista[i].codPromo)
                    @Html.Hidden("subtotalCarrito", "" + Model.MontoPagar)
                    <p style="margin-left:2em">@razon</p>
                }
            }
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3><span class="fa fa-user"></span> Datos del comprador</h3><br />
            @using (Html.BeginForm("PagarReserva", "Ventas", FormMethod.Post, new { @id = "formPost" }))
            {
                @Html.HiddenFor(c => c.idEvento)
                @Html.HiddenFor(c => c.idVenta)
                @Html.HiddenFor(c => c.modalidad)
                <div class="cold-md-12">                    
                    <div class="row form-horizontal">
                        <div class="col-md-3">
                        </div>
                        @Html.LabelFor(c => c.Nombre, new { @class = "control-label col-md-2" })
                        <div class="col-md-3">
                            @Html.TextBoxFor(c => c.Nombre, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(c => c.Nombre)
                        </div>                    
                        @Html.LabelFor(c => c.Dni, new { @class = "control-label col-md-2" })
                        <div class="col-md-2">
                            @Html.TextBoxFor(c => c.Dni, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(c => c.Dni)
                        </div>
                    </div><br />
                    <h3><span class="fa fa-credit-card "></span> Información de la tarjeta</h3><br />
                    
                    <div class="row form-horizontal">
                        @Html.LabelFor(c => c.idBanco, new { @class = "control-label col-md-6" })
                        <div class="col-md-6">
                            @Html.DropDownListFor(c => c.idBanco, ViewBag.Bancos as SelectList, new { @disabled = "disabled", @class = "form-control", @onchange = "calculaPromo()" })
                            @Html.ValidationMessageFor(c => c.idBanco)
                        </div>
                        @Html.HiddenFor(c => c.idBanco)
                    </div><br />

                    <div class="row form-horizontal">
                        @Html.LabelFor(c => c.idTipoTarjeta, new { @class = "control-label col-md-6" })
                        <div class="col-md-6">
                            @Html.DropDownListFor(c => c.idTipoTarjeta, ViewBag.TipoTarjeta as SelectList, new { @disabled = "disabled", @class = "form-control", @onchange = "calculaPromo()" })
                        </div>
                        @Html.HiddenFor(c => c.idTipoTarjeta)
                    </div><br />

                    <div class="row form-horizontal">
                        @Html.LabelFor(c => c.NumeroTarjeta, new { @class = "control-label col-md-6" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(c => c.NumeroTarjeta, new { @readonly = "readonly", @class = "form-control" })
                            @Html.ValidationMessageFor(c => c.NumeroTarjeta)
                        </div>
                    </div><br />

                    <div class="row form-horizontal">
                        @Html.LabelFor(c => c.CodCcv, new { @class = "control-label col-md-6" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(c => c.CodCcv, new { @readonly = "readonly", @class = "form-control" })
                            @Html.ValidationMessageFor(c => c.NumeroTarjeta)
                        </div>
                    </div><br />

                    <div class="row form-horizontal">
                        <div class="col-md-6">
                        </div>
                        @Html.LabelFor(c => c.Mes, new { @class = "control-label col-md-1" })
                        <div class="col-md-2">
                            @Html.DropDownListFor(c => c.Mes, ViewBag.Mes as List<SelectListItem>, new { @disabled = "disabled", @class = "form-control" })
                            @Html.HiddenFor(c => c.Mes)
                            @Html.ValidationMessageFor(c => c.Mes)
                        </div>
                        @Html.LabelFor(c => c.AnioVen, new { @class = "control-label col-md-1" })
                        <div class="col-md-2">
                            @Html.DropDownListFor(c => c.AnioVen, ViewBag.AnVen as List<SelectListItem>, new { @disabled = "disabled", @class = "form-control" })
                            @Html.HiddenFor(c => c.AnioVen)
                            @Html.ValidationMessageFor(c => c.AnioVen)
                        </div>
                    </div><br />

                    <h3><span class="fa fa-credit-card"></span> Métodos de pago, montos y descuentos</h3><br>               
                    <div class="row form-horizontal" >
                        <div class="col-md-6">
                        </div>
                        @Html.Label("Tipo de Cambio:", new { @class = "control-label col-md-1" })
                        <div class="col-md-2">
                            @Html.TextBox("tipoCambioMoneda", "" + @cambio, new { @class = "form-control", @readonly = "readonly", @type = "number" })
                        </div>

                        @Html.LabelFor(c => c.Importe, new { @class = "control-label col-md-1" })
                        <div class="col-md-2">
                            @Html.TextBoxFor(c => c.Importe, new { @class = "form-control", @Value = importe, @readonly = "readonly", @type = "number" })
                        </div>                        
                    </div><br />
                    
                    <div class="row">
                        <div id="efectivo" class="blanco col-md-4">
                            <center class="row">                                
                                @if (Model.modalidad == 1)
                                {
                                    <input type="radio" name="TipoPago" value="1" onclick="cambioPago()" checked="checked">
                                }
                                else
                                {
                                    <input type="radio" name="TipoPago" value="1" onclick="cambioPago()">
                                }
                                <label>Efectivo:</label>
                            </center><br />
                            <div class="row form-group">
                                @Html.LabelFor(c => c.Descuento, new { @class = "control-label col-md-3" })
                                <div class="col-md-6">
                                    @Html.TextBoxFor(c => c.Descuento, new { @class = "form-control", @Value = String.Format("{0:0.00}", ViewBag.DescuentoE), @readonly = "readonly", @type = "number" })
                                </div>
                            </div>
                            <div class="row form-group">
                                @Html.LabelFor(c => c.MontoPagar, new { @class = "control-label col-md-3" })
                                <div class="col-md-6">
                                    @Html.TextBoxFor(c => c.MontoPagar, new { @class = "form-control", @Value = String.Format("{0:0.00}", ViewBag.MontoPagarE), @readonly = "readonly", @type = "number" })
                                </div>
                            </div>
                            <div class="row form-group">
                                @Html.LabelFor(c => c.MontoEfe, new { @class = "control-label col-md-3" })
                                <div class="col-md-6">
                                    @Html.TextBoxFor(c => c.MontoEfe, new { @class = "form-control", @onchange = "llena1()", @Value = ViewBag.MontoSE, @type = "number" })
                                </div>
                            </div>
                            <div class="row form-group">
                                @Html.LabelFor(c => c.MontoDolares, new { @class = "control-label col-md-3" })
                                <div class="col-md-6">
                                    @Html.TextBoxFor(c => c.MontoDolares, new { @class = "form-control", @onchange = "llena1()", @Value = ViewBag.MontoDE, @type = "number" })
                                </div>
                            </div>
                            <div class="row form-group">
                                @Html.LabelFor(c => c.MontoTar, new { @class = "control-label col-md-3" })
                                <div class="col-md-6">
                                    @Html.TextBoxFor(c => c.MontoTar, new { @class = "form-control", @readonly = "readonly", @Value = "0", @type = "number" })
                                </div>
                            </div>
                            <div class="row form-group">
                                @Html.LabelFor(c => c.Vuelto, new { @class = "control-label col-md-3" })
                                <div class="col-md-6">
                                    @Html.TextBoxFor(c => c.Vuelto, new { @class = "form-control", @readonly = "readonly", @Value = ViewBag.VueltoE, @type = "number" })
                                </div>
                            </div>
                        </div>
                        <div id="tarjeta" class="blanco col-md-4">
                            <center class="row">                                
                                @if (Model.modalidad == 2)
                                {
                                    <input type="radio" name="TipoPago" value="2" onclick="cambioPago()" checked="checked">
                                }
                                else
                                {
                                    <input type="radio" name="TipoPago" value="2" onclick="cambioPago()">
                                }
                                <label>Tarjeta:</label>
                            </center><br />
                            <div class="row form-group">
                                @Html.LabelFor(c => c.Descuento, new { @class = "control-label col-md-3" })
                                <div class="col-md-6">
                                    @Html.TextBoxFor(c => c.Descuento, new { @class = "form-control", @Value = ViewBag.Descuento, @disabled = "disabled", @type = "number" })
                                </div>
                            </div>
                            <div class="row form-group">
                                @Html.LabelFor(c => c.MontoPagar, new { @class = "control-label col-md-3" })
                                <div class="col-md-6">
                                    @Html.TextBoxFor(c => c.MontoPagar, new { @class = "form-control", @Value = ViewBag.MontoPagarT, @disabled = "disabled", @type = "number" })
                                </div>
                            </div>
                            <div class="row form-group">
                                @Html.LabelFor(c => c.MontoEfe, new { @class = "control-label col-md-3" })
                                <div class="col-md-6">
                                    @Html.TextBoxFor(c => c.MontoEfe, new { @class = "form-control", @Value = "0", @disabled = "disabled", @type = "number" })
                                </div>
                            </div>
                            <div class="row form-group">
                                @Html.LabelFor(c => c.MontoDolares, new { @class = "control-label col-md-3" })
                                <div class="col-md-6">
                                    @Html.TextBoxFor(c => c.MontoDolares, new { @class = "form-control", @Value = "0", @disabled = "disabled", @type = "number" })
                                </div>
                            </div>
                            <div class="row form-group">
                                @Html.LabelFor(c => c.MontoTar, new { @class = "control-label col-md-3" })
                                <div class="col-md-6">
                                    @Html.TextBoxFor(c => c.MontoTar, new { @class = "form-control", @Value = ViewBag.MontoTarjeta, @disabled = "disabled", @type = "number" })
                                </div>
                            </div>
                            <div class="row form-group">
                                @Html.LabelFor(c => c.Vuelto, new { @class = "control-label col-md-3" })
                                <div class="col-md-6">
                                    @Html.TextBoxFor(c => c.Vuelto, new { @class = "form-control", @disabled = "disabled", @Value = "0", @type = "number" })
                                </div>
                            </div>
                        </div>
                        <div id="mixto" class="blanco col-md-4">
                            <center class="row">                                
                                @if (Model.modalidad == 3)
                                {
                                    <input type="radio" name="TipoPago" value="3" onclick="cambioPago()" checked="checked">
                                }
                                else
                                {
                                    <input type="radio" name="TipoPago" value="3" onclick="cambioPago()">
                                }
                                <label>Mixto:</label>
                            </center><br />
                            <div class="row form-group">
                                @Html.LabelFor(c => c.Descuento, new { @class = "control-label col-md-3" })
                                <div class="col-md-6">
                                    @Html.TextBoxFor(c => c.Descuento, new { @class = "form-control", @Value = "0", @disabled = "disabled", @type = "number" })
                                </div>
                            </div>
                            <div class="row form-group">
                                @Html.LabelFor(c => c.MontoPagar, new { @class = "control-label col-md-3" })
                                <div class="col-md-6">
                                    @Html.TextBoxFor(c => c.MontoPagar, new { @class = "form-control", @Value = ViewBag.MontoPagarM, @disabled = "disabled", @type = "number" })
                                </div>
                            </div>
                            <div class="row form-group">
                                @Html.LabelFor(c => c.MontoEfe, new { @class = "control-label col-md-3" })
                                <div class="col-md-6">
                                    @Html.TextBoxFor(c => c.MontoEfe, new { @class = "form-control", @onchange = "llena3()", @Value = ViewBag.MontoSM, @disabled = "disabled", @type = "number" })
                                </div>
                            </div>
                            <div class="row form-group">
                                @Html.LabelFor(c => c.MontoDolares, new { @class = "control-label col-md-3" })
                                <div class="col-md-6">
                                    @Html.TextBoxFor(c => c.MontoDolares, new { @class = "form-control", @onchange = "llena3()", @Value = ViewBag.MontoDM, @disabled = "disabled", @type = "number" })
                                </div>
                            </div>
                            <div class="row form-group">
                                @Html.LabelFor(c => c.MontoTar, new { @class = "control-label col-md-3" })
                                <div class="col-md-6">
                                    @Html.TextBoxFor(c => c.MontoTar, new { @class = "form-control", @disabled = "disabled", @Value = ViewBag.MontoTarjetaM, @type = "number" })
                                </div>
                            </div>
                            <div class="row form-group">
                                @Html.LabelFor(c => c.Vuelto, new { @class = "control-label col-md-3" })
                                <div class="col-md-6">
                                    @Html.TextBoxFor(c => c.Vuelto, new { @class = "form-control", @disabled = "disabled", @Value = ViewBag.VueltoM, @type = "number" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <center>
                            <button type="submit" onclick="return llenaArreglo()" class="btn btn-default btn-primary"><span class="fa fa-usd fa-lg"></span> Finalizar venta</button>
                        </center>
                    </div>
                </div>
            }
        </div>        
    </div>
    <br />
</div>

<script type="text/javascript" src="@Url.Content("/Scripts/Ventas/PagarReservaHelper.js")"></script>
