@using Microsoft.AspNet.Identity
@using WebApplication4.Models

@{
    ViewBag.Title = "ReporteDia";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var db = new WebApplication4.Models.inf245netsoft();
    DateTime dn = DateTime.Now;
    DateTime dd = dn.Date;
    List<Ventas> listaVentas;
    List<Ventas> listaVentas2;
    List<VentasXFuncion> listaVxF = new List<VentasXFuncion>();
    List<VentasXFuncion> listavfU = new List<VentasXFuncion>();
    List<Eventos> lev = new List<Eventos>();
    List<Eventos> le = new List<Eventos>();
    List<double> lt = new List<double>();
    List<int> lte = new List<int>();
    List<ReporteModel.ReporteVentasDiaModel> lvd = new List<ReporteModel.ReporteVentasDiaModel>();
    double totalf = 0;
    if (Session["UsuarioLogueado"] != null && Session["TurnoHoy"] != null)
    {
        CuentaUsuario cu = (CuentaUsuario)Session["UsuarioLogueado"];
        Turno tu = (Turno)Session["TurnoHoy"];
        listaVentas2 = db.Ventas.Where(c => c.vendedor == cu.usuario && c.Estado == "Pagado").ToList();
        DateTime dat = dd.Date;
        listaVentas = listaVentas2.Where(c => c.fecha.Value.Date == dat).ToList();
        if (listaVentas != null && listaVentas.Count > 0)
        {
            for (int i = 0; i < listaVentas.Count; i++)
            {
                int idven = listaVentas[i].codVen;
                List<VentasXFuncion> lv = db.VentasXFuncion.Where(c => c.codVen == idven).ToList();
                for (int j = 0; j < lv.Count; j++)
                {
                    if (lv != null && lv.Count > 0)
                    {
                        listaVxF.Add(lv[j]);
                    }
                }
            }
            lev = db.Eventos.ToList();
            for (int j = 0; j < lev.Count; j++)
            {
                ReporteModel.ReporteVentasDiaModel re = new ReporteModel.ReporteVentasDiaModel();
                double total = 0;
                int totale = 0;
                re.codigo = lev[j].codigo;
                re.nombre = lev[j].nombre;
                for (int k = 0; k < listaVxF.Count; k++)
                {
                    int cf = listaVxF[k].codFuncion;
                    Funcion fu = db.Funcion.Find(cf);
                    if (fu.codEvento == lev[j].codigo)
                    {
                        total += (double)listaVxF[k].total;
                        totale += (int)listaVxF[k].cantEntradas;
                    }
                }
                //lt.Add(total);
                re.cant = totale;
                re.total = total;
                if(total>0){
                    lvd.Add(re);
                }
                totalf += total;
                //lte.Add(totale);
            }

        }

    }

}

<div class="container-fluid">
    <div class="col-md-5">
        <ol class="breadcrumb">
            <li class="active">Generar Reporte de Ventas del Dia</li>
        </ol>
    </div>
</div>
<div class="container">
    <div class="row">
        <a class="btn btn-danger pull-right" href="@Url.Action("Index2", "Home")">Salir <span class="glyphicon glyphicon-log-out"></span></a>
    </div>
    <div class="row">
        <div class="col-md-1">
            <label for="dni" class="control-label">Fecha:</label>
        </div>
        <div class="col-md-2">
            <input class="form-control" value="@dn.Date.ToString("dd/MM/yyyy")" readonly="true">
        </div>
    </div><br>
</div>




<div class="container">
    <div class="row">
        <div class="col-md-4">
        </div>

    </div>

    <div class="row">
        <table id="mytable" class="table table-bordered table-hover">
            <thead>
                <tr class="thead">
                    <th>Código del evento</th>
                    <th>Nombre del evento</th>
                    <th>Número de entradas vendidas del evento</th>
                    <th>Monto de las ventas</th>
                </tr>
            </thead>
            <tbody id="tbody">
                @if (lvd != null)
                {
                    foreach (var row in lvd)
                    {
                            <tr id=@row.codigo>
                                <td>@row.codigo</td>
                                <td>@row.nombre</td>
                                <td>@row.cant</td>
                                <td>@row.total</td>
                            </tr>
                    }
                }
            </tbody>
        </table>
        <h1>Total Vendido: @totalf</h1>
    </div>

</div>
