@using Microsoft.AspNet.Identity
@using WebApplication4.Models

@{
    ViewBag.Title = "ReporteDia";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var db = new WebApplication4.Models.inf245netsoft();
    DateTime dn = DateTime.Now;
    DateTime dd = dn.Date;
    List<Ventas> listaVentas;
    List<Ventas> listaVentas2;
    List<VentasXFuncion> listaVxF = new List<VentasXFuncion>();
    List<VentasXFuncion> listavfU = new List<VentasXFuncion>();
    List<Eventos> lev = new List<Eventos>();
    List<Eventos> le = new List<Eventos>();
    List<double> lt = new List<double>();
    List<int> lte = new List<int>();
    List<ReporteModel.ReporteVentasDiaModel> lvd = new List<ReporteModel.ReporteVentasDiaModel>();
    double totalf = 0;
    if (Session["UsuarioLogueado"] != null && Session["TurnoHoy"] != null)
    {
        CuentaUsuario cu = (CuentaUsuario)Session["UsuarioLogueado"];
        Turno tu = (Turno)Session["TurnoHoy"];
        TurnoSistema ts = db.TurnoSistema.Find(tu.codTurnoSis);
        TimeSpan ti1 = TimeSpan.Parse(ts.horIni);
        TimeSpan ti2 = TimeSpan.Parse(ts.horFin);
        listaVentas2 = db.Ventas.Where(c => c.vendedor == cu.usuario && c.Estado == "Pagado").ToList();
        DateTime dat = dd.Date;
        listaVentas = listaVentas2.Where(c => c.fecha.Value.Date == dat && c.fecha.Value.TimeOfDay > ti1 && c.fecha.Value.TimeOfDay < ti2).ToList();
        if (listaVentas != null && listaVentas.Count > 0)
        {
            for (int i = 0; i < listaVentas.Count; i++)
            {
                int idven = listaVentas[i].codVen;
                List<VentasXFuncion> lv = db.VentasXFuncion.Where(c => c.codVen == idven).ToList();
                for (int j = 0; j < lv.Count; j++)
                {
                    if (lv != null && lv.Count > 0)
                    {
                        listaVxF.Add(lv[j]);
                    }
                }
            }
            lev = db.Eventos.ToList();
            for (int j = 0; j < lev.Count; j++)
            {
                ReporteModel.ReporteVentasDiaModel re = new ReporteModel.ReporteVentasDiaModel();
                double total = 0;
                int totale = 0;
                re.codigo = lev[j].codigo;
                re.nombre = lev[j].nombre;
                for (int k = 0; k < listaVxF.Count; k++)
                {
                    int cf = listaVxF[k].codFuncion;
                    Funcion fu = db.Funcion.Find(cf);
                    if (fu.codEvento == lev[j].codigo)
                    {
                        total += (double)listaVxF[k].total;
                        totale += (int)listaVxF[k].cantEntradas;
                    }
                }
                //lt.Add(total);
                re.cant = totale;
                re.total = total;
                if(total>0){
                    lvd.Add(re);
                }
                totalf += total;
                //lte.Add(totale);
            }
        }
    }
}

<div class="container-fluid">
    <div class="col-md-3">
        <ol class="breadcrumb">
            <li class="active">Reporte de ventas del día</li>
        </ol>
    </div>
</div>
<div class="container">    
    <div class="row">
        <div class="col-md-2 col-md-offset-8 col-sm-2 col-sm-offset-8 col-xs-6 ">
            <strong class="pull-right">Fecha:</strong>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-6">
            <input type="text" class="form-control" readonly value="@dn.Date.ToString("dd/MM/yyyy")">
        </div>
    </div><br />
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table id="mytable" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-1">Código</th>
                            <th class="col-md-5">Evento</th>
                            <th class="col-md-4">Número de entradas vendidas</th>
                            <th class="col-md-2">Monto (S/.)</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                        @if (lvd != null)
                        {
                            foreach (var row in lvd)
                            {
                                <tr id=@row.codigo>
                                    <td>@row.codigo</td>
                                    <td>@row.nombre</td>
                                    <td>@row.cant</td>
                                    <td>@row.total</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>                
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-8 col-sm-2 col-sm-offset-8 col-xs-6 ">
            <strong class="pull-right">TOTAL (S/.)</strong>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-6">
            <input type="text" class="numero form-control" readonly value="@totalf">
        </div>
    </div>
</div>

