@using WebApplication4.Models
@model VenderEntradaModel
@{
    ViewBag.Title = "ComprarEntradaReservadaA";
    Layout = "~/Views/Shared/_Layout.cshtml";
    inf245netsoft db = new inf245netsoft();
    List<Promociones> promocionesLista = ViewBag.Promociones as List<Promociones>;
    double? importe = ViewBag.Total as double?;
    double? descuento = ViewBag.Descuento as double?;
    double? montopagar = ViewBag.Pagar as double?;
    List<CarritoItem> carrito = new List<CarritoItem>();
    if (Session["CarritoItemVentas"] != null)
    {
        promocionesLista = ViewBag.Promociones as List<Promociones>;
        carrito = Session["CarritoItemVentas"] as List<CarritoItem>;
    }
}

<div class="container-fluid">
    <div class="col-md-5">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index2", "Home")">Inicio</a></li>
            <li class="active">Pagar Entrada</li>
        </ol>
    </div>
</div>
<div class="container" id="promocionesLista">
    <p>Mejores descuentos para su compra segun los items en su carrito:</p>
    <div id="listaEventoPromocion">
        @{
            for (int i = 0; i < promocionesLista.Count; i++)
            {
                string razon = "";
                if (promocionesLista[i].codPromo == -1)
                {
                    razon = "- No cuenta con promocion";
                }
                else
                {
                    razon = "- Descuento de " + promocionesLista[i].descuento + "%.";
                }
                @Html.Hidden("eventosCarrito", "" + carrito[i].idEvento)
                @Html.Hidden("promocionesCarrito", "" + promocionesLista[i].codPromo)
                @Html.Hidden("subtotalCarrito", "" + carrito[i].precio)
                <p style="margin-left:2em">@razon</p>
            }
        }
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8" id="tarjeta">
            <h3>Información de la tarjeta</h3><br />
            <div class="container row form-group">
                <div>
                    @Html.Label("lblReg", "¿Es usuario registrado?")
                    @Html.CheckBox("registrado", new { @onchange = "cambio()" })
                </div>
                <div class="form-inline">
                    <div class="col-md-2">
                        <label for="dni" class="control-label">Tipo Doc:</label>
                    </div>
                    <div class="input-group col-md-3">
                        <select class="form-control" id="comboBusq" disabled>
                            <option value="0">Ambos</option>
                            <option value="1">DNI</option>
                            <option value="2">Pasaporte</option>
                        </select>
                    </div>
                    <label for="dni" class="control-label">Buscar por N° Documento:</label>
                    <div class="input-group col-md-3">
                        <input id="idBusq" type="text" class="form-control" disabled>
                        <span class="input-group-btn"><button id="btnBusqueda" onclick="busca()" class="btn btn-primary" type="button" disabled><span class="glyphicon glyphicon-search"></span></button></span>
                    </div>
                </div>
            </div>
            @using (Html.BeginForm("VenderEntrada", "Ventas", FormMethod.Post))
            {
                <div class="row form-group">
                    @Html.LabelFor(c => c.Nombre, new { @class = "control-label col-md-3" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(c => c.Nombre, new { @class = "form-control" })
                        @Html.ValidationMessageFor(c => c.Nombre)
                    </div>
                </div>
                <div class="row form-group">
                    @Html.LabelFor(c => c.Dni, new { @class = "control-label col-md-3" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(c => c.Dni, new { @class = "form-control" })
                        @Html.ValidationMessageFor(c => c.Dni)
                    </div>
                </div>
                <div class="row form-group">
                    @Html.LabelFor(c => c.idBanco, new { @class = "control-label col-md-3" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(c => c.idBanco, ViewBag.Bancos as SelectList, new { @disabled = "disabled", @class = "form-control", @onchange = "calculaPromo()" })
                        @Html.ValidationMessageFor(c => c.idBanco)
                    </div>
                </div>

                <div class="row form-group">
                    @Html.LabelFor(c => c.idTipoTarjeta, new { @class = "control-label col-md-3" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(c => c.idTipoTarjeta, ViewBag.TipoTarjeta as SelectList, new { @disabled = "disabled", @class = "form-control", @onchange = "calculaPromo()" })
                    </div>
                </div>

                <div class="row form-group">
                    @Html.LabelFor(c => c.NumeroTarjeta, new { @class = "control-label col-md-3" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(c => c.NumeroTarjeta, new { @disabled = "disabled", @class = "form-control" })
                    </div>
                </div>

                <div class="row form-group">
                    @Html.LabelFor(c => c.CodCcv, new { @class = "control-label col-md-3" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(c => c.CodCcv, new { @disabled = "disabled", @class = "form-control" })
                        @Html.ValidationMessageFor(c => c.CodCcv)
                    </div>
                </div>

                <div class="row form-group">
                    @Html.LabelFor(c => c.Mes, new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.DropDownListFor(c => c.Mes, ViewBag.Mes as List<SelectListItem>, new { @disabled = "disabled", @class = "form-control" })
                        @Html.ValidationMessageFor(c => c.Mes)
                    </div>
                    @Html.LabelFor(c => c.AnioVen, new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.DropDownListFor(c => c.AnioVen, ViewBag.AnVen as List<SelectListItem>, new { @disabled = "disabled", @class = "form-control" })
                        @Html.ValidationMessageFor(c => c.AnioVen)
                    </div>
                </div>

                <h3>Información de montos</h3><br>
                <div class="row form-group">
                    @Html.LabelFor(c => c.Importe, new { @class = "control-label col-md-3" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(c => c.Importe, new { @class = "form-control", @Value = importe, @readonly = "readonly" })
                    </div>
                </div>

                <div class="row form-group">
                    @Html.LabelFor(c => c.Descuento, new { @class = "control-label col-md-3" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(c => c.Descuento, new { @class = "form-control", @Value = "" + 0, @readonly = "readonly" })
                    </div>
                </div>

                <div class="row form-group">
                    @Html.LabelFor(c => c.MontoPagar, new { @class = "control-label col-md-3" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(c => c.MontoPagar, new { @class = "form-control", @Value = montopagar, @readonly = "readonly" })
                    </div>
                </div>

                <div class="row form-group">
                    @Html.LabelFor(c => c.MontoEfe, new { @class = "control-label col-md-3" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(c => c.MontoEfe, new { @class = "form-control", @onchange = "llenar()" })
                    </div>
                </div>

                <div class="row form-group">
                    @Html.LabelFor(c => c.MontoTar, new { @class = "control-label col-md-3" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(c => c.MontoTar, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
                <div class="row form-group">
                    @Html.LabelFor(c => c.Vuelto, new { @class = "control-label col-md-3" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(c => c.Vuelto, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <input type="submit" value="Finalizar Compra" class="btn btn-default btn-primary" />
                    </div>
                </div>
            }
        </div>
    </div>
    <br />
</div>
<script>
    function llenar() {
        var montoefe = $("#MontoEfe").val();
        var montopagar = $("#MontoPagar").val();
        if (parseFloat(montoefe) < 0) {
            alert("El monto debe ser mayor o igual a cero");
            return false;
        }

        if (parseFloat(montoefe) > parseFloat(montopagar)) {
            var vuelto = montoefe - montopagar;
            $('#Vuelto').val(vuelto);
            $('#MontoTar').val(0);
        } else {
            var montotar = montopagar - montoefe;
            $("#MontoTar").val(montotar);
            $('#Vuelto').val(0);
        }
        montoTar = $('#MontoTar').val();
        if (parseFloat(montoTar) == 0) {
            document.getElementById("AnioVen").disabled = true;
            document.getElementById("Mes").disabled = true;
            document.getElementById("CodCcv").disabled = true;
            document.getElementById("NumeroTarjeta").disabled = true;
            document.getElementById("idTipoTarjeta").disabled = true;
            document.getElementById("idBanco").disabled = true;
        }
        else {
            document.getElementById("AnioVen").disabled = false;
            document.getElementById("Mes").disabled = false;
            document.getElementById("CodCcv").disabled = false;
            document.getElementById("NumeroTarjeta").disabled = false;
            document.getElementById("idTipoTarjeta").disabled = false;
            document.getElementById("idBanco").disabled = false;
        }

    }

    function calculaPromo() {
        var idBanco = parseInt($('#idBanco').val());
        var tipoTarjeta = parseInt($('#idTipoTarjeta').val());
        var eventosBTV = document.getElementsByName('eventosCarrito');
        var subtotalBTV = document.getElementsByName('subtotalCarrito');
        var arrRazon = [];
        var eventosCarritos = [];
        var promocionCarritos = [];
        var descuentoCarritos = [];
        var subtotalCarritos = [];
        for (var i = 0; i < eventosBTV.length ; i++) {
            var codEvento = eventosBTV[i].value;
            eventosCarritos.push(codEvento);
            subtotalCarritos.push(subtotalBTV[i].value);
            $.ajax({
                url: '/Services/Descuento/',
                data: { codEvento: codEvento, idBanco: idBanco, tipoTarjeta: tipoTarjeta },
                datatype: "json",
                async: false,
                success: function (data) {
                    var obj = $.parseJSON(data);
                    //si tenemos data, escribimos denuevo el valor
                    var razon = "";
                    if (parseInt(obj.Descuento) == -1) {
                        razon = "- No cuenta con promocion";
                    } else {
                        razon = "- Descuento de " + obj.Descuento + "%.";
                    }
                    arrRazon.push(razon);
                    descuentoCarritos.push(obj.Descuento);
                    promocionCarritos.push(obj.IdPromocion);
                },
                error: function () {
                    alert("Error :(");
                }
            });
        }
        //relleno denuevo el esto :v
        $('#listaEventoPromocion').empty();
        var descuentoTotal = 0;
        for (var i = 0; i < arrRazon.length; i++) {
            var inputEventos = document.createElement("input");
            inputEventos.setAttribute("type", "hidden");
            inputEventos.setAttribute("id", "eventosCarrito");
            inputEventos.setAttribute("name", "eventosCarrito");
            inputEventos.setAttribute("value", eventosCarritos[i]);

            var inputPromociones = document.createElement("input");
            inputPromociones.setAttribute("type", "hidden");
            inputPromociones.setAttribute("id", "promocionesCarrito");
            inputPromociones.setAttribute("name", "promocionesCarrito");
            inputPromociones.setAttribute("value", promocionCarritos[i]);

            var inputSubtotal = document.createElement("input");
            inputSubtotal.setAttribute("type", "hidden");
            inputSubtotal.setAttribute("id", "subtotalCarrito");
            inputSubtotal.setAttribute("name", "subtotalCarrito");
            var subtotalconDescuento = 0;
            if (descuentoCarritos[i] != -1) {
                subtotalconDescuento += parseInt(subtotalCarritos[i]) * descuentoCarritos[i] / 100;
            }
            descuentoTotal += subtotalconDescuento;
            inputSubtotal.setAttribute("value", subtotalCarritos[i]);

            var razonP = document.createElement("p");
            razonP.setAttribute("style", "margin-left:2em");
            var texto = document.createTextNode(arrRazon[i]);
            razonP.appendChild(texto);
            $('#listaEventoPromocion').append(inputEventos);
            $('#listaEventoPromocion').append(inputPromociones);
            $('#listaEventoPromocion').append(inputSubtotal);
            $('#listaEventoPromocion').append(razonP);
        }
        //actualizamos el nuevo total
        var importe = parseFloat($('#Importe').val());
        var montoPagar = importe - descuentoTotal;
        $('#Descuento').val(descuentoTotal);
        $('#MontoPagar').val(montoPagar);
        var montoTar = montoPagar - parseFloat($('#MontoEfe').val());
        $('#MontoTar').val(montoTar);
    }

    function llenaArreglo() {
        var nombreLista1 = "idEventos";
        var nombreLista2 = "idPromociones";
        var promocionesBTV = document.getElementsByName('promocionesCarrito');
        var eventosBTV = document.getElementsByName('eventosCarrito');
        for (var i = 0; i < promocionesBTV.length; i++) {
            var idProm = promocionesBTV[i].value;
            $("#formPost").prepend("<input type='hidden' name='" + nombreLista2 + "[" + (i) + "]' value='" + idProm + "'>");
        }
        for (var i = 0; i < eventosBTV.length; i++) {
            var idEvento = eventosBTV[i].value;
            $("#formPost").prepend("<input type='hidden' name='" + nombreLista1 + "[" + (i) + "]' value='" + idEvento + "'>");
        }
        return true;
    }
    function cambio() {
        //idBusq
        //btnBusqueda
        //Nombre
        //Dni
        //comboBusq
        //si es un
        if ($('#idBusq').attr('disabled') && $('#btnBusqueda').attr('disabled')) {
            $('#idBusq').removeAttr('disabled');
            $('#btnBusqueda').removeAttr('disabled');
            $('#comboBusq').removeAttr('disabled');
            $('#Nombre').attr({ 'disabled': 'disabled' })
            $('#Dni').attr({ 'disabled': 'disabled' })
        } else {
            $('#idBusq').attr({ 'disabled': 'disabled' })
            $('#btnBusqueda').attr({ 'disabled': 'disabled' })
            $('#comboBusq').attr({ 'disabled': 'disabled' })
            $('#Nombre').removeAttr('disabled');
            $('#Dni').removeAttr('disabled');
        }
    }

    function busca() {
        var usuario = $('#idBusq').val();
        var tipo = $('#comboBusq option:selected').val();
        $.ajax({
            url: "/Services/BuscaCliente/",
            data: { usuario: usuario, tipo: tipo },
            success: function (data) {
                var obj = JSON.parse(data);
                $('#Nombre').val(obj.Nombre);
                $('#Dni').val(obj.Dni);
            },
            error: function () {
                alert("Usuario no registrado");
                $('#Nombre').val("");
                $('#Dni').val("");
            }
        });
    }
</script>
