@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Microsoft.AspNet.Identity
@using WebApplication4.Models
@model LocalEditModel
@{
    var db = new WebApplication4.Models.inf245netsoft();
    //se obtiene el local guardado en el session
    Local local = (Local)Session["local"];
    //se define un localModel y se le asignan los datos del local guardado
    LocalEditModel localM = new LocalEditModel();
    int idR = 0;
    int idP = 0;    
    //localM.aforo = (int)local.aforo;
    localM.idRegion = (int)local.idRegion;
    idR = (int)local.idRegion;
    localM.descripcion = local.descripcion;
    localM.idProv = (int)local.idProvincia;
    idP = (int)local.idProvincia;
    localM.ubicacion = local.ubicacion;
    //se le asignan los valores del localModel a los campos que se editaran
}
<style>
    .contenedor {
        border: 1px solid #080808;
    }
</style>

<div class="container-fluid">
    <div class="col-md-3">
        <ol class="breadcrumb">
            <li class="active"><a href="@Url.Action("Index","Local")"> Mantenimiento de locales</a></li>
            <li>Editar local</li>
        </ol>
    </div>
</div>

<div class="container">
    @using (Html.BeginForm("EditRegister", "Local", FormMethod.Post, new { model = localM }))
    {
        @Html.AntiForgeryToken()
        <div class="col-md-8 col-md-offset-2 contenedor">
            <div class="form-horizontal">
                @Html.ValidationSummary(true)
                <br>
                <div class="row form-group">
                    @Html.LabelFor(model => model.descripcion, new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.descripcion, new { @class = "form-control", @placeholder = @localM.descripcion, @Value = @localM.descripcion })
                        @*@Html.ValidationMessageFor(model => model.descripcion)*@
                    </div>
                </div>
                
                <div class="row form-group">
                    @Html.LabelFor(model => model.ubicacion, new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.ubicacion, new { @class = "form-control", @placeholder = @localM.ubicacion, @Value = @localM.ubicacion })
                        @*@Html.ValidationMessageFor(model => model.ubicacion)*@
                    </div>
                </div>

                <div class="row form-group">
                    @Html.LabelFor(model => model.idRegion, new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.idRegion, @ViewBag.DepID as SelectList, "Departamento", new { @class = "form-control", @onchange = "cambioDepartamento()" })
                    </div>
                </div>

                <div class="row form-group">
                    @Html.LabelFor(model => model.idProv, new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.idProv, @ViewBag.ProvID as SelectList, "Provincia", new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <center>
                        <button type="submit" class="btn  btn-primary"><span class="glyphicon glyphicon-save"></span> Guardar cambios</button>
                        <a href="@Url.Action("Index","Local")" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Cancelar</a>
                    </center>
                </div>
            </div>
        </div>
        
    }
</div>


<input type="hidden" id="idRegT" value="@idR" />
<input type="hidden" id="idProvT" value="@idP" />

<script>
    function cambioDepartamento() {
        //se define la funcion que llenara las provincias en funcion de la region seleccionada
        var depId = parseInt($("#idRegion").val());
        if (!isNaN(depId)) {
            var ddProv = $("#idProv");
            ddProv.empty();
            ddProv.append($("<option></option>").val("").html("Provincia"));
            $.ajax({
                url: "@Url.Action("Provincia","Services")",
                data: { depId: depId },
                datatype: "json",
                success: function (data) {
                    var obj = $.parseJSON(data);
                    $.each(obj, function (k, v) {
                        ddProv.append($("<option></option>").val(v.IdRegion).html(v.Nombre));
                    });
                },
                error: function () {
                    alert("Error :(");
                }
            });
        }
        ddProv.empty();
    }
</script>