@using Microsoft.AspNet.Identity
@using WebApplication4.Models


@model LocalModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPersonal.cshtml";
    var db = new WebApplication4.Models.inf245netsoft();
    List<WebApplication4.Models.Region> listaSearch= db.Region.AsNoTracking().Where(c => c.idRegPadre == null).ToList();
    IEnumerable<SelectListItem> listItemsSearch = (from a in listaSearch
                                             select new SelectListItem
                                             {
                                                 Value = a.idRegion.ToString(),
                                                 Text = a.nombre,
                                                 Selected = false
                                             });                                       
}

<div class="container-fluid">
    <div class="col-md-5">
        <ol class="breadcrumb">
            <li class="active">Mantenimiento de Locales</li>
        </ol>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <a class="btn btn-primary" href="#formNuevo" data-toggle="modal">Nuevo <span class="glyphicon glyphicon-plus"></span></a>
                <a class="btn btn-primary" data-toggle="modal" onclick="redirige()">Modificar<span class="glyphicon glyphicon-pencil"></span></a>
                <a class="btn btn-primary" href="#eliminar" data-toggle="modal">Borrar<span class="glyphicon glyphicon-remove"></span></a>
            </div>
        </div>

        <div class="col-md-3">
            <form action="" class="" role="search">
                <div class="form-group">
                    <div class="input-group">
                        <input id="idBusq" type="text" class="form-control" placeholder="NOMBRE DEL LOCAL">
                        <span class="input-group-btn"><button onclick="busca()" class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button></span>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-2">
            <select class="form-control" name="" id="comboBusq" onchange="busca2()">
                <option>Departamento</option>
                <option value="0">Todos</option>
                @foreach (var item in listaSearch)
                {
                    <option value="@item.idRegion">
                        @item.nombre
                    </option>
                }
            </select>
        </div>

        <div class="col-md-1">
            <a class="btn btn-danger pull-right" href="@Url.Action("Index2", "Home")">Salir <span class="glyphicon glyphicon-log-out"></span></a>
        </div>

    </div>

    @*@{
        Html.RenderPartial("_Search");
    }*@
    @{
        List<WebApplication4.Models.Local> listaLocal ;
        if (Session["ListaL"] == null)
        {
            listaLocal = db.Local.ToList();
        }
        else
        {
            listaLocal = (List<WebApplication4.Models.Local>)Session["ListaL"];
        }
    }

    <div class="row">
        <table id="mytable" class="table table-bordered table-hover">
            <thead>
                <tr class="thead">
                    <th>Id</th>
                    <th>Descripcion</th>
                    <th>Ubicacion</th>
                    <th>Aforo</th>
                    <th>Provincia</th>
                    <th>Departamento</th>
                    @*<th></th>
                    <th></th>*@
                </tr>
            </thead>
            <tbody id="tbody">
                @foreach (var row in listaLocal)
                {
                    <tr id=@row.codLocal onclick="myFunction(this)">
                        <td>@row.codLocal</td>
                        <td>@row.descripcion</td>
                        <td>@row.ubicacion</td>
                        <td>@row.aforo</td>
                        <td>@db.Region.Find(row.idProvincia).nombre</td>
                        <td>@db.Region.Find(row.idRegion).nombre</td>
                        @*<td>@Html.ActionLink("Delete", "Delete", new { id = row.codLocal })</td>*@
                        @*<td><a href="@Url.Action("Edit", "Local", new { id = row.codLocal })" class="btn btn-primary">Modificar <span class="glyphicon glyphicon-pencil"></span></a></td>
                        <td><a href="@Url.Action("Delete", "Local", new { id = row.codLocal })" class="btn btn-primary">Dar de Baja <span class="glyphicon glyphicon-remove"></span></a></td>*@
                    </tr>
                }
            </tbody>
        </table>
    </div>


</div>


<div class="modal fade" id="formNuevo">
    <!--esta div pondra la pantalla oscura al presionar el boton-->
    <div class="modal-dialog">
        <div class="modal-content">
            <!--ACA VA EL CONTENIDO DEL MODAL-->
            <!--header de la ventana-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times; </button>
                <h4 class="modal-title">Nuevo Local</h4>
            </div>
            <!--contenido de la ventana-->
            @using Microsoft.AspNet.Identity
            @using WebApplication4.Models



            @using (Html.BeginForm("RegisterLocal", "Local", FormMethod.Post, new { }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true)
                    <br>
                    <div class="row form-group">
                        @Html.LabelFor(model => model.aforo, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.aforo)
                            @Html.ValidationMessageFor(model => model.aforo)
                        </div>
                    </div>

                    <div class="row form-group">
                        @Html.LabelFor(model => model.descripcion, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.descripcion)
                            @Html.ValidationMessageFor(model => model.descripcion)
                        </div>
                    </div>
                    <br>
                    <div class="row form-group">
                        @Html.LabelFor(model => model.ubicacion, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.ubicacion)
                            @Html.ValidationMessageFor(model => model.ubicacion)
                        </div>
                    </div>

                    <div class="row form-group">
                        @Html.LabelFor(model => model.departamento, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @{                
                                List<WebApplication4.Models.Region> listaDepartamento = db.Region.AsNoTracking().Where(c => c.idRegPadre == null).ToList();
                                IEnumerable<SelectListItem> listItems = (from a in listaDepartamento
                                                         select new SelectListItem
                                                       {
                                                           Value = a.idRegion.ToString(),
                                                           Text = a.nombre,
                                                           Selected = false
                                                       });
                                listItems.First().Selected = true;                     
                            }
                            @Html.DropDownListFor(model => model.departamento, listItems, "Seleccione Departamento")
                        </div>
                    </div>
                    
                    <div class="row form-group">
                        @Html.LabelFor(model => model.provincia, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @{            
                                List<WebApplication4.Models.Region> listaProvincia = db.Region.AsNoTracking().Where(c => c.idRegPadre != null).ToList();
                                //List<WebApplication4.Models.Region> listaProvincia = db.Region.AsNoTracking().Where(c => c.idRegPadre == 1).ToList();
                                //List<WebApplication4.Models.Region> listaProvincia;
                                //int i=(int)ViewData["Region"];
                                //if (ViewData["Region"] != null)
                                //{
                                //    listaProvincia = db.Region.AsNoTracking().Where(c => c.idRegPadre == i).ToList();
                                //}
                                //else
                                //{
                                //    listaProvincia = db.Region.AsNoTracking().Where(c => c.idRegPadre != null).ToList();
                                //}                                
                                    IEnumerable<SelectListItem> listItems2 = (from a in listaProvincia
                                                         select new SelectListItem
                                                       {
                                                           Value = a.idRegion.ToString(),
                                                           Text = a.nombre,
                                                           Selected = false
                                                       });
                            }
                            @Html.DropDownListFor(model => model.provincia, listItems2, "Seleccione Provincia")
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Agregar" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            }
            <!--footer de la ventana-->
            @*<div class="modal-footer">
                <button type="button" onclick="registrar()" class="btn btn-primary">Agregar <span class="glyphicon glyphicon-ok"></span></button>
            </div>*@
        </div>
    </div>
</div>

<input type="hidden" id="idLocalT" value="" />
<script>
    function myFunction(x) {
        if (document.getElementsByClassName("trselected").length > 0) {
            var element = document.getElementsByClassName("trselected");
            //element.item[0].cells[0].innerText;
            element[0].className = "";
        }
        //var tabla = document.getElementById("mytable");
        //alert(x);
        //var y = x.getCells();
        var elem = document.getElementById("idLocalT");
        elem.value = x.cells[0].innerHTML;
        //alert(x.cells[0].innerHTML);
        //ViewBag.P = x.cells[0].innerHTML;
        x.className = "trselected";

        //<a class="btn btn-primary" href="javascript:document.getElementsByClassName('trselected').submit()">Borrar<span class="glyphicon glyphicon-pencil"></span></a>
        //idProm = x.codp;
    }
    function borrar() {
        var local = $('#idLocalT').val();
        var el = document.getElementById(local);
        var row = $(el).closest('tr');
        //alert(evento);
        //alert(promocion);
        if (local != "" && local != null) {
            $.ajax({
                url: "@Url.Action("Delete","Local")",
                data: { local: local },
                success: function (data) {
                    //alert("Eliminado");
                    $('#eliminar').modal('hide');
                    row.remove();
                    window.location.href = '/Local/Index';
                },
                error: function () {
                    alert("Error :(");
                }
            });
        } else {
            alert("Seleccione un Local");
            evento = "";
        }
    }
    function redirige() {
        var local = $('#idLocalT').val();
        if (local != "") {
            window.location.href = '/Local/Edit?local=' + local;
        } else {
            alert("Seleccione un Local");
            evento = "";
        }
        //$.post('/Regalo/Edit/' + regalo);
    }
    function busca() {
        var local = $('#idBusq').val();
        //var el = document.getElementById(regalo);
        //var row = $(el).closest('tr');
        //alert(evento);
        //alert(promocion);
        $.ajax({
            url: "@Url.Action("Search2", "Local")",
            data: { local: local },
            success: function (data) {
                window.location.href = '/Local/Index';
                //alert("Eliminado");
                //row.remove();
            },
            error: function () {
                alert("Error :(");
            }
        });
    }
    function busca2() {
        var region = $('#comboBusq option:selected').val();
        //alert($('#comboBusq option:selected').val());
        //var local = $('#idBusq').val();
        //var el = document.getElementById(regalo);
        //var row = $(el).closest('tr');
        //alert(evento);
        //alert(promocion);
        $.ajax({
            url: "@Url.Action("Search3", "Local")",
            data: { region: region },
        success: function (data) {
            window.location.href = '/Local/Index';
            //alert("Eliminado");
            //row.remove();
        },
        error: function () {
            alert("Error :(");
        }
    });
    }
    function closewindow() {
        $('#eliminar').modal('hide');
    }
</script>

<style>
    .trselected {
        background: gray;
    }
</style>

<div class="modal fade" id="eliminar">
    <!--esta div pondra la pantalla oscura al presionar el boton-->
    <div class="modal-dialog">
        <div class="modal-content">
            <!--ACA VA EL CONTENIDO DEL MODAL-->
            <!--header de la ventana-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times; </button>
                <h4 class="modal-title">Aviso</h4>
            </div>
            <!--contenido de la ventana-->
            <div class="modal-body">
                ¿Está seguro que quiere dar de baja el registro?
            </div>
            <!--footer de la ventana-->
            <div class="modal-footer">
                <button type="button" onclick="borrar()" class="btn btn-primary">Aceptar <span class="glyphicon glyphicon-ok"></span></button>
                <button type="button" onclick="return closewindow();" class="btn btn-danger">Cancelar <span class="glyphicon glyphicon-remove"></span></button>
            </div>
        </div>
    </div>
</div>
