@using Microsoft.AspNet.Identity
@using WebApplication4.Models


@model LocalModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var db = new WebApplication4.Models.inf245netsoft();
    List<WebApplication4.Models.Region> listaSearch = db.Region.AsNoTracking().Where(c => c.idRegPadre == null).ToList();

}
<style>
    td{text-align:center}
</style>
<div class="container-fluid">
    <div class="col-md-5">
        <ol class="breadcrumb">
            <li class="active">Mantenimiento de Locales</li>
        </ol>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <a class="btn btn-success" href="#formNuevo" data-toggle="modal"><span class="glyphicon glyphicon-plus"></span> Nuevo</a>
                <a class="btn btn-primary" data-toggle="modal" onclick="redirige()"><span class="glyphicon glyphicon-pencil"></span> Modificar</a>
                <a class="btn btn-danger" onclick="validaS()" data-toggle="modal"><span class="glyphicon glyphicon-trash"></span> Eliminar</a>
                <a class="btn btn-default" onclick="activa()" data-toggle="modal" id="Activate"><span class="glyphicon glyphicon-ok"></span> Activar</a>
                <a class="btn btn-default" id="idBusq2" onclick="buscaI()" data-toggle="modal"><span class="glyphicon glyphicon-eye-open"></span> Inactivos</a>
            </div>
        </div>

        <div class="col-md-4">
            <form action="" class="" role="search">
                <div class="form-group">
                    <div class="input-group">
                        <input id="idBusq" type="text" class="form-control" placeholder="NOMBRE DEL LOCAL">
                        <span class="input-group-btn"><button onclick="busca()" class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button></span>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-2">
            <select class="form-control" name="" id="comboBusq" onchange="busca2()">
                <option>Departamento</option>
                <option value="0">Todos</option>
                @foreach (var item in listaSearch)
                {
                    <option value="@item.idRegion">
                        @item.nombre
                    </option>
                }
            </select>
        </div>
    </div>

    @*@{
            Html.RenderPartial("_Search");
        }*@
    @{
        List<WebApplication4.Models.Local> listaLocal;
        if (Session["ListaL"] == null)
        {
            listaLocal = db.Local.AsNoTracking().Where(c => c.estaActivo == true).ToList();
        }
        else
        {
            listaLocal = (List<WebApplication4.Models.Local>)Session["ListaL"];
        }
    }

    <div class="row">
        <div class="table-responsive">
            <table id="mytable" class="table table-bordered table-hover">
                <thead>
                    <tr class="thead">
                        <th class="col-md-1">Código</th>
                        <th class="col-md-3">Descripción</th>
                        <th class="col-md-3">Ubicación</th>
                        <th class="col-md-2">Provincia</th>
                        <th class="col-md-2">Departamento</th>
                        <th class="col-md-1">Estado</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                    @foreach (var row in listaLocal)
                    {
                        <tr id=@row.codLocal onclick="myFunction(this)">
                            <td>@row.codLocal</td>
                            <td>@row.descripcion</td>
                            <td>@row.ubicacion</td>
                            @*<td>@row.aforo</td>*@
                            <td>@db.Region.Find(row.idProvincia).nombre</td>
                            <td>@db.Region.Find(row.idRegion).nombre</td>
                            @{
                        string state = "";
                        if (row.estaActivo.HasValue)
                        {
                            if ((bool)row.estaActivo)
                            { state = "Activo"; }
                            else { state = "Inactivo"; }
                        }
                            }
                            <td>@state</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="modal fade" id="formNuevo">
    <!--esta div pondra la pantalla oscura al presionar el boton-->
    <div class="modal-dialog">
        <div class="modal-content">
            <!--ACA VA EL CONTENIDO DEL MODAL-->
            <!--header de la ventana-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times; </button>
                <h4 class="modal-title">Nuevo Local</h4>
            </div>
            <!--contenido de la ventana-->
            @using Microsoft.AspNet.Identity
            @using WebApplication4.Models
            @using (Html.BeginForm("RegisterLocal", "Local", FormMethod.Post, new { }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true)
                    <br />
                    <div class="row form-group">
                        @Html.LabelFor(model => model.descripcion, new { @class = "control-label col-md-3" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.descripcion)
                        </div>
                    </div>
                    <div class="row form-group">
                        @Html.LabelFor(model => model.ubicacion, new { @class = "control-label col-md-3" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.ubicacion, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ubicacion)
                        </div>
                    </div>

                    <div class="row form-group">
                        @Html.LabelFor(model => model.idRegion, new { @class = "control-label col-md-3" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.idRegion, @ViewBag.DepID as SelectList, "Departamento", new { @class = "form-control", @onchange = "cambioDepartamento()" })
                        </div>
                    </div>

                    <div class="row form-group">
                        @Html.LabelFor(model => model.idProv, new { @class = "control-label col-md-3" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.idProv, @ViewBag.ProvID as SelectList, "Provincia", new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        <center>
                            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Agregar</button>
                        </center>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<input type="hidden" id="idLocalT" value="" />
<input type="hidden" id="EstadoLT" value="" />

<script>
    function myFunction(x) {
        if (document.getElementsByClassName("trselected").length > 0) {
            var element = document.getElementsByClassName("trselected");
            //element.item[0].cells[0].innerText;
            element[0].className = "";
        }
        //var tabla = document.getElementById("mytable");
        //alert(x);
        //var y = x.getCells();
        var elem = document.getElementById("idLocalT");
        elem.value = x.cells[0].innerHTML;
        var elem2 = document.getElementById("EstadoLT");
        elem2.value = x.cells[5].innerHTML;
        x.className = "trselected";

        //<a class="btn btn-primary" href="javascript:document.getElementsByClassName('trselected').submit()">Borrar<span class="glyphicon glyphicon-pencil"></span></a>
        //idProm = x.codp;
    }
    function validaS() {
        var local = $('#idLocalT').val();
        if (local != null && local != "") {
            $('#eliminar').modal('show');
        } else {
            alert("Seleccione un Local");
        }
    }
    function cambio() {

        fillCombo("idProv", $("#idRegion").val(), "Distritos", "Distritos");

    }
    function fillCombo(idCombo, value, linkUrl, optlabel) {

        $("#" + idCombo).empty();
        $("#" + idCombo).append("<option value=''>" + optlabel + "</option>")


        var depId = parseInt(value);
        if (isNaN(depId)) return;
        $.ajax({
            url: linkUrl,
            data: { depId: depId },
            datatype: "json",
            success: function (data) {
                var obj = $.parseJSON(data);
                $.each(obj, function (k, v) {
                    $("#" + idCombo).append("<option value='" + v.IdRegion + "'>" + v.Nombre + "</option>");
                });
            },
            error: function () {
                alert("Error :(");
            }
        });
    }
    function cambioDepartamento() {
        var depId = parseInt($("#idRegion").val());
        if (!isNaN(depId)) {
            var ddProv = $("#idProv");
            ddProv.empty();
            ddProv.append($("<option></option>").val("").html("Provincia"));
            $.ajax({
                url: "@Url.Action("Provincia","Services")",
                data: { depId: depId },
                datatype: "json",
                success: function (data) {
                    var obj = $.parseJSON(data);
                    $.each(obj, function (k, v) {
                        ddProv.append($("<option></option>").val(v.IdRegion).html(v.Nombre));
                    });
                },
                error: function () {
                    alert("Error :(");
                }
            });
        }
        ddProv.empty();
    }
    function borrar() {
        var local = $('#idLocalT').val();
        var estado = $('#EstadoLT').val();
        var el = document.getElementById(local);
        var row = $(el).closest('tr');
        //alert(evento);
        //alert(promocion);
        if (local != "" && local != null) {
            if (estado != "Inactivo") {
                $.ajax({
                    url: "@Url.Action("Delete","Local")",
                    data: { local: local },
                    success: function (data) {
                        alert(data);
                        $('#eliminar').modal('hide');
                        row.remove();
                        window.location.href = '/Local/Index';
                    },
                    error: function (data) {
                        alert(data);
                    }
                });
            } else {
                alert("No se puede desactivar un Local que ya esta desactivado");
            }
        } else {
            alert("Seleccione un Local");
            evento = "";
        }
    }
    function activa() {
        var local = $('#idLocalT').val();
        var estado = $('#EstadoLT').val();
        var el = document.getElementById(local);
        var row = $(el).closest('tr');
        //alert(evento);
        //alert(promocion);
        if (local != "" && local != null) {
            if (estado != "Activo") {
                $.ajax({
                    url: "@Url.Action("Active","Local")",
                    data: { local: local },
                    success: function (data) {
                        alert(data);
                        window.location.href = '/Local/Index';
                    },
                    error: function (data) {
                        alert(data);
                    }
                });
            } else {
                alert("No se puede activar un Local que ya esta activado");
            }
        } else {
            alert("Seleccione un Local");
            evento = "";
        }
    }
    function redirige() {
        var local = $('#idLocalT').val();
        var estado = $('#EstadoLT').val();
        if (local != "") {
            if (estado != "Inactivo") {
                var elem = document.getElementById("idLocalT");
                elem.value = "";
                window.location.href = '/Local/Edit?local=' + local;
            } else {
                alert("El Local esta desactivado no se puede editar");
            }
        } else {
            alert("Seleccione un Local");
            evento = "";
        }
        //$.post('/Regalo/Edit/' + regalo);
    }
    function busca() {
        var local = $('#idBusq').val();
        //var el = document.getElementById(regalo);
        //var row = $(el).closest('tr');
        //alert(evento);
        //alert(promocion);
        $.ajax({
            url: "@Url.Action("Search2", "Local")",
            data: { local: local },
            success: function (data) {
                window.location.href = '/Local/Index';
                //alert("Eliminado");
                //row.remove();
            },
            error: function () {
                alert("Error :(");
            }
        });
    }
    function buscaI() {
        $.ajax({
            url: "@Url.Action("SearchI", "Local")",
            data: {},
            success: function (data) {
                window.location.href = '/Local/Index';
                //alert("Eliminado");
                //row.remove();
            },
            error: function () {
                alert("Error :(");
            }
        });
    }
    function busca2() {
        var region = $('#comboBusq option:selected').val();
        //alert($('#comboBusq option:selected').val());
        //var local = $('#idBusq').val();
        //var el = document.getElementById(regalo);
        //var row = $(el).closest('tr');
        //alert(evento);
        //alert(promocion);
        $.ajax({
            url: "@Url.Action("Search3", "Local")",
            data: { region: region },
            success: function (data) {
                window.location.href = '/Local/Index';
                //alert("Eliminado");
                //row.remove();
            },
            error: function () {
                alert("Error :(");
            }
        });
    }
    function closewindow() {
        $('#eliminar').modal('hide');
    }
</script>

<div class="modal fade" id="eliminar">
    <!--esta div pondra la pantalla oscura al presionar el boton-->
    <div class="modal-dialog">
        <div class="modal-content">
            <!--header de la ventana-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times; </button>
                <h4 class="modal-title">Aviso</h4>
            </div>
            <!--contenido de la ventana-->
            <div class="modal-body">
                <h4>Está a punto de dar de baja el local.</h4>
            </div>
            <!--footer de la ventana-->
            <div class="modal-footer">
                <button type="button" onclick="borrar()" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Eliminar</button>
                <!--button type="button" onclick="return closewindow();" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Cancelar</button-->
            </div>
        </div>
    </div>
</div>
